<!DOCTYPE html>
<html ng-app="ucookiApp" lang="it">

<head>

  <meta name="fragment" content="!">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <title ng-bind="metadata.title">Ordina piatti artigianali da asporto - Ucooki</title>

  <meta name="description" content="{{metadata.description}}"/>
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{{metadata.title}}">
  <meta itemprop="description" content="{{metadata.description}}">
  <meta itemprop="image" content="{{metadata.image}}">

  <!-- Favicons-->
  <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png"/>
  <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png"/>
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon-180x180.png"/>

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{metadata.canonical}}">
  <meta name="twitter:site" content="@ucooki1">
  <meta name="twitter:title" content="{{metadata.title}}">
  <meta name="twitter:description" content="{{metadata.description}}">
  <meta name="twitter:creator" content="@ucooki1">
  <meta name="twitter:image" content= "{{metadata.image}}"/>

  <!-- Open Graph data -->
  <meta property="og:title" content="{{metadata.title}}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{metadata.canonical}}"/>
  <meta property="og:image" content="{{metadata.image}}"/>
  <meta property="og:description" content="{{metadata.description}}"/>
  <meta property="og:site_name" content="Ucooki"/>
  <meta property="fb:app_id" content="1034614996596186"/>

  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!--
    IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
    For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
      -->
  <!--[if lt IE 9]>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
  <script>
    document.createElement('ui-select');
    document.createElement('ui-select-match');
    document.createElement('ui-select-choices');
  </script>
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="assets/css/style.css">


</head>

<body route-css-classnames ng-mouseleave="mouseExit()">

<!--[if lte IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a>.</p>
<![endif]-->

<div id="preloader">
  <div class="sk-spinner sk-spinner-wave" id="status">
    <div class="sk-rect1"></div>
    <div class="sk-rect2"></div>
    <div class="sk-rect3"></div>
    <div class="sk-rect4"></div>
    <div class="sk-rect5"></div>
  </div>
</div>
<!-- End Preload -->

<toast></toast>

<!-- Header Desktop ================================================== -->
<header class="hidden-xs hidden-sm hidden-md header-desktop">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <a ui-sref="home" class="logo">
          <i class="u-font u-icon-ucooki-logo"></i>

          <!--            <img src="assets/ucooki-theme/img/ucooki-logo.png" height="43" alt="" data-retina="true">-->
        </a>
      </div>
      <nav class="col-lg-8">
        <div ng-controller="NavbarCtrl" class="main-menu">
          <ul>
            <div ng-if="!isAuthenticated">
              <li>
                <a ng-click="closeMobileMenu()" class="access-link bar-link" ui-sref="login({return:getLocation()})">Accedi</a>
              </li>
            </div>


            <div ng-if="isAuthenticated">
              <li>
                <a ng-click="closeMobileMenu()" ui-sref="checkout">
                  <span class="icon-cart" aria-hidden="true"></span>
                </a>
              </li>
              <li class="submenu">
                <a href="javascript:void(0);" class="show-submenu bar-link">
                  {{user.name}} {{user.lastname}}
                  <i class="icon-down-open-mini"></i>
                </a>
                <ul class="popup-menu">
                  <li><a ui-sref="customer({customerId: user.id})" id="desktop-link-profile"><span
                    class="icon icon-user" aria-hidden="true"></span> Profilo</a></li>
                  <li>
                    <a ui-sref="dashboard.personal-info" id="desktop-link-das"><span class="icon icon-tasks"
                                                                                     aria-hidden="true"></span>
                      Dashboard</a>
                    <ol>
                      <li><a ui-sref="dashboard.personal-info" id="desktop-link-das-info"><span class="icon icon-doc-6"
                                                                                                aria-hidden="true"></span>
                        Informazioni Personali</a></li>
                      <div>
                        <li><a ui-sref="dashboard.orders" id="desktop-link-das-orders"><span class="icon icon-money"
                                                                                             aria-hidden="true"></span>
                          Ordini</a></li>
                        <li ng-if="user && user.cooker"><a ui-sref="dashboard.products"
                                                           id="desktop-link-das-products"><span class="icon icon-food-1"
                                                                                                aria-hidden="true"></span>
                          Il Mio Menù</a></li>
                      </div>
                    </ol>
                  </li>

                  <li ng-if="user.admin">
                    <a ui-sref="dashboard.admin-cooks"><span class="icon icon-tasks" aria-hidden="true"></span>
                      Amministra</a>
                    <ol>
                      <li><a ui-sref="dashboard.admin-cooks"><span class="icon icon-user" aria-hidden="true"></span>
                        Cuochi</a></li>
                      <li><a ui-sref="dashboard.admin-products"><span class="icon icon-th-list"
                                                                      aria-hidden="true"></span> Piatti</a></li>
                    </ol>
                  </li>
                  <li><a href="" ng-click="logout()"><span class="icon icon-logout-1" aria-hidden="true"></span>
                    Esci</a></li>
                </ul>
              </li>
            </div>
          </ul>
        </div>
        <!-- End main-menu -->
      </nav>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</header>
<!-- End Header Desktop =============================================== -->
<!-- Header Mobile ================================================== -->
<header class="hidden-lg header-mobile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <a ui-sref="home" class="logo">
          <i class="u-font u-icon-ucooki-logo"></i>
        </a>
      </div>
      <nav class="col-md-8 col-sm-8 col-xs-8" ng-controller="NavbarCtrl">
        <div ng-if="!isAuthenticated">
          <a class="access-link bar-link" ng-click="closeMobileMenu()"
             ui-sref="login({return:getLocation()})">Accedi</a>
        </div>

        <a ng-show="isAuthenticated" class="cmn-toggle-switch cmn-toggle-switch__htx open_close"
           href="javascript:void(0);"><span>Menu mobile</span></a>
        <div ng-show="isAuthenticated" class="main-menu">
          <div id="header_menu">
            <a ui-sref="home" ng-click="closeMobileMenu()"><i class="u-font u-icon-ucooki-logo"></i></a>
            <div>
              <h5>{{user.name}} {{user.lastname}}</h5>
            </div>
          </div>
          <a href="" class="open_close" id="close_in"><i class="icon_close"></i></a>
          <ul>
            <li>
              <a ng-click="closeMobileMenu()" ui-sref="home">
                <span class="icon icon-home" aria-hidden="true"></span> Home
              </a>
            </li>
            <li>
              <a ng-click="closeMobileMenu()" ui-sref="checkout">
                <span class="icon icon-cart" aria-hidden="true"></span> Carrello
              </a>
            </li>
            <li>
              <a ng-click="closeMobileMenu()" ui-sref="customer({customerId: user.id})">
                <span class="icon icon-user" aria-hidden="true"></span> Profilo
              </a>
            </li>
            <li>
              <a ng-click="closeMobileMenu()" ui-sref="dashboard.personal-info">
                <span class="icon icon-tasks" aria-hidden="true"></span> Dashboard
              </a>
              <ul>
                <li>
                  <a ng-click="closeMobileMenu()" ui-sref="dashboard.personal-info">
                    <span class="icon icon-doc-6" aria-hidden="true"></span> Informazioni Personali
                  </a>
                </li>
                <div>
                  <li>
                    <a ng-click="closeMobileMenu()" ui-sref="dashboard.orders">
                      <span class="icon icon-money" aria-hidden="true"></span> Ordini
                    </a>
                  </li>
                  <li>
                    <a ng-click="closeMobileMenu()" ui-sref="dashboard.products" ng-if="user && user.cooker">
                      <span class="icon icon-food-1" aria-hidden="true"></span> Il Mio Menù
                    </a>
                  </li>
                </div>
              </ul>
            </li>
            <li ng-if="user.admin">
              <a ng-click="closeMobileMenu()" ui-sref="dashboard.personal-info">
                <span class="icon icon-tasks" aria-hidden="true"></span> Amministra
              </a>
              <ul>
                <li>
                  <a ng-click="closeMobileMenu()" ui-sref="dashboard.admin-cooks">
                    <span class="icon icon-user" aria-hidden="true"></span> Cuochi
                  </a>
                </li>
                <li>
                  <a ng-click="closeMobileMenu()" ui-sref="dashboard.admin-products">
                    <span class="icon icon-th-list" aria-hidden="true"></span> Piatti
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="" ng-click="logout();closeMobileMenu()">
                <span class="icon icon-logout-1" aria-hidden="true"></span> Esci
              </a>
            </li>
          </ul>
        </div>
        <!-- End main-menu -->
      </nav>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</header>
<!-- End Header Mobile =============================================== -->

<div id="angular-container">
  <div ui-view autoscroll="true"></div>
</div>

<!-- Footer ================================================== -->
<footer>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 text-center">
        <a ui-sref="home">
          <div class="logo">
            <i class="u-font u-icon-ucooki-logo"></i>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-12 text-left">
        <h3>Informazioni</h3>
        <ul>
          <li><a ui-sref="team">Chi siamo</a></li>
          <li><a ui-sref="faq">Faq</a></li>
          <li><a ui-sref="contacts">Contatti</a></li>
          <li><a href="http://blog.ucooki.com/" target="_blank">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12 text-left">
        <h3>Scopri di più</h3>
        <ul>
          <li><a ui-sref="quality-control">Qualità e controllo</a></li>
          <li><a ui-sref="mission">La nostra Mission</a></li>
          <li><a ui-sref="how-it-works">Come funziona</a></li>
          <li><a ui-sref="privacy">Privacy</a></li>
          <li><a ui-sref="terms">Termini e Condizioni</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12 text-left">
        <h3>Entra nella Community</h3>
        <ul>
          <li><a ui-sref="community">Unisciti alla community</a></li>
          <li><a ui-sref="become-a-cooker">Diventa un Cuoco</a></li>
          <li><a ui-sref="login">Login</a></li>
          <li><a ui-sref="register">Registrati</a></li>
        </ul>
      </div>
    </div>
    <!-- End row -->
    <div class="row">
      <div class="col-md-12">
        <div id="social_footer">
          <ul>
            <li><a href="https://www.facebook.com/ucooki" target="_blank"><i class="icon-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/_ucooki/" target="_blank"><i class="icon-instagram"></i></a></li>
            <li><a href="https://twitter.com/ucooki" target="_blank"><i class="icon-twitter"></i></a></li>
            <li><a href="https://plus.google.com/+Ucookiplus" target="_blank"><i class="icon-google"></i></a></li>
            <li><a href="http://blog.ucooki.com/" target="_blank"><i class="icon-blogger-1"></i></a></li>
          </ul>
          <p>
            © Ucooki 2016
          </p>
        </div>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</footer>
<!-- End Footer =============================================== -->

<!-- build:js assets/js/app.js -->

<!--<script src="assets/ucooki-theme/js/modernizr.js"></script>-->

<script src="assets/ucooki-theme/js/jquery-1.11.2.min.js"></script>
<script src="assets/ucooki-theme/js/common_scripts_min.js"></script>
<script src="assets/ucooki-theme/js/functions.js"></script>

<script src="assets/local-lib/jquery.divascookies-0.6.js"></script>

<script src="assets/lib/angular/angular.js"></script>
<script src="assets/lib/raven-js/dist/raven.js"></script>
<script src="assets/lib/raven-js/dist/plugins/angular.js"></script>
<script src="assets/lib/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
<script src="assets/lib/lodash/lodash.js"></script>
<script src="assets/lib/cloudinary-core/cloudinary-core.min.js"></script>
<script src="assets/lib/cloudinary_ng/js/angular.cloudinary.js"></script>
<script src="assets/lib/angular-resource/angular-resource.js"></script>
<script src="assets/lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="assets/lib/angular-animate/angular-animate.js"></script>
<script src="assets/lib/angular-sanitize/angular-sanitize.js"></script>
<script src="assets/lib/angular-filter/dist/angular-filter.js"></script>
<script src="assets/lib/ngToast/dist/ngToast.js"></script>
<script src="assets/lib/angular-bootstrap/ui-bootstrap.js"></script>
<script src="assets/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="assets/lib/angular-google-places-autocomplete/src/autocomplete.js"></script>
<script src="assets/lib/ng-file-upload/ng-file-upload-all.js"></script>
<script src="assets/lib/ng-img-crop/compile/unminified/ng-img-crop.js"></script>
<script src="assets/lib/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
<script src="assets/lib/ngSticky/lib/sticky.js"></script>
<script src="assets/lib/moment/min/moment-with-locales.min.js"></script>
<script src="assets/lib/moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js"></script>
<script src="assets/lib/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
<script src="assets/lib/angular-count-to/build/angular-count-to.min.js"></script>
<script src="assets/lib/angular-simple-logger/dist/angular-simple-logger.js"></script>
<script src="assets/lib/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="assets/lib/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>
<script src="assets/lib/angular-loading-bar/build/loading-bar.js"></script>
<script src="assets/lib/angular-ui-select/dist/select.min.js"></script>
<script src="assets/lib/angular-timer/dist/angular-timer.js"></script>
<script src="assets/lib/humanize-duration/humanize-duration.js"></script>

<script src="components/angular-i18n/angular-locale_it-it.js"></script>
<script src="components/services/lb-service/lb-service.js"></script>

<script src="app.js"></script>

<script src="components/services/cart-service/cart-service.js"></script>
<script src="components/services/auth-service/auth-service.js"></script>
<script src="components/services/modal-service/modal-service.js"></script>
<script src="components/services/google/map-service.js"></script>
<script src="components/services/pictures-service/pictures-service.js"></script>
<script src="components/services/util-service/util-service.js"></script>
<script src="components/services/search-service/search-service.js"></script>
<script src="components/services/address-service/address-service.js"></script>
<script src="components/services/addthis/addthis-service.js"></script>
<script src="components/services/order-service/order-service.js"></script>
<script src="components/services/util-service/tracker-service.js"></script>
<script src="components/services/util-service/error-tracker-service.js"></script>
<script src="components/services/util-service/metadata-service.js"></script>

<script src="components/filters/hour-filter.js"></script>
<script src="components/filters/distance-filter.js"></script>
<script src="components/filters/cut-filter.js"></script>
<script src="components/filters/time-range-filter.js"></script>
<script src="components/filters/order-status-filter.js"></script>
<script src="components/filters/product-status-filter.js"></script>
<script src="components/filters/week-availability-filter.js"></script>
<script src="components/filters/cloudinary-resize-filter.js"></script>
<script src="components/filters/capitalize.js"></script>
<script src="components/filters/iif-filter.js"></script>

<script src="components/directives/product-box/product-box.js"></script>
<script src="components/directives/order-box/order-box.js"></script>
<script src="components/directives/common/route-css-classnames.js"></script>
<script src="components/directives/loading/loading.js"></script>
<script src="components/directives/spinner/spinner.js"></script>
<script src="components/directives/rating-box/rating-box.js"></script>
<script src="components/directives/productor-box/productor-box.js"></script>

<script src="components/dynamic-pages/login/login-ctrl.js"></script>
<script src="components/dynamic-pages/reset-password/reset-password-ctrl.js"></script>
<script src="components/dynamic-pages/navbar/navbar-ctrl.js"></script>
<script src="components/dynamic-pages/home/home-ctrl.js"></script>
<script src="components/dynamic-pages/shop/shop-ctrl.js"></script>
<script src="components/dynamic-pages/checkout/checkout-ctrl.js"></script>
<script src="components/dynamic-pages/dashboard/dashboard-ctrl.js"></script>
<script src="components/dynamic-pages/dashboard/personal-info/personal-info-ctrl.js"></script>
<script src="components/dynamic-pages/dashboard/products/products-ctrl.js"></script>
<script src="components/dynamic-pages/dashboard/products/product-detail-ctrl.js"></script>
<script src="components/dynamic-pages/dashboard/orders/orders-ctrl.js"></script>
<script src="components/dynamic-pages/dashboard/admin/products/admin-products-ctrl.js"></script>
<script src="components/dynamic-pages/dashboard/admin/cooks/admin-cooks-ctrl.js"></script>
<script src="components/dynamic-pages/register/register-ctrl.js"></script>
<script src="components/dynamic-pages/pages/customer/customer-ctrl.js"></script>
<script src="components/dynamic-pages/contacts/contacts-ctrl.js"></script>
<script src="components/dynamic-pages/subscriber/subscriber-ctrl.js"></script>

<script src="components/modals/order-form/order-form-modal-ctrl.js"></script>
<script src="components/modals/cropper-modal/cropper-modal-ctrl.js"></script>
<script src="components/modals/reset-password/reset-password-modal-ctrl.js"></script>
<script src="components/modals/add-address/add-address-modal-ctrl.js"></script>
<script src="components/modals/feedback/feedback-modal-ctrl.js"></script>
<script src="components/modals/order-refuse/order-refuse-modal.ctrl.js"></script>
<script src="components/modals/add-phone/add-phone-modal-ctrl.js"></script>
<script src="components/modals/send-verification-token/send-verification-token-modal-ctrl.js"></script>

<!-- endbuild -->


<!-- @import components/partials/google-analytics.html -->
<!-- @import components/partials/facebook-pixel.html -->
<!-- @import components/partials/mixpanel.html -->
<!-- @import components/partials/zopim.html -->

<!-- @import components/partials/addthis.html -->


<script>
  Raven
    .config('https://7e3a3c7a32634ecc93cc1ce323fc5b0b@sentry.io/122035', {
      environment: 'production',
      logger: 'javascript',
      shouldSendCallback: function (data) {

        if (data && data.request && data.request.headers) {
            if (data.request.headers['User-Agent'].indexOf("PhantomJS") > -1) {
              console.log("Error tracker service: didn't send any data. Phantom filter on!", data, location);
                return false;
            }
        }

        if (location && location.hostname.indexOf("ucooki") <= -1) {
          console.log("Error tracker service: didn't send any data. Domain filter on!", data, location);
          return false;
        }

        return true;

      },
      ignoreErrors: [
        // Random plugins/extensions
        'top.GLOBALS',
        // See: http://blog.errorception.com/2012/03/tale-of-unfindable-js-error. html
        'originalCreateNotification',
        'canvas.contentDocument',
        'MyApp_RemoveAllHighlights',
        'http://tt.epicplay.com',
        'Can\'t find variable: ZiteReader',
        'jigsaw is not defined',
        'ComboSearch is not defined',
        'http://loading.retry.widdit.com/',
        'atomicFindClose',
        // Facebook borked
        'fb_xd_fragment',
        // ISP "optimizing" proxy - `Cache-Control: no-transform` seems to reduce this. (thanks @acdha)
        // See http://stackoverflow.com/questions/4113268/how-to-stop-javascript-injection-from-vodafone-proxy
        'bmi_SafeAddOnload',
        'EBCallBackMessageReceived',
        // See http://toolbar.conduit.com/Developer/HtmlAndGadget/Methods/JSInjection.aspx
        'conduitPage'
      ],
      ignoreUrls: [
        // Facebook flakiness
        /graph\.facebook\.com/i,
        // Facebook blocked
        /connect\.facebook\.net\/en_US\/all\.js/i,
        // Woopra flakiness
        /eatdifferent\.com\.woopra-ns\.com/i,
        /static\.woopra\.com\/js\/woopra\.js/i,
        // Chrome extensions
        /extensions\//i,
        /^chrome:\/\//i,
        // Other plugins
        /webappstoolbarba\.texthelp\.com\//i,
        /metrics\.itunes\.apple\.com\.edgesuite\.net\//i
      ]
    })
    .addPlugin(Raven.Plugins.Angular)
    .install();
</script>

<script>
  // instantiate Divas Cookies
  $.DivasCookies({
    bannerText: "Questo sito utilizza i cookies, navigando accetti il loro utilizzo. ", // text for the Divas Cookies banner
    cookiePolicyLink: "/pages/privacy", // link to the extended cookie policy
    cookiePolicyLinkText: "Maggiori informazioni", // text for the link to the extended cookie policy
    thirdPartyPolicyWidget: "", // if set to "iubenda" tries to use the Iubenda widget
    acceptButtonText: "OK", // text for the close button
    acceptButtonSrc: "", // source for the close button image
    openEffect: "slideDown", // opening effect for Divas Cookies banner ["fade", "slideUp", "slideDown", "slideLeft", "slideRight"]
    openEffectDuration: 600, // duration of the opening effect (msec)
    openEffectEasing: "swing", // easing for the opening effect
    closeEffect: "slideUp", // closing effect for Divas Cookies banner ["fade", "slideUp", "slideDown", "slideLeft", "slideRight"]
    closeEffectDuration: 600, // duration of the closing effect (msec)
    closeEffectEasing: "swing", // easing for the closing effect
    debugMode: false, // if true, the options are checked and warnings are shown
    saveUserPreferences: true, // if true, sets a cookie after the Divas Cookies is closed the first time and never shows it again
    blockScripts: true, // set this to true if you blocked scripts by wrapping them with if($.DivasCookies.optedIn()){**script to be blocked**} or with the add class + change type in <script> tag (default false)
    pageReload: false, // if true reloads the actual page after opt-in to show the previuosly inline blocked scripts (default false)
    acceptOnScroll: true, // if true sets the Divas Cookie technical cookie on page scroll for cookies agreement (default false)
    acceptOnClick: false, // if true sets the Divas Cookie technical cookie on click on any  in the page except that on Divas Cookies banner for cookies agreement (default false)
    excludePolicyPage: true // if true excludes the cookie policy page from acceptOnScroll and acceptOnClick (default false)
  }); // end of Divas Cookies instantiation
</script>

</body>

</html>
