<div class="admin-products">

	<div class="box">
		<div class="head">
			<i class="glyphicon glyphicon-th" style="margin-right:10px;"></i> Amministrazione Piatti
		</div>

		<div class="body">

			<div class="search">
				<h2>Personalizza la ricerca
					<p class="lead">i campi non sono obbligatori</p>
				</h2>
				<form class="form-inline">
					<div class="btn-group full-sm" uib-dropdown>
						<button id="status-button" type="button" class="btn btn-primary full-sm" uib-dropdown-toggle ng-disabled="disabled">Status: {{filter.status == null ? "tutti" : (filter.status | productStatus | capitalize)}} <span class="caret"></span></button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="status-button">
							<li role="menuitem"><a ng-click="filter.status = null">Tutti</a></li>
							<li role="menuitem"><a ng-click="filter.status = 0">In attesa</a></li>
							<li role="menuitem"><a ng-click="filter.status = 1">Accettato</a></li>
							<li role="menuitem"><a ng-click="filter.status = 2">Rifiutato</a></li>
						</ul>
					</div>
					<div class="btn-group full-sm" uib-dropdown>
						<button id="visibilty-button" type="button" class="btn btn-primary full-sm" uib-dropdown-toggle ng-disabled="disabled">Visibilità: {{filter.active == null ? "tutti" : (filter.active == 0 ? "Off" : "On")}} <span class="caret"></span></button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="visibilty-button">
							<li role="menuitem"><a ng-click="filter.active = null">Tutti</a></li>
							<li role="menuitem"><a ng-click="filter.active = 1">Visibile</a></li>
							<li role="menuitem"><a ng-click="filter.active = 0">Nascosto</a></li>
						</ul>
					</div>
					<div class="btn-group full-sm" uib-dropdown>
						<button id="featured-button" type="button" class="btn btn-primary full-sm" uib-dropdown-toggle ng-disabled="disabled">Vetrina: {{filter.featured == null ? "tutti" : (filter.featured == 0 ? "Off" : "On")}} <span class="caret"></span></button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="visibilty-button">
							<li role="menuitem"><a ng-click="filter.featured = null">Tutti</a></li>
							<li role="menuitem"><a ng-click="filter.featured = 1">In vetrina</a></li>
							<li role="menuitem"><a ng-click="filter.featured = 0">Non in vetrina</a></li>
						</ul>
					</div>
					<input id="filter-city" type="text" class="form-control full-sm" ng-model="data.location" placeholder="Filtra per città" ng-change="onLocationChange()"
						typeahead-on-select="onLocationSelect($item, $model, $label)" uib-typeahead="item as item.formatted_address for item in getLocation($viewValue)"
						typeahead-editable="false" class="form-control" ng-keypress="($event.which === 13)?refreshSearch():0">
					<input id="filter-text" type="text" class="form-control full-sm" id="p-text" uib-tooltip="Filtra per nome, cognome, email del cuoco o per nome del piatto" placeholder="Testo da cercare..."
						ng-keypress="($event.which === 13)?refreshSearch():0" ng-model="filter.text">
					<button class="btn btn-success" type="button" ng-click="refreshSearch()">Cerca</button>
				</form>
			</div>
			<hr>

			<loading is-loading="loading" ng-class="{'hidden': !loading}"></loading>

			<div ng-if="docs.length <= 0 && !loading" class="text-center">
				<h5>Nessun risultato</h5>
			</div>

			<div id="product-list">

				<div style="clear:both; text-center" ng-if="pagination.totalProducts > pagination.itemsPerPage">
					<uib-pagination total-items="pagination.totalProducts" ng-model="pagination.currentPage" class="pagination-sm" boundary-link-numbers="true"
						boundary-links="true" force-ellipses="true" max-size="5" ng-change="pageChanged()"></uib-pagination>
				</div>

				<div class="row product-item" ng-repeat="doc in docs">
					<div class="col-md-12">
						<product-box product="doc.product" cook="doc" type="item_admin" image="{{getPrincipalPicUrl(doc.product._pictures)}}"
							link="dashboard.product-detail({productId: product._id})" cook="doc" cook-link="customer({customerId: cook._id})" on-product-change="saveProduct(doc.product)" on-status-change="requestUpdateStatus(product, value, orig)"></product-box>
					</div>
				</div>

				<div style="clear:both; text-center" ng-if="pagination.totalProducts > pagination.itemsPerPage">
					<uib-pagination total-items="pagination.totalProducts" ng-model="pagination.currentPage" class="pagination-sm" boundary-link-numbers="true"
						boundary-links="true" force-ellipses="true" max-size="5" ng-change="pageChanged()"></uib-pagination>
				</div>
			</div>

		</div>



	</div>

</div>
</div>
