<div class="row">
  <div class="col-md-12 cropArea">
    <img-crop image="data.image" result-image="data.croppedImage" area-type="square" result-image-size="650" result-image-format="image/jpeg" result-image-quality="0.8"></img-crop>
  </div>
  <!--<div class="col-md-4">
		<img ng-src="{{data.croppedImage}}" />
	</div>-->
  <div class="col-md-12">
    <div style="background: url({{data.croppedImage}}) no-repeat center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size:cover; height: 350px;">
    </div>
  </div>
</div>
