<div id="login-container" ng-controller="LoginCtrl">
  <div class="container margin_60_35">
    <div class="row" ng-if="isAuthenticated()">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>Modulo di Login</h2>
        <h3>Ciao <b>{{user.name}}</b>, risulti già loggato</h3>
      </div>
    </div>
    <div class="row" ng-if="!isAuthenticated()">
      <div class="col-md-4 col-md-offset-4 col-sm-12">
        <div class="loading-container">
          <loading ng-class="{'no-run' : !loading}" is-loading="loading"></loading>
        </div>
        <div class="form-group">
          <a href="/auth/facebook?returnto={{getPassportReturnUrl()}}" target="_self" class="btn btn-primary btn-facebook btn-block btn-lg" role="button" ng-disabled="loading">Accedi con Facebook</a>
        </div>

        <form class="text-left">
          <div class="form-group">
            <label>Email</label>
            <input ng-model="credentials.username" type="text" class="form-control" />
          </div>

          <div class="form-group">
            <label>Password</label>
            <input ng-model="credentials.password" type="password" class="form-control" />
          </div>

          <div class="form-group">
            <button ng-disabled="loading" ng-click="login()" type="submit" class="btn_full" value="Login">Login</button>
          </div>
        </form>

        <div>
          <div class="row">
            <div class="link col-md-12 text-center">
              <a ui-sref="register">Registrati</a>
            </div>
          </div>
          <div class="row">
            <div class="link col-md-12 text-center">
              <a href="" ng-click="requestPassword()">Ho dimenticato la password</a>
            </div>
          </div>
          <div class="row">
            <div class="link col-md-12 text-center">
              <a href="" ng-click="sendVerificationToken()" uib-tooltip="Se non hai ricevuto la mail di verifica dopo l'iscrizione, da qui puoi richiederne un'altra">Invia nuova mail di verifica</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
