<div  itemprop="review" itemscope itemtype="http://schema.org/Review" class="rating-box">
  <a ng-if="!avatar" href="{{link()}}">
    <div style="background-image: url(https://www.ucooki.com/assets/img/avatar.svg);" class="img-circle-container"></div>
  </a>
  <a ng-if="avatar" href="{{link()}}">
    <div style="background-image: url({{avatar}});" class="img-circle-container"></div>
  </a>

  <small> - {{rating.date | date :"d MMM yyyy"}} -</small>
  <a href="{{link()}}"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><h4 itemprop="name">{{name}}</h4></span></a>
  <p itemprop="reviewBody" ng-if="rating.message">
    "{{rating.message}}"
  </p>
  <p ng-if="!rating.message">
    - Nessun commento -
  </p>

  <div class="row" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
    <meta itemprop="ratingValue" content="{{rating.rate}}" />
    <meta itemprop="bestRating" content="5" />
    <div class="col-md-4">
      <div class="rating" ng-model="rating.rate" readonly="true" aria-labelledby="default-rating">
        <i class="icon_star" ng-class="{voted : rating.rate >= 1}"></i>
        <i class="icon_star" ng-class="{voted : rating.rate >= 2}"></i>
        <i class="icon_star" ng-class="{voted : rating.rate >= 3}"></i>
        <i class="icon_star" ng-class="{voted : rating.rate >= 4}"></i>
        <i class="icon_star" ng-class="{voted : rating.rate >= 5}"></i>
      </div>
    </div>
  </div>
</div>
