<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal">
      <fieldset>

        <div class="form-group">
          <label class="text-left" for="phone">Numero: (obbligatorio)</label>
					<span class="block description text-left">Il numero sarà visibile <strong>SOLO</strong> al cuoco</span>
          <input type="text" id="phone" ng-model="data.phone" placeholder="3201234567" class="form-control">
        </div>

      </fieldset>
    </form>
  </div>
</div>
