<div id="HomeProductCtrl" ng-controller="HomeProductCtrl">

  <!-- SubHeader =============================================== -->
  <section id="header" class="parallax-window bkg-parallax bkg-home">
    <div class="parallax-content vertical-gradient">
      <div class="sub_content">
        <h3>Gusta i piatti preparati dai tuoi vicini</h3>
        <h4>"Fatto in casa, fatto per te"</h4>
        <p>Inserisci il tuo indirizzo e cerca intorno a te</p>
        <div class="container">

          <div class="row">

            <input id="pac-input" class="controls" type="text" placeholder="Inserisci il tuo indirizzo">
            <button id="btn-search" type="button" class="btn btn-main" href="#">Cerca</button>
            <div id="result"></div>
          </div>
        </div>

        <script>
          function gmapFunctions() {

            var geocoder;
            if (typeof google === 'undefined') {
              return;
            }

            geocoder = new google.maps.Geocoder();

            var input = (document.getElementById('pac-input'));

            var options = {
              types: ['address'],
              componentRestrictions: {
                country: 'it'
              }
            };

            new google.maps.places.Autocomplete(input, options);

            $("#pac-input").keypress(function(event) {

              var keyCode = event.which || event.keyCode;
              if (keyCode === 13) {
                angular.element('#HomeProductCtrl').scope().searchProducts($("#pac-input").val());
              }
            });

            $("#btn-search").click(function() {
              angular.element('#HomeProductCtrl').scope().searchProducts($("#pac-input").val());
            });

          }
        </script>

        <div id="btn-container">
          <button id="btn-become-cooker" type="button" class="btn" ui-sref="become-a-cooker">Diventa un Cuoco</button>
        </div>

      </div>
      <!-- End sub_content -->
    </div>
    <!-- End subheader -->

    <!--<div id="count" class="hidden-xs">
      <ul>
        <li><span class="number" count-to="{{statistics.products}}" value="0" duration="4"></span> Piatti disponibili</li>
        <li><span class="number" count-to="{{statistics.dishes}}" value="0" duration="4"></span> Piatti consegnati</li>
        <li><span class="number" count-to="{{statistics.customers}}" value="0" duration="4"></span> Utenti registrati</li>
      </ul>
    </div>-->

  </section>
  <!-- End section -->

  <!-- End SubHeader ============================================ -->

  <!-- Search box ================================================== -->

  <div id="product-result">

    <div ng-if="homeData.searchDone" class="container margin_60">

      <div class="main_title">
        <h2 class="add_top_20">Piatti intorno a te</h2>
        <p id="search-address">Ricerca per: <strong>{{search.address}}</strong></p>
      </div>

      <div ng-if="products.length <= 0 && homeData.filter.day == -1" class="container">
        <div class="main_title">
          <p class="add_top_20">Siamo spiacenti,
            <br> ma non &egrave; presente alcun piatto in questa zona</p>
        </div>
      </div>

      <div ng-if="products.length > 0 || homeData.filter.day != -1" class="day-selector" class="input-row">
        <label for="filter">Quando vuoi mangiare?</label>
        <select class="form-control" id="filter" ng-model="homeData.filter" ng-change="searchByDay()" ng-options="filter.name for filter in homeData.filters">
        </select>
      </div>

      <div ng-if="products.length <= 0 && homeData.filter.day != -1" class="container">
        <div class="main_title">
          <p class="add_top_20">Purtroppo
            <br> non &egrave; disponibile alcun piatto nel giorno selezionato</p>
        </div>
      </div>

      <div ng-if="products.length > 0" infinite-scroll='searchMore()' infinite-scroll-disabled='fetching || noMore' infinite-scroll-distance='getDistanceScroll()'>

        <div class="row" ng-repeat="row in products | chunkBy: getItemPerLine() track by getTrackProductId(row)">
          <div class="col-sm-12" ng-repeat="doc in row track by doc.product._id" ng-class="{'col-md-6' : getItemPerLine() == '2', 'col-md-4' : getItemPerLine() == '3', 'col-md-12' : getItemPerLine() == '1'}">
            <product-box product="doc.product"  cook="doc" cook-link="customer({customerId: cook._id})" detail="high" image="{{getPrincipalPicUrl(doc.product._pictures)}}" link="shop({productId: product._id})"></product-box>
          </div>
        </div>

      </div>

      <div class="loading-container">
        <loading ng-class="{'no-run' : !fetching}" is-loading="fetching"></loading>
      </div>

    </div>
  </div>

  <!-- End Search box ================================================== -->

  <!-- Content ================================ -->

  <div class="high_light second_color">
    <div class="container text-left">
      <h3>Selezioniamo i migliori piatti artigianali</h3>
      <p>per offrirti una cucina unica.</p>
      <a ui-sref="quality-control">Scopri di più</a>
    </div>
    <!-- End container -->
  </div>


  <!-- End container -->

  <div class="white_bg">
    <div class="container margin_60">

      <div class="loading-container">
        <loading ng-class="{'no-run' : featuredProducts}" is-loading="!featuredProducts"></loading>
      </div>

      <div ng-if="featuredProducts.length > 0">
        <div class="main_title">
          <h2 class="nomargin_top">Piatti in evidenza</h2>
          <p ng-if="featuredMessage">
            {{featuredMessage}}
          </p>
        </div>

        <div class="row" ng-repeat="row in featuredProducts | chunkBy: getItemPerLine() track by getTrackProductId(row)">
          <div class="col-sm-12" ng-repeat="doc in row track by doc.product._id" ng-class="{'col-md-6' : getItemPerLine() == '2', 'col-md-4' : getItemPerLine() == '3', 'col-md-12' : getItemPerLine() == '1'}">
            <product-box product="doc.product" cook="doc" cook-link="customer({customerId: cook._id})" detail="low" image="{{getPrincipalPicUrl(doc.product._pictures)}}" link="shop({productId: product._id})"></product-box>
          </div>
        </div>

        <div class="row">
          <button class="btn_full" ng-click="searchProducts()">Mostra altri piatti</button>
        </div>
      </div>
    </div>

  </div>

  <!--  <div class="white_bg">-->
  <div class="container margin_60">

    <div class="main_title">
      <h2 class="nomargin_top">Scopri la squadra dei nostri Cuochi</h2>
      <p>
        I migliori Chef sono intorno a te.
      </p>
    </div>

    <div class="loading-container">
      <loading ng-class="{'no-run' : cooks}" is-loading="!cooks"></loading>
    </div>

    <div class="row" ng-repeat="row in cooks | chunkBy: getItemPerLine() track by getTrackCookId(row)">
      <div class="col-sm-12" ng-repeat="productor in row track by productor._id" ng-class="{'col-md-6' : getItemPerLine() == '2', 'col-md-4' : getItemPerLine() == '3', 'col-md-12' : getItemPerLine() == '1'}">
        <productor-box productor="productor" image="{{getPrincipalPicUrl([productor._picture])}}" link="customer({customerId: productor.id})"></productor-box>
      </div>
    </div>

  </div>
  <!--  </div>-->



  <div class="high_light third_color">
    <div class="container text-left">
      <h3>Condividi la tua passione in cucina</h3>
      <p>Fai gustare i tuoi piatti alle persone intorno a te.</p>
      <a ui-sref="become-a-cooker">Iscriviti</a>
    </div>
  </div>


  <section id="pre-footer" class="parallax-window bkg-parallax bkg-pre-footer">
    <div class="parallax-content overlay-60">
      <div class="sub_content">
        <div class="container">
          <a ui-sref="mission">
            <p>Ordina piatti artigianali con ingredienti genuini.
              <br>Fatti in casa, fatti per te.</p>
          </a>
        </div>

      </div>
      <!-- End sub_content -->
    </div>
    <!-- End subheader -->
  </section>
  <!-- End section -->
  <!-- End Content =============================================== -->
</div>
