<p style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px; margin-bottom: 10px;">
  <a style="text-decoration:none" href="http://www.ucooki.com" class="clink logo-container">
    <img src="https://htmlsigs.s3.amazonaws.com/logos/files/000/299/038/landscape/ucooki.png" alt="ucooki" border="0"
         class="sig-logo" width="80">
  </a>
</p>

<p
  style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px; color: rgb(33, 33, 33); margin-bottom: 10px;">
  <span style="font-weight: bold; color: rgb(33, 33, 33); display: inline;" class="txt signature_name-target sig-hide">Ucooki Team</span>
  <span class="email-sep break" style="display: inline;"><br></span>
  <a class="link signature_website-target sig-hide" href="https://www.facebook.com/groups/614891058720359/"  style="color: rgb(71, 124, 204); text-decoration: none; display: inline;">Unisciti al gruppo su Facebook</a>
  <br>
  -------
  <br>
  <a class="link email signature_email-target sig-hide" href="mailto:info@ucooki.com" style="color: rgb(71, 124, 204); text-decoration: none; display: inline;">info@ucooki.com</a><span style="color: #212121;" class="txt signature_mobilephone-target sig-hide"></span>
  <br>
  <a class="link signature_website-target sig-hide" href="http://www.ucooki.com" style="color: rgb(71, 124, 204); text-decoration: none; display: inline;">www.ucooki.com</a>
</p>
<p class="social-list" style="font-size: 0px; line-height: 0; font-family: Helvetica, Arial, sans-serif;">

  <a style="text-decoration: none; display: inline;" class="social signature_facebook-target sig-hide"
     href="https://www.facebook.com/ucooki"><img width="16" style="margin-bottom:2px; border:none; display:inline;"
                                                 height="16" data-filename="facebook.png"
                                                 src="https://s3.amazonaws.com/htmlsig-assets/round/facebook.png"
                                                 alt="Facebook"></a><span style="white-space:nowrap;"
                                                                          class="signature_facebook-sep"><img
      src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="2"></span>
  <a style="text-decoration: none; display: inline;" class="social signature_instagram-target sig-hide"
     href="https://www.instagram.com/_ucooki/"><img width="16" style="margin-bottom:2px; border:none; display:inline;"
                                                    height="16" data-filename="instagram.png"
                                                    src="https://s3.amazonaws.com/htmlsig-assets/round/instagram.png"
                                                    alt="Instagram"></a><span style="white-space:nowrap;"
                                                                              class="signature_instagram-sep"><img
      src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="2"></span>
  <a style="text-decoration: none; display: inline;" class="social signature_twitter-target sig-hide"
     href="https://twitter.com/ucooki"><img width="16" style="margin-bottom:2px; border:none; display:inline;"
                                            height="16" data-filename="twitter.png"
                                            src="https://s3.amazonaws.com/htmlsig-assets/round/twitter.png"
                                            alt="Twitter"></a><span style="white-space:nowrap;"
                                                                    class="signature_twitter-sep"><img
      src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="2"></span>
  <a style="text-decoration: none; display: inline;" class="social signature_googleplus-target sig-hide"
     href="https://plus.google.com/+Ucookiplus"><img width="16" style="margin-bottom:2px; border:none; display:inline;"
                                                     height="16" data-filename="googleplus.png"
                                                     src="https://s3.amazonaws.com/htmlsig-assets/round/googleplus.png"
                                                     alt="Google +"></a><span style="white-space:nowrap;"
                                                                              class="signature_googleplus-sep"><img
      src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="2"></span>
</p>
<p style="font-family: Helvetica, Arial, sans-serif; color: #212121; font-size: 9px; line-height: 12px;"
   class="txt signature_disclaimer-target">This e-mail message may contain confidential or legally privileged
  information and is intended only for the use of the intended recipient(s). Any unauthorized disclosure, dissemination,
  distribution, copying or the taking of any action in reliance on the information herein is prohibited. E-mails are not
  secure and cannot be guaranteed to be error free as they can be intercepted, amended, or contain viruses. Anyone who
  communicates with us by e-mail is deemed to have accepted these risks. Company Name is not responsible for errors or
  omissions in this message and denies any responsibility for any damage arising from the use of e-mail. Any opinion and
  other statement contained in this message and any attachment are solely those of the author and do not necessarily
  represent those of the company.</p>
