<div id="register" ng-controller="RegisterCtrl">
  <div class="container margin_60_35">
    <div>
      <div class="col-md-6 col-md-offset-3">

        <div class="loading-container">
          <loading ng-class="{'no-run' : !loading}" is-loading="loading"></loading>
        </div>

        <form name="registrationForm" class="box_s tyle_2" ng-submit="register(customer)">
          <fieldset>

            <!-- Form Name -->
            <legend>
              <h2 class="inner">Registrazione <i class="icon-food pull-right"></i></h2></legend>

            <!-- Text input-->
            <div class="form-group">
              <label for="name" class="sr-only">Nome</label>
              <input id="name" name="name" type="text" ng-model="customer.name" placeholder="Nome" class="form-control input-md " required>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label for="lastname" class="sr-only">Cognome</label>
              <input id="lastname" name="lastname" ng-model="customer.lastname" type="text" placeholder="Cognome" class="form-control input-md " required>
            </div>

            <!-- Email input-->
            <div class="form-group">
              <label for="mail" class="sr-only">Email</label>
              <input id="mail" name="mail" ng-model="customer.email" type="email" placeholder="Email" class="form-control input-md " required>
            </div>

            <!-- Email input-->
            <div class="form-group">
              <label for="confirmationEmail" class="sr-only">Ripeti Email</label>
              <input id="confirmationEmail" name="confirmationEmail" ng-model="data.confirmationEmail" type="email" placeholder="Ripeti Email" class="form-control input-md " required>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label for="password" class="sr-only">Password</label>
              <input id="password" name="password" ng-model="customer.password" type="password" placeholder="Password" class="form-control input-md " required>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label for="confirmationPassword" class="sr-only">Ripeti Password</label>
              <input id="confirmationPassword" name="confirmationPassword" ng-model="data.confirmationPassword" type="password" placeholder="Ripeti Password" class="form-control input-md " required>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
              <label for="city" class="sr-only">Città</label>
              <select id="city" name="city" ng-model="customer.city" class="form-control">
                <option value="" disabled selected>Seleziona la Città</option>
                <option value=Ag>Agrigento</option>
                <option value=Al>Alessandria</option>
                <option value=An>Ancona</option>
                <option value=Ao>Aosta</option>
                <option value=Ar>Arezzo</option>
                <option value=Ap>Ascoli Piceno</option>
                <option value=At>Asti</option>
                <option value=Av>Avellino</option>
                <option value=Ba>Bari</option>
                <option value=Bt>Barletta-Andria-Trani</option>
                <option value=Bl>Belluno</option>
                <option value=Bn>Benevento</option>
                <option value=Bg>Bergamo</option>
                <option value=Bi>Biella</option>
                <option value=Bo>Bologna</option>
                <option value=Bz>Bolzano</option>
                <option value=Bs>Brescia</option>
                <option value=Br>Brindisi</option>
                <option value=Ca>Cagliari</option>
                <option value=Cl>Caltanissetta</option>
                <option value=Cb>Campobasso</option>
                <option value=Ci>Carbonia-Iglesias</option>
                <option value=Ce>Caserta</option>
                <option value=Ct>Catania</option>
                <option value=Cz>Catanzaro</option>
                <option value=Ch>Chieti</option>
                <option value=Co>Como</option>
                <option value=Cs>Cosenza</option>
                <option value=Cr>Cremona</option>
                <option value=Kr>Crotone</option>
                <option value=Cn>Cuneo</option>
                <option value=En>Enna</option>
                <option value=Fm>Fermo</option>
                <option value=Fe>Ferrara</option>
                <option value=Fi>Firenze</option>
                <option value=Fg>Foggia</option>
                <option value=Fc>Forli’-Cesena</option>
                <option value=Fr>Frosinone</option>
                <option value=Ge>Genova</option>
                <option value=Go>Gorizia</option>
                <option value=Gr>Grosseto</option>
                <option value=Im>Imperia</option>
                <option value=Is>Isernia</option>
                <option value=Sp>La Spezia</option>
                <option value=Aq>L’Aquila</option>
                <option value=Lt>Latina</option>
                <option value=Le>Lecce</option>
                <option value=Lc>Lecco</option>
                <option value=Li>Livorno</option>
                <option value=Lo>Lodi</option>
                <option value=Lu>Lucca</option>
                <option value=Mc>Macerata</option>
                <option value=Mn>Mantova</option>
                <option value=Ms>Massa-Carrara</option>
                <option value=Mt>Matera</option>
                <option value=Vs> Medio Campidano</option>
                <option value=Me>Messina</option>
                <option value=Mi>Milano</option>
                <option value=Mo>Modena</option>
                <option value=Mb>Monza E Della Brianza</option>
                <option value=Na>Napoli</option>
                <option value=No>Novara</option>
                <option value=Nu>Nuoro</option>
                <option value=Og>Ogliastra</option>
                <option value=Ot>Olbia-Tempio</option>
                <option value=Or>Oristano</option>
                <option value=Pd>Padova</option>
                <option value=Pa>Palermo</option>
                <option value=Pr>Parma</option>
                <option value=Pv>Pavia</option>
                <option value=Pg>Perugia</option>
                <option value=Pu>Pesaro E Urbino</option>
                <option value=Pe>Pescara</option>
                <option value=Pc>Piacenza</option>
                <option value=Pi>Pisa</option>
                <option value=Pt>Pistoia</option>
                <option value=Pn>Pordenone</option>
                <option value=Pz>Potenza</option>
                <option value=Po>Prato</option>
                <option value=Rg>Ragusa</option>
                <option value=Ra>Ravenna</option>
                <option value=Rc>Reggio Di Calabria</option>
                <option value=Re>Reggio Nell’Emilia</option>
                <option value=Ri>Rieti</option>
                <option value=Rn>Rimini</option>
                <option value=Rm>Roma</option>
                <option value=Ro>Rovigo</option>
                <option value=Sa>Salerno</option>
                <option value=Ss>Sassari</option>
                <option value=Sv>Savona</option>
                <option value=Si>Siena</option>
                <option value=Sr>Siracusa</option>
                <option value=So>Sondrio</option>
                <option value=Ta>Taranto</option>
                <option value=Te>Teramo</option>
                <option value=Tr>Terni</option>
                <option value=To>Torino</option>
                <option value=Tp>Trapani</option>
                <option value=Tn>Trento</option>
                <option value=Tv>Treviso</option>
                <option value=Ts>Trieste</option>
                <option value=Ud>Udine</option>
                <option value=Va>Varese</option>
                <option value=Ve>Venezia</option>
                <option value=Vb>Verbano-Cusio-Ossola</option>
                <option value=Vc>Vercelli</option>
                <option value=Vr>Verona</option>
                <option value=Vv>Vibo Valentia</option>
                <option value=Vi>Vicenza</option>
                <option value=Vt>Viterbo</option>
              </select>
            </div>

            <!-- Multiple Radios -->
            <div class="form-group">
              <label id="label-gender" for="gender" class="col-sm-2 control-label">Sesso</label>
              <div id="gender" class="btn-group" required>
                <label class="btn btn-default" ng-model="customer.gender" uib-btn-radio="'male'">Uomo</label>
                <label class="btn btn-default" ng-model="customer.gender" uib-btn-radio="'female'">Donna</label>
              </div>
            </div>

            <div class="checkbox-holder text-left">
              <div class="checkbox">
                <input type="checkbox" ng-model="accept" id="check_2" name="check_2" />
                <label for="check_2"><span>Registrandoti accetti </span></label>
                <span class="terms-link"><a ui-sref="terms" target="_blank" ><strong>Termini &amp; Condizioni</strong></a></span>
              </div>
            </div>


          </fieldset>
          <hr>

          <input type="submit" ng-disabled="loading" class="btn_full" value="Registrati" />
        </form>
      </div>
    </div>
  </div>
</div>
