<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal">
      <fieldset>

        <div class="form-group">
          <label class="text-left" for="address">Indirizzo: (obbligatorio)</label>
          <input type="text" id="address" ng-model="data.address" placeholder="es: via Vittorio Bigari, Bologna" uib-typeahead="address for address in getLocation($viewValue)" class="form-control" ng-blur="onAddressChange()">
        </div>

        <div class="form-group">
          <label class="text-left" for="street-number">Numero civico: (obbligatorio)</label>
          <input type="text" id="street-number" ng-model="data.streetNumber" placeholder="es: 23" class="form-control">
        </div>

        <div class="form-group">
          <label class="text-left" for="note">Note:</label>
          <textarea id="note" class="form-control" rows="3" placeholder="Note aggiuntive. Es: piano, campanello, etc" ng-model="data.note"></textarea>
        </div>

      </fieldset>
    </form>
  </div>
</div>
