<div class="row">
  <div class="col-md-12">

		<p> Stai rifiutando l'ordine. Vuoi continuare? </p>

    <form class="form-horizontal">
      <fieldset>

        <div class="form-group">
          <label class="text-left" for="note">Nota di Rifiuto:</label>
          <textarea id="note" class="form-control" rows="3" placeholder="Fai sapere al tuo cliente perchè stai rifiutando l'ordine" ng-model="data.note"></textarea>
        </div>

      </fieldset>
    </form>
  </div>
</div>
