<div ng-controller="ProductsManageCtrl" class="products">

	<div class="box">
		<div class="head">
			<i class="glyphicon glyphicon-th" style="margin-right:10px;"></i> Piatti ({{products.length}})
			<a class="btn btn-default btn-save on clear " ui-sref="dashboard.product-new">Aggiungi</a>
      <a ng-href="https://www.facebook.com/sharer/sharer.php?u={{getProfileLink()}}" target="_blank" type="button" class="btn facebook" uib-tooltip="Condividi su Facebook" tooltip-append-to-body="true"><i class="icon-facebook"></i></a>
		</div>

		<div class="body">

			<div class="row">

        <div class="alert alert-success" role="alert">
          Ciao {{user.name}}, trovi il tuo <a ui-sref="customer({customerId: user.id})"><b>profilo pubblico</b></a> qui <a ui-sref="customer({customerId: user.id})"><b>{{getProfileLink()}}</b></a>.
        </div>

				<loading is-loading="loading" ng-class="{'hidden': !loading}"></loading>

				<div ng-if="products.length <= 0" class="text-center">
					<h5>Non hai nessun prodotto al momento, <a ui-sref="dashboard.product-new">creane uno ora!</a></h5>
				</div>

				<div class="row product-item" ng-repeat="product in products">
					<div class="col-md-12">
						<product-box product="product" detail="low" type="item" image="{{getPrincipalPicUrl(product._pictures)}}" link="dashboard.product-detail({productId: product.id})"
							on-product-change="saveProduct(product)"></product-box>
					</div>
				</div>

				<div style="clear:both;" ng-if="totalProducts > itemsPerPage">
					<uib-pagination direction-links="true" total-items="totalProducts" items-per-page="itemsPerPage" ng-change="pageChanged()" ng-model="$parent.currentPage"></uib-pagination>
				</div>
			</div>

		</div>

	</div>
</div>
