<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal">
      <fieldset>

        <div class="form-group">
          <label class="text-left" for="email">Email:</label>
          <input type="email" id="email" ng-model="data.email" class="form-control" />
        </div>

      </fieldset>
    </form>
  </div>
</div>
