<div class="customer" ng-controller="UserDetailsCtrl" itemscope itemtype="http://schema.org/Person">


  <!-- SubHeader =============================================== -->
  <section class="parallax-window bkg-parallax bkg-customer">
    <div id="subheader" class="vertical-gradient">
      <div id="sub_content" class="desc">
        <div id="thumb">
          <div ng-if="!user._picture || !user._picture.url" class="no-picture"></div>
          <img ng-if="user._picture" ng-src="{{user._picture.url}}" alt="cooker {{user.name}} {{user.lastname}}">
        </div>
        <h1 itemprop="name">{{user.name}} {{user.lastname}}</h1>
        <div class="rating" ng-if="!user.cooker" ng-model="product.rate" readonly="true" aria-labelledby="default-rating">
          <i class="icon_star" ng-class="{voted : user.rate >= 1}"></i>
          <i class="icon_star" ng-class="{voted : user.rate >= 2}"></i>
          <i class="icon_star" ng-class="{voted : user.rate >= 3}"></i>
          <i class="icon_star" ng-class="{voted : user.rate >= 4}"></i>
          <i class="icon_star" ng-class="{voted : user.rate >= 5}"></i>
        </div>
        <div class="rating" ng-if="user.cooker" ng-model="user.productor_info.rate" readonly="true" aria-labelledby="default-rating">
          <i class="icon_star" ng-class="{voted : user.productor_info.rate >= 1}"></i>
          <i class="icon_star" ng-class="{voted : user.productor_info.rate >= 2}"></i>
          <i class="icon_star" ng-class="{voted : user.productor_info.rate >= 3}"></i>
          <i class="icon_star" ng-class="{voted : user.productor_info.rate >= 4}"></i>
          <i class="icon_star" ng-class="{voted : user.productor_info.rate >= 5}"></i>
        </div>
        <div ng-if="user.cooker && user.productor_info.certificated" class="certificated">Cuoco certificato</div>
        <div ng-if="user.cooker"><em>{{user.kitchen_location_info.city}} - {{user.kitchen_location_info.region}} </em>
        </div>
      </div>
      <!-- End sub_content -->
    </div>
    <!-- End subheader -->
  </section>
  <!-- End section -->
  <!-- End SubHeader ============================================ -->

  <div id="position">
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li>Utenti</li>
        <li>{{user.name}} {{user.lastname}}</li>
      </ul>
    </div>
  </div>
  <!-- Position -->

  <div class="content-enclosure">
    <!-- Content ================================================== -->
    <div class="container margin_60_35">


      <div ng-if="user.cooker" class="row cooker-info">


        <div class="col-md-4 col-sm-12">

          <div class="box_style_2 text-center">
            <div ng-if="user.productor_info.certificated" class="certification">
              <!--							<img src="/assets/img/diploma.svg">-->
              <i class="u-font u-icon-certificate2"></i>
              <p><strong>{{user.name}}</strong> è un cuoco <strong>certificato</strong>.</p>
              <p>Ha acquisito la certificazione <strong>HACCP</strong> che denota un
                <strong>livello superiore</strong> di competenze nella manipolazione dei prodotti alimentari.</p>
            </div>
            <div ng-if="!user.productor_info.certificated">
              <p>{{user.name}} non è un cuoco certificato.</p>
            </div>
          </div>

          <div class="box_style_2">
            <h3>{{user.name}} si racconta...</h3>
            <p ng-if="!user.description">Nessuna descrizione disponibile</p>
            <p ng-if="user.description" class="correct-break-word">{{user.description}}</p>
          </div>


        </div>

        <div class="col-md-7 col-sm-12">
          <div class="box_style_2">
            <div class="row" ng-repeat="product in products track by product.id">
              <product-box product="product" image="{{getPrincipalPicUrl(product)}}" cook="user" detail="medium" link="shop({productId: product.id})"></product-box>
            </div>
            <div ng-if="products.length <= 0" class="text-center">
              <h3>Nessun piatto disponibile</h3>
            </div>
          </div>
        </div>

      </div>

      <div ng-if="!user-cooker" class="row">
        <div class="col-md-12 text-center">
          <div class="box_style_2">
            <h2>{{user.name}} si racconta...</h2>
            <p ng-if="!user.description">Nessuna descrizione disponibile</p>
            <p ng-if="user.description">{{user.description}}</p>
          </div>
        </div>
      </div>


      <hr>

      <div class="row" id="summary_review" ng-if="!user.cooker">
        <h3>Commenti ricevuti come cliente</h3>

        <div id="last-ratings">
          <div class="review_strip_single" ng-if="!allRatings" ng-repeat="rating in user._ratings | orderBy: 'date':true | limitTo: 3">
            <u-rating-box r-rating="rating" r-avatar="{{rating.productor._picture.url}}" r-name="{{rating.productor.name}}" r-link="getProductorUrl(rating)"></u-rating-box>
          </div>
        </div>

        <div class="review_strip_single" ng-if="user._ratings.length > 3 && !allRatings">
          <button ng-click="showOtherRatings()" class="btn_full">Mostra tutti i commenti</button>
        </div>

        <div id="all-ratings">
          <div class="review_strip_single" ng-if="allRatings" ng-repeat="rating in user._ratings | orderBy: 'date':true">
            <u-rating-box r-rating="rating" r-avatar="{{rating.productor._picture.url}}" r-name="{{rating.productor.name}}" r-link="getProductorUrl(rating)"></u-rating-box>
          </div>
        </div>


        <div class="review_strip_single" ng-if="user._ratings.length === 0">
          <p>Nessun Commento presente</p>
        </div>
      </div>
      <!-- End row -->
    </div>
  </div>
  <div ng-if="user.cooker" id="map">
    <div class="map_canvas" ng-if="user.kitchen_location.lat && user.kitchen_location.lng">
      <ui-gmap-google-map center="current.center" zoom="13" draggable="true" options="map.options">
        <ui-gmap-circle center="{latitude: user.kitchen_location.lat, longitude: user.kitchen_location.lng}" stroke="map.stroke" fill="map.fill" radius="user.productor_info.max_distance" visible="map.visible" geodesic="map.geodesic" editable="map.editable" draggable="map.draggable" clickable="map.clickable" control="map.control"></ui-gmap-circle>
      </ui-gmap-google-map>
    </div>

  </div>
  <!-- End container -->
  <!-- End Content =============================================== -->
</div>
