<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Reset password Ucooki</title>
</head>

<body style="font-family:'Helvetica','Arial'; font-size:12px;">

    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td align="center" valign="top" style="height:50px">
<!--                      <img src="http://www.ucooki.com/assets/img/order.png" />-->
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="left" valign="top">
                <table border="0" width="100%" id="emailBody">
                  <tr>
                    <td align="left" valign="top">
											<h3>
												Hai richiesto il <strong>recupero</strong> della password.
											</h3>
											<p>
												Clicca <a href="https://www.ucooki.com/#/pages/reset-password?access_token=<%= accessToken %>">qui</a> per effettuare il reset della nuova password.
											</p>
                    </td>
                  </tr>

									<tr>
                    <td align="left" valign="top">
											<p>
												Se non hai effettuato alcuna richiesta ignora questo messaggio.
											</p>
                    </td>
                  </tr>

                </table>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table border="0" width="100%" id="emailFooter">
                  <tr>
                    <td align="left" valign="top">
                      <%- include ./partials/signature.ejs %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
</body>

</html>
