<h2> Richiesta di registrazione </h2>

<% if (user.gender=='male' ) { %>

  <p> Ciao <strong><%= user.name %></strong>, benvenuto su Ucooki. </p>

<% } else { %>

  <p> Ciao <strong><%= user.name %></strong>, benvenuta su Ucooki. </p>

<% } %>

      </p>

      <p style="margin-bottom:50px;"> Per concludere il processo di registrazione clicca su questo <strong><a href="<%= verifyHref %>">link</a></strong>.</p>


<%- include partials/signature.ejs %>
