<html>

<head>
  <title>Ucooki - Registrazione</title>
</head>

<body bgcolor=white lang=IT>

  <div>

    <p>Ciao <strong><%= user.name %></strong>,</p>

    <p>Grazie per aver effettuato la registrazione su <a style="text-decoration:none" href="http://www.ucooki.com"><b>Ucooki</b></a></p>

    <p>
      Unisciti al gruppo su Facebook <a href="https://www.facebook.com/groups/614891058720359/" target="_blank">“La community di Ucooki”</a> e aggiungi i tuoi amici, qui potrai <b>incontrare i cuochi</b> della tua zona, fare amicizia e <b>scoprire le migliori ricette tradizionali</b>.
    </p>

    <p>Buon appetito e a presto.</p>

  </div>

<%- include partials/signature.ejs %>

</body>

</html>
