<html>

<head>
  <title>Ucooki - Registrazione </title>
</head>

<body bgcolor=white lang=IT>

  <div>

    <p>Ciao <strong><%= user.name %></strong>,</p>

    <p>
      Abbiamo ricevuto la tua richiesta di informazioni.
    </p>

		<p>
			Ucooki è un servizio in continua evoluzione, appena attiveremo il servizio nella tua città ti invieremo una mail.
			<br>
			Nel frattempo continua a seguirci tramite le nostre pagine <a href="https://www.facebook.com/ucooki" target="_blank">Facebook</a> e <a href="https://twitter.com/ucooki1">Twitter</a>. Parla di noi con tutti i tuoi amici: prima cresceremo prima riusciremo a raggiungerti.
		</p>

		<p>
		  Grazie e a presto!
		</p>


  </div>

  <%- include partials/signature.ejs %>

</body>

</html>
