<html>

<head>
  <title>Ucooki - Registrazione Cuoco</title>
</head>

<body bgcolor=white lang=IT>

  <div>

    <p>Ciao <strong><%= user.name %></strong>,</p>

    <p>
      Benvenuto nella squadra dei nostri fantastici <strong>cuochi</strong>.
    </p>

		<p>
			Se hai un certificato <strong>HACCP</strong> inviacelo rispondendo a questa email. Il certificato non è obbligatorio ma ottenendolo risulterai essere un cuoco <strong>affidabile</strong> agli occhi degli utenti. Nel caso in cui tu voglia ottenere il certificato leggi <a href="http://blog.ucooki.com/2015/11/certificazione-sanitaria-haccp-la-sicurezza-alimentare-al-primo-posto/" target="_blank"><strong>qui</strong></a>.
		</p>

    <h2>Un consiglio per farsi conoscere</h2>

    <p>
      Segui il gruppo su Facebook <a href="https://www.facebook.com/groups/614891058720359/" target="_blank">“La community di Ucooki”</a> e aggiungi i tuoi amici. Questo è <b>il modo migliore per far conoscere i tuoi piatti</b> a tutti i clienti di Ucooki e instaurare con loro un rapporto di fiducia, fondamentale per riceve tanti ordini.
    </p>

    <h2>Caricamento piatti</h2>

    <p>
			Ora puoi iniziare a proporre i tuoi piatti, <a href="https://www.ucooki.com/#/pages/become-a-cooker" target="_blank"><strong>qui</strong></a> trovi alcune informazioni utili sulla pubblicazione.
    </p>

    <h2>Foto piatti</h2>

		<p>
			Per noi, e per i nostri eater, le foto, oltre alla qualità dei piatti, sono fondamentali, se non riesci a farne di sufficientemente attraenti scrivici: saremo felici di darti una mano (ovviamente gratis).
		</p>

		<p>
			Non vediamo l'ora di scoprire i tuoi piatti.
			<br>
			<br>
			Per qualsiasi informazione scrivi a questo indirizzo email.
			<br>
      Grazie e a presto!
		</p>


  </div>

  <%- include partials/signature.ejs %>

</body>

</html>
