<div class="admin-cooks">

    <div class="box">
        <div class="head">
            <i class="glyphicon glyphicon-th" style="margin-right:10px;"></i> Amministrazione Cuochi
        </div>

        <div class="body">

            <div class="search">
                <h2>Personalizza la ricerca
                    <p class="lead">i campi non sono obbligatori</p>
                </h2>
                <form class="form-inline">
                    <div class="btn-group full-sm" uib-dropdown>
                        <button id="certificate-button" type="button" class="btn btn-primary full-sm" uib-dropdown-toggle ng-disabled="disabled">Certificato: {{filter.certificated == null ? "tutti" : (filter.certificated | iif:"Si":"No")}} <span class="caret"></span></button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="status-button">
                            <li role="menuitem"><a ng-click="filter.certificated = null">Tutti</a></li>
                            <li role="menuitem"><a ng-click="filter.certificated = 0">Non certificati</a></li>
                            <li role="menuitem"><a ng-click="filter.certificated = 1">Certificati</a></li>
                        </ul>
                    </div>
                    <input id="filter-city" type="text" class="form-control full-sm" ng-model="data.location" uib-tooltip="Filtra in base alla distanza da una città (distanza massima 5km)" placeholder="Filtra per città" ng-change="onLocationChange()"
                        typeahead-on-select="onLocationSelect($item, $model, $label)" uib-typeahead="item as item.formatted_address for item in getLocation($viewValue)"
                        typeahead-editable="false" class="form-control" ng-keypress="($event.which === 13)?refreshSearch():0">
                    <input id="filter-text" type="text" class="form-control full-sm" id="text" uib-tooltip="Filtra per nome, cognome o email del cuoco" placeholder="Filtra per cuoco"
                        ng-keypress="($event.which === 13)?refreshSearch():0" ng-model="filter.text">
                    <button class="btn btn-success full-sm" type="button" ng-click="refreshSearch()">Cerca</button>
                </form>
            </div>
            <hr>

            <loading is-loading="loading" ng-class="{'hidden': !loading}"></loading>

            <div ng-if="cooks.length <= 0 && !loading" class="text-center">
                <h5>Nessun risultato</h5>
            </div>

            <div id="cook-list">

                <div style="clear:both; text-center" ng-if="pagination.totalCooks > pagination.itemsPerPage">
                    <uib-pagination total-items="pagination.totalCooks" ng-model="pagination.currentPage" class="pagination-sm" boundary-link-numbers="true"
                        boundary-links="true" force-ellipses="true" max-size="5" ng-change="pageChanged()"></uib-pagination>
                </div>

                <div class="cook-item" ng-repeat="cook in cooks track by cook.id">
                    <div class="strip_list" data-wow-delay="0.1s">
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="desc">
                                    <div class="image-container">
                                        <div class="thumb_strip" ng-style="getBackgroundImage(cook)"></div>
                                    </div>
                                    <a ui-sref="customer({customerId: cook.id})" target="_blank"><h3 class="cook_name correct-break-word">{{::cook.name}} {{::cook.lastname}}</h3></a>
                                    <div class="info">
                                        <div class="location">
                                            <a href="http://www.google.com/maps/place/{{cook.kitchen_location.lat}},{{cook.kitchen_location.lng}}" target="_blank">{{::cook.kitchen_location_info.address}}</a>
                                        </div>
                                        <a href="mailto:{{cook.email}}" target="_blank">{{cook.email}}</a>
                                        <span class="phone">{{cook.phone}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="product-button">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <input bs-switch ng-model="cook.productor_info.certificated" type="checkbox" switch-size="small" switch-on-text="Certificato"
                                                switch-off-text="Non-certificato" ng-change="saveProduct(cook)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both; text-center" ng-if="pagination.totalCooks > pagination.itemsPerPage">
                    <uib-pagination total-items="pagination.totalCooks" ng-model="pagination.currentPage" class="pagination-sm" boundary-link-numbers="true"
                        boundary-links="true" force-ellipses="true" max-size="5" ng-change="pageChanged()"></uib-pagination>
                </div>
            </div>

        </div>



    </div>

</div>
</div>
