<div id="ShopCtrl" ng-controller="ShopCtrl" itemscope itemtype="http://schema.org/Product">
  <!-- SubHeader =============================================== -->
  <section class="parallax-window" ng-style="{'background-image': getHeaderImage()}" ng-cloak>
    <div id="subheader" class="vertical-gradient">
      <div id="sub_content">
        <a ui-sref="customer({customerId: productor.id})">
          <div id="thumb">
            <div ng-if="!productor._picture || !productor._picture.url" class="no-picture"></div>
            <img ng-if="productor._picture && productor._picture.url"
                 ng-src="{{productor._picture.url | cloudinaryResize : 'h_450,q_80'}}"
                 alt="Cuoco {{productor.name}} {{productor.lastname}}">
          </div>
        </a>
        <h1 itemprop="name" class="correct-break-word">{{product.name}}</h1>
        <div><em><a ui-sref="customer({customerId: productor.id})">{{productor.name}}</a></em></div>
        <div ng-if="product.rate > 0" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
          <meta itemprop="ratingValue" content="{{product.rate}}"/>
        </div>
        <div class="rating">
          <i class="icon_star" ng-class="{voted : product.rate >= 1}"></i>
          <i class="icon_star" ng-class="{voted : product.rate >= 2}"></i>
          <i class="icon_star" ng-class="{voted : product.rate >= 3}"></i>
          <i class="icon_star" ng-class="{voted : product.rate >= 4}"></i>
          <i class="icon_star" ng-class="{voted : product.rate >= 5}"></i>
          <span ng-if="product._ratings.length == 1"> ( <small><a href="#" scroll-to="ratings">1 commento</a></small> ) </span>
          <span ng-if="product._ratings.length > 1"> ( <small><a href="#" scroll-to="ratings"><span
            itemprop="reviewCount">{{product._ratings.length}}</span> commenti</a></small> ) </span>
        </div>
        <div><em>{{productor.kitchen_location_info.city}} - {{productor.kitchen_location_info.region}} </em></div>
      </div>
      <!-- End sub_content -->
    </div>
    <!-- End subheader -->
  </section>
  <!-- End section -->
  <!-- End SubHeader ============================================ -->

  <div id="position">
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li>Prodotti</li>
        <li>{{product.name}}</li>
      </ul>
    </div>
  </div>
  <!-- Position -->
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <meta itemprop="priceCurrency" content="EUR"/>
    <meta itemprop="price" content="{{product.price}}"/>
    <meta itemprop="seller" content="{{productor.name}}"/>
    <div itemprop="areaServed" itemscope itemtype="http://schema.org/GeoShape">
      <meta itemprop="circle"
            content="{{product.productor.kitchen_location.lat}} {{product.productor.kitchen_location.lng}} {{product.productor.productor_info.max_distance}}"/>

      <div id="collapseMap" ng-if="showMap">

        <div class="map_canvas">
          <ui-gmap-google-map center="current.center" zoom="13" draggable="true" options="map.options">
            <ui-gmap-circle
              center="{latitude: product.productor.kitchen_location.lat,longitude: product.productor.kitchen_location.lng}"
              stroke="map.stroke" fill="map.fill" radius="product.productor.productor_info.max_distance"
              visible="map.visible" geodesic="map.geodesic" editable="map.editable" draggable="map.draggable"
              clickable="map.clickable" control="map.control"></ui-gmap-circle>
          </ui-gmap-google-map>
        </div>
      </div>
    </div>
  </div>

  <!-- End Map -->

  <loading ng-class="{'no-run' : !loading}" is-loading="loading"></loading>

  <!-- Content ================================================== -->
  <div class="container margin_60_35">

    <div class="alert alert-warning text-center" ng-if="!product.active || product.status != 1"><h4>
      <strong>Attenzione!</strong> Il piatto non può essere ordinato perchè <b>non attivo</b> oppure perchè non
      abilitato dallo staff di <b>Ucooki</b></h4></div>

    <div id="container_pin">
      <div class="row">

        <!--Contenuto pagina-->


        <div class="col-md-3">
          <p>
            <a class="btn_map" ng-click="toggleMap()">Mappa</a>
          </p>

          <div class="box_style_2 text-center" id="prod-information">
            <i class="icon-info-3"></i>
            <span class="block price" ng-if="product.sale_type == 1">Prezzo per {{product.weight}} Kg: {{product.price | currency}}</span>
            <span class="portions block" ng-if="product.sale_type == 1">Ordine minimo {{product.weight}} Kg,</span>
            <span class="portions block" ng-if="product.sale_type == 1">massimo {{getWeight(product, product.max_portion)}} Kg </span>
            <span class="block price"
                  ng-if="product.sale_type == 0">Prezzo porzione: {{product.price | currency}}</span>
            <span class="portions block" ng-if="product.sale_type == 0">Porzioni minime {{product.min_portion}}, massime {{product.max_portion}}</span>

            <span class="free-delivery block" ng-if="product.delivery_price <= 0 && product.delivery">
              È disponibile la consegna gratuita a domicilio nel raggio di <span class="clickable"
                                                                                 ng-click="toggleMap()"
                                                                                 uib-popover="{{message.distanceOnMap}}"
                                                                                 popover-trigger="mouseenter"
                                                                                 popover-append-to-body="true">{{product.productor.productor_info.max_distance | distance}}</span></span>

            <span class="delivery block" ng-if="product.delivery_price > 0 && product.delivery">
              È disponibile la consegna a domicilio nel raggio di <span class="clickable" ng-click="toggleMap()"
                                                                        uib-popover="{{message.distanceOnMap}}"
                                                                        popover-trigger="mouseenter"
                                                                        popover-append-to-body="true">{{product.productor.productor_info.max_distance | distance}}</span>. <span
              class="block">costo: {{product.delivery_price}} €</span></span>

            <span class="no-delivery block" ng-if="!product.delivery"> Non è disponibile la consegna a domicilio </span>

            <span class="cooker-link block">Vai al profilo di <a ui-sref="customer({customerId: productor.id})">{{productor.name}}</a> </span>
            <div class="certificated" ng-if="productor.productor_info.certificated"
                 uib-tooltip="Il cuoco ha ottenuto la certificazione HACCP" tooltip-append-to-body="true"
                 tooltip-placement="top">
              <i class="u-font u-icon-certificate2"></i>
              <span>Prodotto preparato da <strong>Cuoco certificato</strong></span>
            </div>
          </div>

          <div id="availability" class="box_style_2 strip_list grid">
            <h4 class="nomargin_top">Disponibilità <i class="icon_clock_alt pull-right"></i></h4>
            <ul class="opening_list" ng-repeat="range in product._timeRanges">
              <li ng-if="range.day === 1">Lunedi
                <span ng-if="(range | weekAvailability)">{{range | weekAvailability}}</span>
                <span ng-if="!(range | weekAvailability)" class="label label-danger">Chiuso</span>
              </li>
              <li ng-if="range.day === 2">Martedì
                <span ng-if="(range | weekAvailability)">{{range | weekAvailability}}</span>
                <span ng-if="!(range | weekAvailability)" class="label label-danger">Chiuso</span></li>
              <li ng-if="range.day === 3">Mercoledì
                <span ng-if="(range | weekAvailability)">{{range | weekAvailability}}</span>
                <span ng-if="!(range | weekAvailability)" class="label label-danger">Chiuso</span></li>
              <li ng-if="range.day === 4">Giovedì
                <span ng-if="(range | weekAvailability)">{{range | weekAvailability}}</span>
                <span ng-if="!(range | weekAvailability)" class="label label-danger">Chiuso</span></li>
              <li ng-if="range.day === 5">Venerdì
                <span ng-if="(range | weekAvailability)">{{range | weekAvailability}}</span>
                <span ng-if="!(range | weekAvailability)" class="label label-danger">Chiuso</span></li>
              <li ng-if="range.day === 6">Sabato
                <span ng-if="(range | weekAvailability)">{{range | weekAvailability}}</span>
                <span ng-if="!(range | weekAvailability)" class="label label-danger">Chiuso</span></li>
              <li ng-if="range.day === 7">Domenica
                <span ng-if="(range | weekAvailability)">{{range | weekAvailability}}</span>
                <span ng-if="!(range | weekAvailability)" class="label label-danger">Chiuso</span></li>
            </ul>

            <span class="notice block text-center">Preavviso richiesto: {{product.notice_time}} h</span>
          </div>


        </div>


        <div class="col-md-6">
          <div class="box_style_2">
            <h2 class="inner">Informazioni</h2>

            <div id="carousel" class="slider-pro carousel-fade" ng-if="slides.length > 0" ng-cloak>
              <div ng-if="slides.length > 0" class="col-md-12 nopadding">
                <div class="thumbnail">
                  <uib-carousel interval="5000" template-url="components/template/carousel-container.html">
                    <uib-slide ng-repeat="slide in slides | reverse">
                      <img itemprop="image" ng-click="onPictureClick(slide)"
                           ng-src="{{slide.image | cloudinaryResize : 'h_650,q_80'}}"
                           style="margin:auto;">
                    </uib-slide>
                  </uib-carousel>
                </div>
              </div>
            </div>

            <h3 class="nomargin_top">Descrizione</h3>
            <p itemprop="description">
              {{product.description}}
            </p>

            <div>
              <button id="btn-add-to-cart" ng-click="addToCart(product, productor)" class="btn_full"
                      ng-disabled="!product.active || product.status != 1">RICHIEDI <i
                ng-if="!product.active || product.status != 1" class="u-font u-icon-question"
                uib-popover="Attenzione. Impossibile ordinare il piatto perchè non attivo oppure perchè non abilitato dallo staff di Ucooki"
                popover-trigger="mouseenter"
                popover-append-to-body="true"></i></button>
            </div>

            <hr>

            <h3 class="nomargin_top">Ingredienti</h3>

            <table class="table table-striped nomargin">
              <tbody>
              <tr ng-repeat="ingredient in product._ingredients">
                <td class="name" width="30%">
                  <strong>{{ ingredient.name }}</strong>
                </td>
                <td class="description">
                  {{ ingredient.description }}
                </td>
              </tr>

              </tbody>
            </table>

            <h3 id="ratings" class="add_top_60">Ultimi commenti <a ng-click="showOtherRatings()"
                                                                   scroll-to="all-ratings"> <span>( {{product._ratings.length}} totali )</span></a>
            </h3>

            <div id="last-ratings">
              <div class="rating-container review_strip_single" ng-if="!allRatings"
                   ng-repeat="rating in product._ratings | orderBy: 'date':true | limitTo: 3">
                <u-rating-box r-rating="rating" r-avatar="{{rating.buyer._picture.url}}" r-name="{{rating.buyer.name}}"
                              r-link=getBuyerUrl(rating)></u-rating-box>
              </div>
            </div>

            <div class="review_strip_single" ng-if="product._ratings.length > 3 && !allRatings">
              <button ng-click="showOtherRatings()" class="btn_full">Mostra tutti i commenti</button>
            </div>

            <div id="all-ratings">
              <div class="rating-container review_strip_single" ng-if="allRatings"
                   ng-repeat="rating in product._ratings | orderBy: 'date':true">
                <u-rating-box r-rating="rating" r-avatar="{{rating.buyer._picture.url}}" r-name="{{rating.buyer.name}}"
                              r-link=getBuyerUrl(rating)></u-rating-box>
              </div>
            </div>

            <!-- End review strip -->
            <div class="review_strip_single" ng-if="product._ratings.length === 0">
              <p>Nessun Commento presente</p>
            </div>

          </div>
          <!-- End box_style_1 -->
        </div>


        <!--Carrello-->
        <div class="col-md-3">
          <div id="cart_box_container" sticky offset="100" media-query="min-width: 992px">
            <div id="cart_box">
              <h3>Il tuo Ordine <i class="icon-cart pull-right"></i></h3>

              <div ng-if="cart.orders.length <= 0" class="panel-body">
                Il tuo carrello &egrave; vuoto.
              </div>
              <div ng-if="cart.orders.length > 0" class="pa nel-body">
                <div ng-repeat="order in cart.orders track by $index">
                  <div ng-repeat="item in order.items track by $index">

                    <div>
                      <div class="row">
                        <div class="col-md-1 col-sm-1 col-xs-1 btn-remove">
                          <a href="" ng-click="removeItem($parent.$index, $index)" class="remove_item"><i
                            class="icon_minus_alt"></i></a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 title">
                          Porzioni:
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                          <select class="form-control" ng-options="portion for portion in getPortions(item)"
                                  ng-model="item.quantity" ng-change="onQuantityChange(item, $index)"></select>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12" ng-if="item.product.sale_type == 1">
                          Peso: <strong>{{getWeight(item.product, item.quantity)}} Kg</strong>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12" style="padding-top: 5px;">
                          <div>{{ item.product.name }}</div>
                        </div>
                      </div>
                      <div class="row" ng-if="item.note">
                        <div class="col-md-12" style="padding-top: 5px;">
                          Note: <strong>{{ item.note }}</strong>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12" style="padding-top: 5px;">
                        </div>
                        <div class="total">
                          <strong class="pull-right">{{item.quantity}} x {{ item.product.price | currency }}</strong>
                        </div>
                      </div>
                    </div>

                    <hr>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      Quando:
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                      <strong class="pull-right">{{ order.delivery_date | date:"d MMM 'alle' HH:mm"}}</strong>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      Modalità:
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                      <strong ng-if="order.delivery">
                        <span>Consegna</span>
                        <span ng-if="order.delivery_price <= 0">(gratuita)</span>
                        <span ng-if="order.delivery_price > 0">({{ order.delivery_price | currency }})</span>
                      </strong>
                      <strong ng-if="!order.delivery">
                        <span>Ritiro</span>
                      </strong>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      Totale:
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                      <strong>{{ order.total | currency }}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <hr>
              <div ng-if="cart.orders.length > 0">
                <button ng-click="checkout()" ui-sref="checkout" class="btn_full">Completa richiesta</button>
              </div>
            </div>
          </div>
          <!-- End cart_box -->
        </div>
        <!-- End col-md-3 -->

      </div>
      <!-- End row -->
    </div>
    <!-- End container pin -->
  </div>

  <!-- End container -->
  <!-- End Content =============================================== -->

</div>
