<div>
  <uib-accordion-group panel-class="{{getOrderClass(order.status) || 'panel-default'}} header" is-open=status.open>
    <uib-accordion-heading>
      <span class="status-icon glyphicon ng-class: getIcon();"></span>

      <span class="time"><i class="glyphicon glyphicon-calendar"></i>{{::order.delivery_date | date:"d MMM 'alle' HH:mm"}}</span> <i class="arrow glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      <div class="title"><span>{{::order.items[0].product.name}} {{::order.items.length > 1 ? "+" +(order.items.length-1) : "" }}</span></div>
      <span class="status" ng-class="{blink : important}">{{getMessage()}}</span>
      <timer ng-if="cooker && order.status == 0" end-time="order.timeout" language="it"><span class="counter-text" uib-tooltip="Timeout alla scadenza automatica dell'ordine">{{hourUnit}}</span></timer>
    </uib-accordion-heading>

    <div>

      <div class="refusal" ng-if="order.status == 4 && order.productor_note && order.productor_note != ''">
        <p ng-if="!cooker">Il cuoco ha giustificato il suo rifiuto:</p>
        <p ng-if="cooker">Hai giustificato così il tuo rifiuto:</p>
        <uib-alert type="danger">{{::order.productor_note}}</uib-alert>
      </div>

      <div class="refusal" ng-if="order.status == 6 && order.productor_note && order.productor_note != ''">
        <p ng-if="!order.productor_note">L'ordine è stato rifiutato.</p>
        <div ng-if="order.productor_note">
          <p>L'ordine è stato rifiutato con questa giustificazione:</p>
          <uib-alert type="danger">{{::order.productor_note}}</uib-alert>
        </div>
      </div>


      <div ng-if="order.delivery">
        <p>Ordine effettuato il {{::order.date | date:"d MMM 'alle' HH:mm"}}.
          <br>Consegna: <strong>{{::order.delivery_date | date:"d MMM 'alle' HH:mm"}}</strong> in via <strong>{{::order.location.address}}, num: {{::order.location.street_number}}</strong> <span ng-if="order.location.note">note: ({{::order.location.note}})</span>
        </p>
      </div>
      <div ng-if="!order.delivery">
        <p>Ordine effettuato il {{::order.date | date:"d MMM 'alle' HH:mm"}}.
          <br>Ritiro: <strong>{{::order.delivery_date | date:"d MMM 'alle' HH:mm"}}</strong> in via <strong>{{::order.location.address}}, num: {{::order.location.street_number}}</strong> <span ng-if="order.location.note">note: ({{::order.location.note}})</span>
        </p>
      </div>

      <div ng-if="!cooker">
        <p>Vai al profilo di <a ui-sref="customer({customerId: order.productor_id})" target="_blank"><strong>{{order.productor.name}}</strong></a></p>
				<span ng-if="order.productor.phone">Per qualsiasi <strong>emergenza</strong> puoi contattare <strong>{{order.productor.name}}</strong> al numero <strong>{{order.productor.phone}}</strong></span>
      </div>
      <div ng-if="cooker">
        <p>Vai al profilo di <a ui-sref="customer({customerId: order.buyer_id})" target="_blank"><strong>{{order.buyer.name}}</strong></a></p>
				<span ng-if="order.buyer.phone">Per qualsiasi <strong>emergenza</strong> puoi contattare <strong>{{order.buyer.name}}</strong> al numero <strong>{{order.buyer.phone}}</strong></span>
      </div>

      <div class="list-group" ng-repeat="item in order.items track by item.id">

        <div class="item">

          <div class="row">
            <div class="col-md-2">
              <a ui-sref="shop({productId: item.product.id})" target="_blank">
                <div class="product-image" ng-repeat="picture in item.product._pictures | first: 'principal === true'" style="background-image: url({{::picture.url | cloudinaryResize:'h_80'}});" ng-if="picture.principal || !item.product._pictures.length"></div>
              </a>
            </div>
            <div class="col-md-10">
              <a ui-sref="shop({productId: item.product.id})" target="_blank">
                <h5 class="list-group-item-heading title">{{item.product.name}}</h5>
              </a>

              <div class="list-group-item-text ">

                <p class="quantity">{{item.quantity}} porzioni</p>
                <p class="note" ng-if="item.note != ''"> <b>Nota:</b> {{item.note}}</p>
              </div>
              <a class="btn btn-primary" ng-href="{{getItemUrl(item)}}" target="_blank"><i class="icon-facebook" uib-tooltip="Condividi su Facebook"></i></a>

              <div class="feedback" ng-if="order.status == 3 && !cooker">
                <div class="form-group" ng-if="!item.rating">
                  <button class="btn btn-success" ng-click="feedbackEater({item: item, order: order})">Lascia un Commento</button>
                </div>
                <div class="form-group" ng-if="item.rating">
                  <p> Il tuo commento al piatto:</p>
                  <uib-rating ng-model="item.rating.rate" readonly="true" aria-labelledby="default-rating"></uib-rating>
                  <span class="block">{{item.rating.message}}</span>
                </div>
              </div>
            </div>
          </div>


        </div>


      </div>

      <div class="total">
        <div ng-if="order._coupon" class="text-right">Sconto applicato: <strong>{{order._coupon.discount}}%</strong> (prezzo iniziale {{order.total_grass | currency}})</div>
        <div class="text-right">Totale: <strong>{{order.total | currency}}</strong></div>
      </div>

      <!--				Feedback del cuoco-->
      <div ng-if="order.status == 3" class="feedback">
        <div class="form-group " ng-if="cooker && !order.rating">
          <p> Descrivi il comportamento di <a ui-sref="customer({customerId: order.buyer_id})" target="_blank"><strong>{{order.buyer.name}}</strong></a></p>
          <button class="btn btn-success" ng-click="feedbackCooker({order: order})">Lascia un Commento</button>
        </div>
        <div class="form-group" ng-if="cooker && order.rating">
          <p> Il tuo voto per <a ui-sref="customer({customerId: order.buyer_id})" target="_blank"><strong>{{order.buyer.name}}</strong></a></p>
          <uib-rating ng-model="order.rating.rate" readonly="true" aria-labelledby="default-rating"></uib-rating>
					<span class="block">{{order.rating.message}}</span>
        </div>
      </div>

    </div>


    <button class="btn btn-success btn-lg btn-block" ng-if="confirmButton == 'enable'" ng-click="buttonPressed({type:'confirm', ord: order})">Conferma</button>
    <button class="btn btn-danger btn-lg btn-block" ng-if="rejectButton == 'enable'" ng-click="buttonPressed({type:'reject', ord: order})">Rifiuta</button>
    <button class="btn btn-danger btn-lg btn-block" ng-if="cancelButton == 'enable'" ng-click="buttonPressed({type:'cancel', ord: order})">Cancella</button>
  </uib-accordion-group>
</div>
