<div class="row" id="feedback-model">
  <div class="col-md-12">
    <form class="form-horizontal">
      <fieldset>

        <div class="form-group">
          <label class="text-left" for="rating">Voto:</label>
					<uib-rating id="rating" ng-model="data.rate" readonly="false" aria-labelledby="default-rating"></uib-rating>
        </div>

        <div class="form-group">
          <label class="text-left" for="feedback">Commento:</label>
          <textarea id="feedback" class="form-control" rows="3" placeholder="Lascia un commento..." ng-model="data.message"></textarea>
        </div>

      </fieldset>
    </form>
  </div>
</div>
