@font-face {
  font-family: 'ucooki-icon-font';
  src: url('/assets/fonts/ucooki-icon-font.eot?o1w14u');
  src: url('/assets/fonts/ucooki-icon-font.eot?o1w14u#iefix') format('embedded-opentype'), 
  url('/assets/fonts/ucooki-icon-font.ttf?o1w14u') format('truetype'), 
  url('/assets/fonts/ucooki-icon-font.woff?o1w14u') format('woff'), 
  url('/assets/fonts/ucooki-icon-font.svg?o1w14u#ucooki-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.u-font {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ucooki-icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.u-icon-cooking:before {
  content: "\eaf1";
}

.u-icon-piggy-bank:before {
  content: "\eaf2";
}

.u-icon-cook-hat:before {
  content: "\eaf3";
}

.u-icon-ucooki-logo:before {
  content: "\e900";
}

.u-icon-avatar:before {
  content: "\e901";
}

.u-icon-farm-products:before {
  content: "\e902";
}

.u-icon-bell-covering-hot:before {
  content: "\e903";
}

.u-icon-certificate:before {
  content: "\e904";
}

.u-icon-certificate2:before {
  content: "\eaf0";
}

.u-icon-home:before {
  content: "\e905";
}

.u-icon-home2:before {
  content: "\e906";
}

.u-icon-home3:before {
  content: "\e907";
}

.u-icon-office:before {
  content: "\e908";
}

.u-icon-newspaper:before {
  content: "\e909";
}

.u-icon-pencil:before {
  content: "\e90a";
}

.u-icon-pencil2:before {
  content: "\e90b";
}

.u-icon-quill:before {
  content: "\e90c";
}

.u-icon-pen:before {
  content: "\e90d";
}

.u-icon-blog:before {
  content: "\e90e";
}

.u-icon-eyedropper:before {
  content: "\e90f";
}

.u-icon-droplet:before {
  content: "\e910";
}

.u-icon-paint-format:before {
  content: "\e911";
}

.u-icon-image:before {
  content: "\e912";
}

.u-icon-images:before {
  content: "\e913";
}

.u-icon-camera:before {
  content: "\e914";
}

.u-icon-headphones:before {
  content: "\e915";
}

.u-icon-music:before {
  content: "\e916";
}

.u-icon-play:before {
  content: "\e917";
}

.u-icon-film:before {
  content: "\e918";
}

.u-icon-video-camera:before {
  content: "\e919";
}

.u-icon-dice:before {
  content: "\e91a";
}

.u-icon-pacman:before {
  content: "\e91b";
}

.u-icon-spades:before {
  content: "\e91c";
}

.u-icon-clubs:before {
  content: "\e91d";
}

.u-icon-diamonds:before {
  content: "\e91e";
}

.u-icon-bullhorn:before {
  content: "\e91f";
}

.u-icon-connection:before {
  content: "\e920";
}

.u-icon-podcast:before {
  content: "\e921";
}

.u-icon-feed:before {
  content: "\e922";
}

.u-icon-mic:before {
  content: "\e923";
}

.u-icon-book:before {
  content: "\e924";
}

.u-icon-books:before {
  content: "\e925";
}

.u-icon-library:before {
  content: "\e926";
}

.u-icon-file-text:before {
  content: "\e927";
}

.u-icon-profile:before {
  content: "\e928";
}

.u-icon-file-empty:before {
  content: "\e929";
}

.u-icon-files-empty:before {
  content: "\e92a";
}

.u-icon-file-text2:before {
  content: "\e92b";
}

.u-icon-file-picture:before {
  content: "\e92c";
}

.u-icon-file-music:before {
  content: "\e92d";
}

.u-icon-file-play:before {
  content: "\e92e";
}

.u-icon-file-video:before {
  content: "\e92f";
}

.u-icon-file-zip:before {
  content: "\e930";
}

.u-icon-copy:before {
  content: "\e931";
}

.u-icon-paste:before {
  content: "\e932";
}

.u-icon-stack:before {
  content: "\e933";
}

.u-icon-folder:before {
  content: "\e934";
}

.u-icon-folder-open:before {
  content: "\e935";
}

.u-icon-folder-plus:before {
  content: "\e936";
}

.u-icon-folder-minus:before {
  content: "\e937";
}

.u-icon-folder-download:before {
  content: "\e938";
}

.u-icon-folder-upload:before {
  content: "\e939";
}

.u-icon-price-tag:before {
  content: "\e93a";
}

.u-icon-price-tags:before {
  content: "\e93b";
}

.u-icon-barcode:before {
  content: "\e93c";
}

.u-icon-qrcode:before {
  content: "\e93d";
}

.u-icon-ticket:before {
  content: "\e93e";
}

.u-icon-cart:before {
  content: "\e93f";
}

.u-icon-coin-dollar:before {
  content: "\e940";
}

.u-icon-coin-euro:before {
  content: "\e941";
}

.u-icon-coin-pound:before {
  content: "\e942";
}

.u-icon-coin-yen:before {
  content: "\e943";
}

.u-icon-credit-card:before {
  content: "\e944";
}

.u-icon-calculator:before {
  content: "\e945";
}

.u-icon-lifebuoy:before {
  content: "\e946";
}

.u-icon-phone:before {
  content: "\e947";
}

.u-icon-phone-hang-up:before {
  content: "\e948";
}

.u-icon-address-book:before {
  content: "\e949";
}

.u-icon-envelop:before {
  content: "\e94a";
}

.u-icon-pushpin:before {
  content: "\e94b";
}

.u-icon-location:before {
  content: "\e94c";
}

.u-icon-location2:before {
  content: "\e94d";
}

.u-icon-compass:before {
  content: "\e94e";
}

.u-icon-compass2:before {
  content: "\e94f";
}

.u-icon-map:before {
  content: "\e950";
}

.u-icon-map2:before {
  content: "\e951";
}

.u-icon-history:before {
  content: "\e952";
}

.u-icon-clock:before {
  content: "\e953";
}

.u-icon-clock2:before {
  content: "\e954";
}

.u-icon-alarm:before {
  content: "\e955";
}

.u-icon-bell:before {
  content: "\e956";
}

.u-icon-stopwatch:before {
  content: "\e957";
}

.u-icon-calendar:before {
  content: "\e958";
}

.u-icon-printer:before {
  content: "\e959";
}

.u-icon-keyboard:before {
  content: "\e95a";
}

.u-icon-display:before {
  content: "\e95b";
}

.u-icon-laptop:before {
  content: "\e95c";
}

.u-icon-mobile:before {
  content: "\e95d";
}

.u-icon-mobile2:before {
  content: "\e95e";
}

.u-icon-tablet:before {
  content: "\e95f";
}

.u-icon-tv:before {
  content: "\e960";
}

.u-icon-drawer:before {
  content: "\e961";
}

.u-icon-drawer2:before {
  content: "\e962";
}

.u-icon-box-add:before {
  content: "\e963";
}

.u-icon-box-remove:before {
  content: "\e964";
}

.u-icon-download:before {
  content: "\e965";
}

.u-icon-upload:before {
  content: "\e966";
}

.u-icon-floppy-disk:before {
  content: "\e967";
}

.u-icon-drive:before {
  content: "\e968";
}

.u-icon-database:before {
  content: "\e969";
}

.u-icon-undo:before {
  content: "\e96a";
}

.u-icon-redo:before {
  content: "\e96b";
}

.u-icon-undo2:before {
  content: "\e96c";
}

.u-icon-redo2:before {
  content: "\e96d";
}

.u-icon-forward:before {
  content: "\e96e";
}

.u-icon-reply:before {
  content: "\e96f";
}

.u-icon-bubble:before {
  content: "\e970";
}

.u-icon-bubbles:before {
  content: "\e971";
}

.u-icon-bubbles2:before {
  content: "\e972";
}

.u-icon-bubble2:before {
  content: "\e973";
}

.u-icon-bubbles3:before {
  content: "\e974";
}

.u-icon-bubbles4:before {
  content: "\e975";
}

.u-icon-user:before {
  content: "\e976";
}

.u-icon-users:before {
  content: "\e977";
}

.u-icon-user-plus:before {
  content: "\e978";
}

.u-icon-user-minus:before {
  content: "\e979";
}

.u-icon-user-check:before {
  content: "\e97a";
}

.u-icon-user-tie:before {
  content: "\e97b";
}

.u-icon-quotes-left:before {
  content: "\e97c";
}

.u-icon-quotes-right:before {
  content: "\e97d";
}

.u-icon-hour-glass:before {
  content: "\e97e";
}

.u-icon-spinner:before {
  content: "\e97f";
}

.u-icon-spinner2:before {
  content: "\e980";
}

.u-icon-spinner3:before {
  content: "\e981";
}

.u-icon-spinner4:before {
  content: "\e982";
}

.u-icon-spinner5:before {
  content: "\e983";
}

.u-icon-spinner6:before {
  content: "\e984";
}

.u-icon-spinner7:before {
  content: "\e985";
}

.u-icon-spinner8:before {
  content: "\e986";
}

.u-icon-spinner9:before {
  content: "\e987";
}

.u-icon-spinner10:before {
  content: "\e988";
}

.u-icon-spinner11:before {
  content: "\e989";
}

.u-icon-binoculars:before {
  content: "\e98a";
}

.u-icon-search:before {
  content: "\e98b";
}

.u-icon-zoom-in:before {
  content: "\e98c";
}

.u-icon-zoom-out:before {
  content: "\e98d";
}

.u-icon-enlarge:before {
  content: "\e98e";
}

.u-icon-shrink:before {
  content: "\e98f";
}

.u-icon-enlarge2:before {
  content: "\e990";
}

.u-icon-shrink2:before {
  content: "\e991";
}

.u-icon-key:before {
  content: "\e992";
}

.u-icon-key2:before {
  content: "\e993";
}

.u-icon-lock:before {
  content: "\e994";
}

.u-icon-unlocked:before {
  content: "\e995";
}

.u-icon-wrench:before {
  content: "\e996";
}

.u-icon-equalizer:before {
  content: "\e997";
}

.u-icon-equalizer2:before {
  content: "\e998";
}

.u-icon-cog:before {
  content: "\e999";
}

.u-icon-cogs:before {
  content: "\e99a";
}

.u-icon-hammer:before {
  content: "\e99b";
}

.u-icon-magic-wand:before {
  content: "\e99c";
}

.u-icon-aid-kit:before {
  content: "\e99d";
}

.u-icon-bug:before {
  content: "\e99e";
}

.u-icon-pie-chart:before {
  content: "\e99f";
}

.u-icon-stats-dots:before {
  content: "\e9a0";
}

.u-icon-stats-bars:before {
  content: "\e9a1";
}

.u-icon-stats-bars2:before {
  content: "\e9a2";
}

.u-icon-trophy:before {
  content: "\e9a3";
}

.u-icon-gift:before {
  content: "\e9a4";
}

.u-icon-glass:before {
  content: "\e9a5";
}

.u-icon-glass2:before {
  content: "\e9a6";
}

.u-icon-mug:before {
  content: "\e9a7";
}

.u-icon-spoon-knife:before {
  content: "\e9a8";
}

.u-icon-leaf:before {
  content: "\e9a9";
}

.u-icon-rocket:before {
  content: "\e9aa";
}

.u-icon-meter:before {
  content: "\e9ab";
}

.u-icon-meter2:before {
  content: "\e9ac";
}

.u-icon-hammer2:before {
  content: "\e9ad";
}

.u-icon-fire:before {
  content: "\e9ae";
}

.u-icon-lab:before {
  content: "\e9af";
}

.u-icon-magnet:before {
  content: "\e9b0";
}

.u-icon-bin:before {
  content: "\e9b1";
}

.u-icon-bin2:before {
  content: "\e9b2";
}

.u-icon-briefcase:before {
  content: "\e9b3";
}

.u-icon-airplane:before {
  content: "\e9b4";
}

.u-icon-truck:before {
  content: "\e9b5";
}

.u-icon-road:before {
  content: "\e9b6";
}

.u-icon-accessibility:before {
  content: "\e9b7";
}

.u-icon-target:before {
  content: "\e9b8";
}

.u-icon-shield:before {
  content: "\e9b9";
}

.u-icon-power:before {
  content: "\e9ba";
}

.u-icon-switch:before {
  content: "\e9bb";
}

.u-icon-power-cord:before {
  content: "\e9bc";
}

.u-icon-clipboard:before {
  content: "\e9bd";
}

.u-icon-list-numbered:before {
  content: "\e9be";
}

.u-icon-list:before {
  content: "\e9bf";
}

.u-icon-list2:before {
  content: "\e9c0";
}

.u-icon-tree:before {
  content: "\e9c1";
}

.u-icon-menu:before {
  content: "\e9c2";
}

.u-icon-menu2:before {
  content: "\e9c3";
}

.u-icon-menu3:before {
  content: "\e9c4";
}

.u-icon-menu4:before {
  content: "\e9c5";
}

.u-icon-cloud:before {
  content: "\e9c6";
}

.u-icon-cloud-download:before {
  content: "\e9c7";
}

.u-icon-cloud-upload:before {
  content: "\e9c8";
}

.u-icon-cloud-check:before {
  content: "\e9c9";
}

.u-icon-download2:before {
  content: "\e9ca";
}

.u-icon-upload2:before {
  content: "\e9cb";
}

.u-icon-download3:before {
  content: "\e9cc";
}

.u-icon-upload3:before {
  content: "\e9cd";
}

.u-icon-sphere:before {
  content: "\e9ce";
}

.u-icon-earth:before {
  content: "\e9cf";
}

.u-icon-link:before {
  content: "\e9d0";
}

.u-icon-flag:before {
  content: "\e9d1";
}

.u-icon-attachment:before {
  content: "\e9d2";
}

.u-icon-eye:before {
  content: "\e9d3";
}

.u-icon-eye-plus:before {
  content: "\e9d4";
}

.u-icon-eye-minus:before {
  content: "\e9d5";
}

.u-icon-eye-blocked:before {
  content: "\e9d6";
}

.u-icon-bookmark:before {
  content: "\e9d7";
}

.u-icon-bookmarks:before {
  content: "\e9d8";
}

.u-icon-sun:before {
  content: "\e9d9";
}

.u-icon-contrast:before {
  content: "\e9da";
}

.u-icon-brightness-contrast:before {
  content: "\e9db";
}

.u-icon-star-empty:before {
  content: "\e9dc";
}

.u-icon-star-half:before {
  content: "\e9dd";
}

.u-icon-star-full:before {
  content: "\e9de";
}

.u-icon-heart:before {
  content: "\e9df";
}

.u-icon-heart-broken:before {
  content: "\e9e0";
}

.u-icon-man:before {
  content: "\e9e1";
}

.u-icon-woman:before {
  content: "\e9e2";
}

.u-icon-man-woman:before {
  content: "\e9e3";
}

.u-icon-happy:before {
  content: "\e9e4";
}

.u-icon-happy2:before {
  content: "\e9e5";
}

.u-icon-smile:before {
  content: "\e9e6";
}

.u-icon-smile2:before {
  content: "\e9e7";
}

.u-icon-tongue:before {
  content: "\e9e8";
}

.u-icon-tongue2:before {
  content: "\e9e9";
}

.u-icon-sad:before {
  content: "\e9ea";
}

.u-icon-sad2:before {
  content: "\e9eb";
}

.u-icon-wink:before {
  content: "\e9ec";
}

.u-icon-wink2:before {
  content: "\e9ed";
}

.u-icon-grin:before {
  content: "\e9ee";
}

.u-icon-grin2:before {
  content: "\e9ef";
}

.u-icon-cool:before {
  content: "\e9f0";
}

.u-icon-cool2:before {
  content: "\e9f1";
}

.u-icon-angry:before {
  content: "\e9f2";
}

.u-icon-angry2:before {
  content: "\e9f3";
}

.u-icon-evil:before {
  content: "\e9f4";
}

.u-icon-evil2:before {
  content: "\e9f5";
}

.u-icon-shocked:before {
  content: "\e9f6";
}

.u-icon-shocked2:before {
  content: "\e9f7";
}

.u-icon-baffled:before {
  content: "\e9f8";
}

.u-icon-baffled2:before {
  content: "\e9f9";
}

.u-icon-confused:before {
  content: "\e9fa";
}

.u-icon-confused2:before {
  content: "\e9fb";
}

.u-icon-neutral:before {
  content: "\e9fc";
}

.u-icon-neutral2:before {
  content: "\e9fd";
}

.u-icon-hipster:before {
  content: "\e9fe";
}

.u-icon-hipster2:before {
  content: "\e9ff";
}

.u-icon-wondering:before {
  content: "\ea00";
}

.u-icon-wondering2:before {
  content: "\ea01";
}

.u-icon-sleepy:before {
  content: "\ea02";
}

.u-icon-sleepy2:before {
  content: "\ea03";
}

.u-icon-frustrated:before {
  content: "\ea04";
}

.u-icon-frustrated2:before {
  content: "\ea05";
}

.u-icon-crying:before {
  content: "\ea06";
}

.u-icon-crying2:before {
  content: "\ea07";
}

.u-icon-point-up:before {
  content: "\ea08";
}

.u-icon-point-right:before {
  content: "\ea09";
}

.u-icon-point-down:before {
  content: "\ea0a";
}

.u-icon-point-left:before {
  content: "\ea0b";
}

.u-icon-warning:before {
  content: "\ea0c";
}

.u-icon-notification:before {
  content: "\ea0d";
}

.u-icon-question:before {
  content: "\ea0e";
}

.u-icon-plus:before {
  content: "\ea0f";
}

.u-icon-minus:before {
  content: "\ea10";
}

.u-icon-info:before {
  content: "\ea11";
}

.u-icon-cancel-circle:before {
  content: "\ea12";
}

.u-icon-blocked:before {
  content: "\ea13";
}

.u-icon-cross:before {
  content: "\ea14";
}

.u-icon-checkmark:before {
  content: "\ea15";
}

.u-icon-checkmark2:before {
  content: "\ea16";
}

.u-icon-spell-check:before {
  content: "\ea17";
}

.u-icon-enter:before {
  content: "\ea18";
}

.u-icon-exit:before {
  content: "\ea19";
}

.u-icon-play2:before {
  content: "\ea1a";
}

.u-icon-pause:before {
  content: "\ea1b";
}

.u-icon-stop:before {
  content: "\ea1c";
}

.u-icon-previous:before {
  content: "\ea1d";
}

.u-icon-next:before {
  content: "\ea1e";
}

.u-icon-backward:before {
  content: "\ea1f";
}

.u-icon-forward2:before {
  content: "\ea20";
}

.u-icon-play3:before {
  content: "\ea21";
}

.u-icon-pause2:before {
  content: "\ea22";
}

.u-icon-stop2:before {
  content: "\ea23";
}

.u-icon-backward2:before {
  content: "\ea24";
}

.u-icon-forward3:before {
  content: "\ea25";
}

.u-icon-first:before {
  content: "\ea26";
}

.u-icon-last:before {
  content: "\ea27";
}

.u-icon-previous2:before {
  content: "\ea28";
}

.u-icon-next2:before {
  content: "\ea29";
}

.u-icon-eject:before {
  content: "\ea2a";
}

.u-icon-volume-high:before {
  content: "\ea2b";
}

.u-icon-volume-medium:before {
  content: "\ea2c";
}

.u-icon-volume-low:before {
  content: "\ea2d";
}

.u-icon-volume-mute:before {
  content: "\ea2e";
}

.u-icon-volume-mute2:before {
  content: "\ea2f";
}

.u-icon-volume-increase:before {
  content: "\ea30";
}

.u-icon-volume-decrease:before {
  content: "\ea31";
}

.u-icon-loop:before {
  content: "\ea32";
}

.u-icon-loop2:before {
  content: "\ea33";
}

.u-icon-infinite:before {
  content: "\ea34";
}

.u-icon-shuffle:before {
  content: "\ea35";
}

.u-icon-arrow-up-left:before {
  content: "\ea36";
}

.u-icon-arrow-up:before {
  content: "\ea37";
}

.u-icon-arrow-up-right:before {
  content: "\ea38";
}

.u-icon-arrow-right:before {
  content: "\ea39";
}

.u-icon-arrow-down-right:before {
  content: "\ea3a";
}

.u-icon-arrow-down:before {
  content: "\ea3b";
}

.u-icon-arrow-down-left:before {
  content: "\ea3c";
}

.u-icon-arrow-left:before {
  content: "\ea3d";
}

.u-icon-arrow-up-left2:before {
  content: "\ea3e";
}

.u-icon-arrow-up2:before {
  content: "\ea3f";
}

.u-icon-arrow-up-right2:before {
  content: "\ea40";
}

.u-icon-arrow-right2:before {
  content: "\ea41";
}

.u-icon-arrow-down-right2:before {
  content: "\ea42";
}

.u-icon-arrow-down2:before {
  content: "\ea43";
}

.u-icon-arrow-down-left2:before {
  content: "\ea44";
}

.u-icon-arrow-left2:before {
  content: "\ea45";
}

.u-icon-circle-up:before {
  content: "\ea46";
}

.u-icon-circle-right:before {
  content: "\ea47";
}

.u-icon-circle-down:before {
  content: "\ea48";
}

.u-icon-circle-left:before {
  content: "\ea49";
}

.u-icon-tab:before {
  content: "\ea4a";
}

.u-icon-move-up:before {
  content: "\ea4b";
}

.u-icon-move-down:before {
  content: "\ea4c";
}

.u-icon-sort-alpha-asc:before {
  content: "\ea4d";
}

.u-icon-sort-alpha-desc:before {
  content: "\ea4e";
}

.u-icon-sort-numeric-asc:before {
  content: "\ea4f";
}

.u-icon-sort-numberic-desc:before {
  content: "\ea50";
}

.u-icon-sort-amount-asc:before {
  content: "\ea51";
}

.u-icon-sort-amount-desc:before {
  content: "\ea52";
}

.u-icon-command:before {
  content: "\ea53";
}

.u-icon-shift:before {
  content: "\ea54";
}

.u-icon-ctrl:before {
  content: "\ea55";
}

.u-icon-opt:before {
  content: "\ea56";
}

.u-icon-checkbox-checked:before {
  content: "\ea57";
}

.u-icon-checkbox-unchecked:before {
  content: "\ea58";
}

.u-icon-radio-checked:before {
  content: "\ea59";
}

.u-icon-radio-checked2:before {
  content: "\ea5a";
}

.u-icon-radio-unchecked:before {
  content: "\ea5b";
}

.u-icon-crop:before {
  content: "\ea5c";
}

.u-icon-make-group:before {
  content: "\ea5d";
}

.u-icon-ungroup:before {
  content: "\ea5e";
}

.u-icon-scissors:before {
  content: "\ea5f";
}

.u-icon-filter:before {
  content: "\ea60";
}

.u-icon-font:before {
  content: "\ea61";
}

.u-icon-ligature:before {
  content: "\ea62";
}

.u-icon-ligature2:before {
  content: "\ea63";
}

.u-icon-text-height:before {
  content: "\ea64";
}

.u-icon-text-width:before {
  content: "\ea65";
}

.u-icon-font-size:before {
  content: "\ea66";
}

.u-icon-bold:before {
  content: "\ea67";
}

.u-icon-underline:before {
  content: "\ea68";
}

.u-icon-italic:before {
  content: "\ea69";
}

.u-icon-strikethrough:before {
  content: "\ea6a";
}

.u-icon-omega:before {
  content: "\ea6b";
}

.u-icon-sigma:before {
  content: "\ea6c";
}

.u-icon-page-break:before {
  content: "\ea6d";
}

.u-icon-superscript:before {
  content: "\ea6e";
}

.u-icon-subscript:before {
  content: "\ea6f";
}

.u-icon-superscript2:before {
  content: "\ea70";
}

.u-icon-subscript2:before {
  content: "\ea71";
}

.u-icon-text-color:before {
  content: "\ea72";
}

.u-icon-pagebreak:before {
  content: "\ea73";
}

.u-icon-clear-formatting:before {
  content: "\ea74";
}

.u-icon-table:before {
  content: "\ea75";
}

.u-icon-table2:before {
  content: "\ea76";
}

.u-icon-insert-template:before {
  content: "\ea77";
}

.u-icon-pilcrow:before {
  content: "\ea78";
}

.u-icon-ltr:before {
  content: "\ea79";
}

.u-icon-rtl:before {
  content: "\ea7a";
}

.u-icon-section:before {
  content: "\ea7b";
}

.u-icon-paragraph-left:before {
  content: "\ea7c";
}

.u-icon-paragraph-center:before {
  content: "\ea7d";
}

.u-icon-paragraph-right:before {
  content: "\ea7e";
}

.u-icon-paragraph-justify:before {
  content: "\ea7f";
}

.u-icon-indent-increase:before {
  content: "\ea80";
}

.u-icon-indent-decrease:before {
  content: "\ea81";
}

.u-icon-share:before {
  content: "\ea82";
}

.u-icon-new-tab:before {
  content: "\ea83";
}

.u-icon-embed:before {
  content: "\ea84";
}

.u-icon-embed2:before {
  content: "\ea85";
}

.u-icon-terminal:before {
  content: "\ea86";
}

.u-icon-share2:before {
  content: "\ea87";
}

.u-icon-mail:before {
  content: "\ea88";
}

.u-icon-mail2:before {
  content: "\ea89";
}

.u-icon-mail3:before {
  content: "\ea8a";
}

.u-icon-mail4:before {
  content: "\ea8b";
}

.u-icon-amazon:before {
  content: "\ea8c";
}

.u-icon-google:before {
  content: "\ea8d";
}

.u-icon-google2:before {
  content: "\ea8e";
}

.u-icon-google3:before {
  content: "\ea8f";
}

.u-icon-google-plus:before {
  content: "\ea90";
}

.u-icon-google-plus2:before {
  content: "\ea91";
}

.u-icon-google-plus3:before {
  content: "\ea92";
}

.u-icon-hangouts:before {
  content: "\ea93";
}

.u-icon-google-drive:before {
  content: "\ea94";
}

.u-icon-facebook:before {
  content: "\ea95";
}

.u-icon-facebook2:before {
  content: "\ea96";
}

.u-icon-instagram:before {
  content: "\ea97";
}

.u-icon-whatsapp:before {
  content: "\ea98";
}

.u-icon-spotify:before {
  content: "\ea99";
}

.u-icon-telegram:before {
  content: "\ea9a";
}

.u-icon-twitter:before {
  content: "\ea9b";
}

.u-icon-vine:before {
  content: "\ea9c";
}

.u-icon-vk:before {
  content: "\ea9d";
}

.u-icon-renren:before {
  content: "\ea9e";
}

.u-icon-sina-weibo:before {
  content: "\ea9f";
}

.u-icon-rss:before {
  content: "\eaa0";
}

.u-icon-rss2:before {
  content: "\eaa1";
}

.u-icon-youtube:before {
  content: "\eaa2";
}

.u-icon-youtube2:before {
  content: "\eaa3";
}

.u-icon-twitch:before {
  content: "\eaa4";
}

.u-icon-vimeo:before {
  content: "\eaa5";
}

.u-icon-vimeo2:before {
  content: "\eaa6";
}

.u-icon-lanyrd:before {
  content: "\eaa7";
}

.u-icon-flickr:before {
  content: "\eaa8";
}

.u-icon-flickr2:before {
  content: "\eaa9";
}

.u-icon-flickr3:before {
  content: "\eaaa";
}

.u-icon-flickr4:before {
  content: "\eaab";
}

.u-icon-dribbble:before {
  content: "\eaac";
}

.u-icon-behance:before {
  content: "\eaad";
}

.u-icon-behance2:before {
  content: "\eaae";
}

.u-icon-deviantart:before {
  content: "\eaaf";
}

.u-icon-500px:before {
  content: "\eab0";
}

.u-icon-steam:before {
  content: "\eab1";
}

.u-icon-steam2:before {
  content: "\eab2";
}

.u-icon-dropbox:before {
  content: "\eab3";
}

.u-icon-onedrive:before {
  content: "\eab4";
}

.u-icon-github:before {
  content: "\eab5";
}

.u-icon-npm:before {
  content: "\eab6";
}

.u-icon-basecamp:before {
  content: "\eab7";
}

.u-icon-trello:before {
  content: "\eab8";
}

.u-icon-wordpress:before {
  content: "\eab9";
}

.u-icon-joomla:before {
  content: "\eaba";
}

.u-icon-ello:before {
  content: "\eabb";
}

.u-icon-blogger:before {
  content: "\eabc";
}

.u-icon-blogger2:before {
  content: "\eabd";
}

.u-icon-tumblr:before {
  content: "\eabe";
}

.u-icon-tumblr2:before {
  content: "\eabf";
}

.u-icon-yahoo:before {
  content: "\eac0";
}

.u-icon-yahoo2:before {
  content: "\eac1";
}

.u-icon-tux:before {
  content: "\eac2";
}

.u-icon-appleinc:before {
  content: "\eac3";
}

.u-icon-finder:before {
  content: "\eac4";
}

.u-icon-android:before {
  content: "\eac5";
}

.u-icon-windows:before {
  content: "\eac6";
}

.u-icon-windows8:before {
  content: "\eac7";
}

.u-icon-soundcloud:before {
  content: "\eac8";
}

.u-icon-soundcloud2:before {
  content: "\eac9";
}

.u-icon-skype:before {
  content: "\eaca";
}

.u-icon-reddit:before {
  content: "\eacb";
}

.u-icon-hackernews:before {
  content: "\eacc";
}

.u-icon-wikipedia:before {
  content: "\eacd";
}

.u-icon-linkedin:before {
  content: "\eace";
}

.u-icon-linkedin2:before {
  content: "\eacf";
}

.u-icon-lastfm:before {
  content: "\ead0";
}

.u-icon-lastfm2:before {
  content: "\ead1";
}

.u-icon-delicious:before {
  content: "\ead2";
}

.u-icon-stumbleupon:before {
  content: "\ead3";
}

.u-icon-stumbleupon2:before {
  content: "\ead4";
}

.u-icon-stackoverflow:before {
  content: "\ead5";
}

.u-icon-pinterest:before {
  content: "\ead6";
}

.u-icon-pinterest2:before {
  content: "\ead7";
}

.u-icon-xing:before {
  content: "\ead8";
}

.u-icon-xing2:before {
  content: "\ead9";
}

.u-icon-flattr:before {
  content: "\eada";
}

.u-icon-foursquare:before {
  content: "\eadb";
}

.u-icon-yelp:before {
  content: "\eadc";
}

.u-icon-paypal:before {
  content: "\eadd";
}

.u-icon-chrome:before {
  content: "\eade";
}

.u-icon-firefox:before {
  content: "\eadf";
}

.u-icon-IE:before {
  content: "\eae0";
}

.u-icon-edge:before {
  content: "\eae1";
}

.u-icon-safari:before {
  content: "\eae2";
}

.u-icon-opera:before {
  content: "\eae3";
}

.u-icon-file-pdf:before {
  content: "\eae4";
}

.u-icon-file-openoffice:before {
  content: "\eae5";
}

.u-icon-file-word:before {
  content: "\eae6";
}

.u-icon-file-excel:before {
  content: "\eae7";
}

.u-icon-libreoffice:before {
  content: "\eae8";
}

.u-icon-html-five:before {
  content: "\eae9";
}

.u-icon-html-five2:before {
  content: "\eaea";
}

.u-icon-css3:before {
  content: "\eaeb";
}

.u-icon-git:before {
  content: "\eaec";
}

.u-icon-codepen:before {
  content: "\eaed";
}

.u-icon-svg:before {
  content: "\eaee";
}

.u-icon-IcoMoon:before {
  content: "\eaef";
}