<div ng-init="start()" class="orders">

  <div class="box">
    <div class="head">
      <span class="title"><i class="glyphicon glyphicon-th-list" style="margin-right:10px;"></i>Ordini</span>

      <a ng-if="user.cooker" class="btn btn-save tab" ng-click="openTab(1)" ng-class="{'selected': tab == 1 }" uib-tooltip="Gli ordini che hai ricevuto come Cuoco" tooltip-append-to-body="true">ricevuti<span class="badge">{{receivedOrders.length}}</span></a>

      <a class="btn  tab" ng-click="openTab(2)" ng-class="{'selected': tab == 2}" uib-tooltip="Elenco di piatti che hai richiesto" tooltip-append-to-body="true">inviati <span class="badge">{{sentOrders.length}}</span></a>

    </div>

    <div class="body">

      <div class="row">

        <loading is-loading="loading" ng-class="{'hidden': !loading}"></loading>

        <div ng-if="user.cooker" class="row" ng-show="tab == 1">

          <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

          <div ng-if="receivedOrders.length <= 0 && !loading" class="text-center">
            <h5>Al momento non hai nessun ordine recente</h5>
          </div>


          <div ng-if="receivedOrders.length > 0" class="important-orders">
            <uib-accordion>
              <div ng-repeat="order in receivedOrders track by order.id">
                <order-box order="order" cooker=true reject-button="{{isRejectEnable(order)}}" confirm-button="{{isConfirmEnable(order)}}" cancel-button="{{isCancelEnable(order)}}" on-button-pressed="buttonPressed(type, ord)" on-cooker-feedback="feedbackCooker(order)" on-eater-feedback="feedbackEater(item, order)"></order-box>
              </div>
            </uib-accordion>
          </div>

          <div class="loading-container">
            <loading ng-class="{'no-run' : !oldestLoading}" is-loading="oldestLoading"></loading>
          </div>

          <div class="text-right clearfix" ng-if="!receivedOrdersOld">
            <button type="button" class="btn_full" ng-click="loadOldestOrders()">
              Carica Vecchi Ordini
            </button>
          </div>

          <div ng-if="receivedOrdersOld.length > 0">
            <uib-accordion id="received-orders-old-container">
              <uib-accordion-group heading="Clicca qui per i vecchi ordini" is-open="true" panel-class="old-orders">
                <uib-accordion>
                  <div ng-repeat="order in receivedOrdersOld track by order.id">
                    <order-box order="order" cooker=true reject-button="{{isRejectEnable(order)}}" confirm-button="{{isConfirmEnable(order)}}" cancel-button="{{isCancelEnable(order)}}" on-button-pressed="buttonPressed(type, ord)" on-cooker-feedback="feedbackCooker(order)" on-eater-feedback="feedbackEater(item, order)"></order-box>
                  </div>
                </uib-accordion>
              </uib-accordion-group>
            </uib-accordion>
          </div>


        </div>

        <div class="row" ng-show="tab == 2">
          <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

          <div ng-if="sentOrders.length <= 0 && !loading" class="text-center">
            <h5>Al momento non hai nessun ordine recente</h5>
          </div>

          <div ng-if="sentOrders.length > 0" class="important-orders">
            <uib-accordion>
              <div ng-repeat="order in sentOrders track by order.id">
                <order-box order="order" cooker=false reject-button="{{isRejectEnable(order)}}" confirm-button="{{isConfirmEnable(order)}}" cancel-button="{{isCancelEnable(order)}}" on-button-pressed="buttonPressed(type, ord)" on-cooker-feedback="feedbackCooker(order)" on-eater-feedback="feedbackEater(item, order)"></order-box>
              </div>
            </uib-accordion>
          </div>

          <div class="loading-container">
            <loading ng-class="{'no-run' : !oldestLoading}" is-loading="oldestLoading"></loading>
          </div>

          <div class="text-right clearfix" ng-if="!sentOrdersOld">
            <button type="button" class="btn_full" ng-click="loadOldestOrders()">
              Carica Vecchi Ordini
            </button>
          </div>

          <div ng-if="sentOrdersOld.length > 0">
            <uib-accordion id="sent-orders-old-container">
              <uib-accordion-group heading="Clicca qui per i vecchi ordini" is-open="true" panel-class="old-orders">
                <uib-accordion>
                  <div ng-repeat="order in sentOrdersOld track by order.id">
                    <order-box order="order" cooker=false reject-button="{{isRejectEnable(order)}}" confirm-button="{{isConfirmEnable(order)}}" cancel-button="{{isCancelEnable(order)}}" on-button-pressed="buttonPressed(type, ord)" on-cooker-feedback="feedbackCooker(order)" on-eater-feedback="feedbackEater(item, order)"></order-box>
                  </div>
                </uib-accordion>
              </uib-accordion-group>
            </uib-accordion>
          </div>

        </div>


      </div>
    </div>

  </div>
</div>
