<div ng-controller="ProductDetailCtrl" class="new-product">

  <div class="box">
    <div class="head">
      <i class="glyphicon glyphicon-arrow-left" style="margin-right:10px;cursor:pointer;" onclick="history.back()"></i>
      <span ng-if="product.id">Modifica {{product.name}} </span>
      <span ng-if="!product.id ">Aggiungi prodotto </span>
      <a class="btn btn-default btn-save on clear" ng-disabled="loading" ng-click="saveRequest(product)">Salva</a>
      <a class="btn btn-default btn-delete on clear" ng-disabled="loading" ng-click="requestDeleteProduct(product)">Elimina</a>
    </div>

    <div class="body">


      <loading ng-class="{'no-run' : !loading}" is-loading="loading"></loading>

      <div class="row">

        <div ng-if="product.status != 1" class="alert alert-info" role="alert"> Controlla in <a ui-sref="become-a-cooker" target="_blank">questa
          guida</a> come vengono selezionati i piatti.
        </div>


        <div ng-if="product.id  && product.status == 0">
          <div ng-if="!product._pictures || product._pictures.length <= 0" class="alert alert-warning" role="alert">
            Ricordati di aggiungere almeno una foto, fino ad allora non potremo autorizzare il piatto.
          </div>
          <div ng-if="product._pictures && product._pictures.length > 0" class="alert alert-warning" role="alert"> Il
            prodotto è in fase di valutazione. Pazienta ancora un po', ti manderemo un'email appena sarà stato valutato.
          </div>
        </div>
        <div ng-if="product.id  && product.status==2" class="alert alert-danger" role="alert"> Il prodotto è stato
          rifiutato perchè non conforme ai requisiti. Per maggiori informazioni sul nostro metodo di selezione
          puoi consulatare <a ui-sref="become-a-cooker">questa pagina</a> oppure contattaci tramite il <a
            ui-sref="contacts">modulo contatti</a>.
        </div>
        <div ng-if="product.id  && product.status == 1" class="alert alert-success" role="alert">
          Complimenti! Il tuo piatto è stato pubblicato, lo trovi <a ui-sref="shop({productId: product.id})" target="_blank">qui</a>
        </div>
      </div>


      <form name="productForm">
        <h1>Info prodotto</h1>

        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="checkbox-holder text-left">
              <div class="checkbox">
                <input type="checkbox" id="check_active" ng-model="product.active" ng-true-value="true"
                       ng-false-value="false"/>
                <label ng-if="product.active" for="check_active"><span>Piatto visibile</span></label>
                <label ng-if="!product.active" for="check_active"><span
                  class="text-alert">Piatto NON visibile</span></label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="checkbox-holder text-left">
              <div class="checkbox">
                <input type="checkbox" id="check_delivery" ng-model="product.delivery" ng-true-value="true"
                       ng-false-value="false"/>
                <label ng-if="product.delivery" for="check_delivery"><span>Consegna disponibile</span></label>
                <label ng-if="!product.delivery" for="check_delivery"><span
                  class="text-alert">Consegna NON disponibile</span></label>
              </div>
            </div>
          </div>
        </div>

        <div class="input-row">
          <label>Nome prodotto</label>
          <input type="text" class="form-control" placeholder="Nome" ng-model="product.name">
        </div>

        <div class="input-row">
          <label>Descrizione</label>
          <textarea class="form-control" rows="5"
                    placeholder="Racconta qualcosa riguardo al piatto, come nasce, dove... fai appassionare i tuoi utenti"
                    ng-model="product.description"></textarea>
        </div>

        <div class="input-row">
          <label for="sale-type">Tipo di vendita</label> <i class="u-font u-icon-question"
                                                            uib-popover="{{message.saleType}}"
                                                            popover-trigger="mouseenter"
                                                            popover-append-to-body="true"></i>
          <select class="form-control" id="sale-type" ng-model="product.sale_type" ng-change="onSaleTypeChange()"
                  ng-options="type.id as type.name for type in saleTypes" uib-popover="{{message.saleType}}"
                  popover-trigger="mouseenter" popover-append-to-body="true">
          </select>
        </div>

        <div ng-if="product.sale_type == 0">
          <div class="input-row row">
            <div class="col-md-6">
              <label>Porzione minima</label>
              <input type="number" class="form-control" placeholder="Min." min="1" ng-model="product.min_portion">
            </div>
            <div class="col-md-6">
              <label>Porzione massima</label>
              <input type="number" class="form-control" placeholder="Max" min="1" ng-model="product.max_portion">
            </div>
          </div>

          <div class="input-row row">
            <div class="col-md-6">
              <label>Costo del trasporto</label>
              <select class="form-control" id="sale-type" ng-model="product.delivery_price"
                      ng-disabled="!product.delivery" ng-options="price.id as price.name for price in deliveryPrices">
              </select>
            </div>

            <div class="col-md-6">
              <label>Costo porzione (€)</label> <i class="u-font u-icon-question" uib-popover="{{message.price}}"
                                                   popover-trigger="mouseenter"
                                                   popover-append-to-body="true"></i>
              <input type="number" class="form-control" placeholder="Prezzo a porzione" min="1" ng-model="product.price"
                     tabindex="0" uib-popover="{{message.price}}"
                     popover-trigger="focus" popover-append-to-body="true">
            </div>
          </div>
        </div>

        <div ng-if="product.sale_type == 1">

          <div class="input-row row">
            <div class="col-md-6">
              <label>Quantità minima (Kg)</label> <i class="u-font u-icon-question" uib-popover="{{message.weight.min}}"
                                                     popover-trigger="mouseenter"
                                                     popover-append-to-body="true"></i>
              <input type="number" class="form-control" placeholder="Peso minimo in Kg" ng-model="product.weight">
            </div>
            <div class="col-md-6">
              <label>Quantità massima (Kg)</label> <i class="u-font u-icon-question"
                                                      uib-popover="{{message.weight.max}}" popover-trigger="mouseenter"
                                                      popover-append-to-body="true"></i>
              <select class="form-control" id="max_weight" ng-model="product.max_portion"
                      ng-disabled="!product.weight || product.weight <= 0"
                      ng-options="weight.id as weight.value for weight in getListWeight(product.weight) track by getWeightIdentifier(weight)">
              </select>
            </div>
          </div>

          <div class="input-row row">
            <div class="col-md-6">
              <label>Costo del trasporto</label>
              <select class="form-control" id="sale-type" ng-model="product.delivery_price"
                      ng-disabled="!product.delivery" ng-options="price.id as price.name for price in deliveryPrices">
              </select>
            </div>

            <div class="col-md-6">
              <label>Costo ogni {{product.weight}} Kg (€)</label> <i class="u-font u-icon-question"
                                                                     uib-popover="{{message.price}}"
                                                                     popover-trigger="mouseenter"
                                                                     popover-append-to-body="true"></i>
              <input type="number" class="form-control" placeholder="Costo piatto" min="1" ng-model="product.price"
                     tabindex="0" uib-popover="{{message.price}}"
                     popover-trigger="focus" popover-append-to-body="true">
            </div>
          </div>
        </div>

        <div class="input-row">
          <label>Ore di preavviso</label> <i class="u-font u-icon-question" uib-popover="{{message.notice}}"
                                             popover-trigger="mouseenter"
                                             popover-append-to-body="true"></i>
          <input type="number" class="form-control" placeholder="Tempo massimo di preavviso" min="1"
                 ng-model="product.notice_time"
                 uib-popover="{{message.notice}}" popover-trigger="focus" popover-append-to-body="true">
        </div>

        <div class="input-row tags">

          <label>Tag</label> <i class="u-font u-icon-question" uib-popover="{{message.tag}}"
                                popover-trigger="mouseenter" popover-append-to-body="true"></i>
          <ui-select multiple tagging="createTag" sortable="true" tagging-label=false ng-model="product.tags"
                     class="form-control"
                     title="Seleziona le categorie che meglio descrivono i tuoi piatti">
            <ui-select-match placeholder="Seleziona almeno un tag dalla lista...">{{$item}}</ui-select-match>
            <ui-select-choices repeat="item in tags | filter: $select.search">
              <div ng-bind-html="item | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>

        </div>

        <div class="input-row ingredients">
          <h1 class="pull-left">Ingredienti</h1>
        </div>
        <div class="input-row">
          <div id="ingredient-alert" class="alert alert-info" role="alert">
            <p>
              È fondamentale indicare <b>tutti gli ingredienti</b> utilizzati (anche gli aromi e le spezie) così che i
              vostri clienti possano <b>apprezzare</b> quello che comprano e soprattutto sappiano se ci sono possibili
              <b>intolleranze alimentari</b>.
            </p>
          </div>
        </div>
        <div class="row ingredients">
          <div class="col-md-12" ng-repeat="ingredient in product._ingredients">

            <div class="panel panel-info">
              <div class="panel-body">

                <div class="input-row">
                  <label>Ingrediente {{$index+1}}</label>
                  <button type="button" class="btn btn-danger btn-small pull-right"
                          ng-click="removeIngredient(ingredient)">Elimina
                  </button>

                </div>

                <div class="row">
                  <div class="col-lg-1 col-md-2 col-xs-12">
                    <span>Nome</span>
                  </div>
                  <div class="col-lg-11 col-xs-12 col-md-10">
                    <input type="text" class="form-control" placeholder="Ingrediente" ng-model="ingredient.name">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-1 col-md-2 col-xs-12">
                    <span>Descrizione</span>
                  </div>
                  <div class="col-lg-11 col-md-10 col-xs-12">
                <textarea class="form-control" rows="3"
                          placeholder="Inserisci informazioni relative all'origine dell'ingrediente e/o elenca caratteristiche particolari che possano dare più valore al tuo piatto"
                          ng-model="ingredient.description"></textarea>
                  </div>
                </div>


              </div>

            </div>
          </div>
        </div>

        <div class="input-row ingredients">

          <a class="btn btn-success" ng-click="addIngredient()"><span class="glyphicon glyphicon-plus"></span> aggiungi
            ingrediente</a>

        </div>

        <div class="row time-table">

          <div class="col-md-12">
            <h1>Tabella Disponibilità</h1>
            <div class="table-responsive">
              <table class="table table-striped">
                <tr>
                  <td>GIORNO</td>
                  <td>PRANZO</td>
                  <td>CENA</td>
                </tr>
                <tr ng-repeat="range in product._timeRanges track by range.id">
                  {{range}}
                  <td ng-if="range.day === 1">
                    Lunedì
                  </td>
                  <td ng-if="range.day === 2">
                    Martedì
                  </td>
                  <td ng-if="range.day === 3">
                    Mercoledì
                  </td>
                  <td ng-if="range.day === 4">
                    Giovedì
                  </td>
                  <td ng-if="range.day === 5">
                    Venerdì
                  </td>
                  <td ng-if="range.day === 6">
                    Sabato
                  </td>
                  <td ng-if="range.day === 7">
                    Domenica
                  </td>
                  <td>
                <span uib-dropdown>
                 <button id="btn-lunch-start-{{range.day}}" type="button" class="btn"
                         ng-class="[{'btn-default': range.startLunch == -1}, {'btn-success': range.startLunch > 0}]"
                         uib-dropdown-toggle ng-disabled="disabled">{{range.startLunch | hour}} <span
                   ng-class="{'glyphicon glyphicon-plus': range.startLunch == -1 ,'caret': range.startLunch > 0}"></span></button>
                <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                  <li ng-repeat="choice in getRangeValues(range.day - 1, 'startLunch') track by $index">
                    <a ng-click="updateTimeRange(range.day - 1, 'startLunch', choice)" href>{{choice | hour:"non selezionato"}}</a>
                  </li>
                </ul>
                </span> -
                    <span uib-dropdown>
               <button id="btn-lunch-end-{{range.day}}" type="button" class="btn"
                       ng-class="[{'btn-default': range.endLunch == -1}, {'btn-success': range.endLunch > 0}]"
                       uib-dropdown-toggle ng-disabled="disabled">{{range.endLunch | hour}} <span
                 ng-class="{'glyphicon glyphicon-plus': range.endLunch == -1 ,'caret': range.endLunch > 0}"></span></button>
                <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                  <li ng-repeat="choice in getRangeValues(range.day - 1, 'endLunch') track by $index">
                    <a ng-click="updateTimeRange(range.day - 1, 'endLunch', choice)" href>{{choice | hour:"non selezionato"}}</a>
                  </li>
                </ul>
                </span>
                  </td>
                  <td>
                <span uib-dropdown>
             <button id="btn-dinner-start-{{range.day}}" type="button" class="btn"
                     ng-class="[{'btn-default': range.startDinner == -1}, {'btn-success': range.startDinner > 0}]"
                     uib-dropdown-toggle ng-disabled="disabled">{{range.startDinner | hour}} <span
               ng-class="{'glyphicon glyphicon-plus': range.startDinner == -1 ,'caret': range.startDinner > 0}"></span></button>
                <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                  <li ng-repeat="choice in getRangeValues(range.day - 1, 'startDinner') track by $index">
                    <a ng-click="updateTimeRange(range.day - 1, 'startDinner', choice)" href>{{choice | hour:"non selezionato"}}</a>
                  </li>
                </ul>
                </span> -
                    <span uib-dropdown>
           <button id="btn-dinner-end-{{range.day}}" type="button" class="btn"
                   ng-class="[{'btn-default': range.endDinner == -1}, {'btn-success': range.endDinner > 0}]"
                   uib-dropdown-toggle ng-disabled="disabled">{{range.endDinner | hour}} <span
             ng-class="{'glyphicon glyphicon-plus': range.endDinner == -1 ,'caret': range.endDinner > 0}"></span></button>
                <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                  <li ng-repeat="choice in getRangeValues(range.day - 1, 'endDinner') track by $index">
                    <a ng-click="updateTimeRange(range.day - 1, 'endDinner', choice)" href>{{choice | hour:"non selezionato"}}</a>
                  </li>
                </ul>
                </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </form>

      <div class="row pictures-wrapper">


        <h1>Immagini</h1>
        <div class="alert alert-info" role="alert">
          <p>
            Per <b>Ucooki</b> oltre alla qualità del piatto, conta moltissimo anche la <b>qualità della foto</b>. Ma
            sappiamo
            che per alcuni di voi può diventare difficile produrre foto di alta qualità e per questo motivo <b>Ucooki vi
            da una mano:</b> in fase di verifica controlleremo le vostre foto e se non sono di alta qualità le <b>correggeremo</b>
            o le <b>sostituiremo</b> con delle altre migliori, tutto questo per <b>permettervi di esaltare le vostre
            capacità in cucina</b>, dopotutto
            siete cuochi, non fotografi, a quello ci pensiamo noi ;)
          </p>
          <p>
            <a href="http://blog.ucooki.com/2016/08/belle-foto-ai-piatti/" target="_blank">Qui</a> potete trovare una
            guida su
            come fare le foto ai vostri piatti.
          </p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">

          <div class=" image-upload">
            <div id="direct-upload" class="food" ngf-drop="preparePicForUpload($file)"
                 ngf-drag-over-class="dragOverClass($event)" ngf-select="preparePicForUpload($file)"
                 ngf-pattern="'image/*'" accept="image/*">
              <div class="uploading-pic text-center">
                <h4>CLICCA O RILASCIA QUI UN&#39;IMMAGINE</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="pictures col-xs-12 col-sm-6 col-md-4" ng-repeat="pic in product._pictures">


          <!-- Immagini nuove (status 0) -->


          <div ngf-thumbnail="pic.data" ngf-as-background="true" class="image-preview ">
            <div class="pull-right">
              <a ng-click="removeNewPicture(product._pictures, pic)" class="btn btn-danger" uib-tooltip="Elimina"
                 tooltip-append-to-body="true">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
              <a class="btn btn-primary" ng-if="!pic.principal" ng-click="setPrincipalPicture(pic)"
                 uib-tooltip="Imposta come foto copertina"
                 tooltip-append-to-body="true">
                <i class="glyphicon glyphicon-picture"></i>
              </a>
            </div>
            <h4>{{pic.$error}} {{pic.$errorParam}}</h4>
            <uib-progressbar ng-if="1" max="100" value="50" class="progress-bar">
              <span style="color:white; white-space:nowrap;">{{pic.progress}}%</span>
            </uib-progressbar>
          </div>


          <!-- immagini già caricate (status 1) -->
          <div ng-if="pic.status === 1" class="image-preview "
               style="background:url({{pic.url}}) no-repeat center center;-webkit-background-size: cover;-moz-background-size:cover; -o-background-size: cover; background-size: cover;">
            <div class="pull-right">
              <a ng-click="setPictureStatus(pic, 2)" class="btn btn-danger" uib-tooltip="Elimina"
                 tooltip-append-to-body="true">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
              <a class="btn btn-primary main-pict-btn" ng-if="!pic.principal" ng-click="setPrincipalPicture(pic)"
                 uib-tooltip="Imposta come foto copertina"
                 tooltip-append-to-body="true">
                <i class="glyphicon glyphicon-picture"></i>
              </a>
              <!--              <a class="btn btn-primary main-pict-btn" ng-if="pic.principal">Foto copertina</a>-->
              <span class="main-pict" ng-if="pic.principal">Foto copertina</span>
            </div>
            <!--            <img ng-src="{{pic.url}}" border="0">-->
          </div>


          <!-- Immagini da eliminare (status 2) -->


          <div class="alert image-alert" ng-if="pic.status === 2"
               style="background:url({{pic.url}}) no-repeat center center;-webkit-background-size: cover;-moz-background-size:cover; -o-background-size: cover; background-size: cover;">
            <div class="overlay-20">
              <div class="btn-group">
                <a ng-click="setPictureStatus(pic,1)" class="btn btn-primary"> Annulla Cancellazione </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="foot">
      <button ng-disabled="loading" class="btn btn-success btn-save on pull-right" ng-click="saveRequest(product)">
        Salva
      </button>
      <button ng-disabled="loading" class="btn btn-danger on pull-right" ng-click="requestDeleteProduct(product)">Elimina
      </button>
    </div>
  </div>

</div>
