<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title> Notifica Ucooki</title>
</head>

<body style="font-family:'Helvetica','Arial'; font-size:12px;">

<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
  <tr>
    <td align="center" valign="top">
      <table border="0" cellpadding="0" cellspacing="0" width="600">

        <tr>
          <td style="vertical-align:top; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
            <table id="x_header" cellpadding="0" style="width:100%; margin:0 0 15px 0; border-collapse:collapse">
              <tbody>
              <tr>
                <td rowspan="2" class="x_logo"
                    style="width:115px; padding:18px 0 0 0; vertical-align:top; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
                  <a href="https://www.ucooki.com" target="_blank" title="Visita www.ucooki.com"
                     style="text-decoration:none; color:rgb(0,102,153); font:13px/18px Arial,sans-serif"><img
                      src="https://www.ucooki.com/assets/img/ucooki.png" alt="Ucooki.com"
                      style="border:0;width: 142px;"></a></td>
                <td class="x_navigation"
                    style="text-align:right; padding:5px 0; border-bottom:1px solid rgb(204,204,204); white-space:nowrap; vertical-align:top; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
                  <table align="right" style="border-collapse:collapse">
                    <tbody>
                    <tr>
                      <td
                        style="padding:0px; vertical-align:bottom; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
                        <a href="https://www.ucooki.com/pages/dashboard/orders" target="_blank"
                           style="border-right:0px solid rgb(204,204,204); margin-right:0px; padding-right:0px; text-decoration:none; color:rgb(0,102,153); font:13px/18px Arial,sans-serif">I
                          miei ordini</a></td>
                      <td
                        style="padding:0px; vertical-align:bottom; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
                        <span style="text-decoration:none; color:rgb(204,204,204); font:15px Arial,san-serif">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                      </td>
                      <td
                        style="padding:0px; vertical-align:bottom; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
                        <a href="https://www.ucooki.com/pages/dashboard/personal-info" target="_blank"
                           style="border-right:0px solid rgb(204,204,204); margin-right:0px; padding-right:0px; text-decoration:none; color:rgb(0,102,153); font:13px/18px Arial,sans-serif">Il
                          mio account</a></td>
                      <td
                        style="padding:0px; vertical-align:bottom; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
                        <span style="text-decoration:none; color:rgb(204,204,204); font:15px Arial,san-serif">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                      </td>
                      <td
                        style="padding:0px; vertical-align:bottom; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
                        <a href="https://www.ucooki.com" target="_blank" class="x_last"
                           style="border:0; margin:0; padding:0; border-right:0px solid rgb(204,204,204); margin-right:0px; padding-right:0px; text-decoration:none; color:rgb(0,102,153); font:13px/18px Arial,sans-serif"><span
                            class="highlight" id="0.4220771361228912"
                            name="searchHitInReadingPane">Ucooki</span>.com</a></td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="x_title"
                    style="text-align:right; padding:7px 0 5px 0; vertical-align:top; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
                  <h2
                    style="font-size:20px; line-height:24px; margin:0; padding:0; font-weight:normal; color:rgb(0,0,0)!important">
                    <%= subject %>
                  </h2>
                  Ordine cod. <%= order.id %></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="left" valign="top">
            <table border="0" width="100%" id="emailBody">
              <tr>
                <td align="left" valign="top">
                  <% if(cooker) { %>

                  <h2>Ciao <%= order.productor.name %></h2>

                  <% if (order.status == 0) { %>

                  <p>Hai appena ricevuto un <strong>nuovo</strong> ordine da
                    <strong><%= order.buyer.name + " " + order.buyer.lastname %></strong>.</p>

                  <% } else if (order.status == 2) { %>

                  <p><strong><%= order.buyer.name + " " + order.buyer.lastname %> </strong> ha effettuato il <strong>pagamento</strong>
                    dell'ordine.</p>

                  <% } else if (order.status == 5) { %>

                  <p><strong><%= order.buyer.name + " " + order.buyer.lastname %></strong> ha
                    <strong>cancellato</strong> l'ordine.</p>

                  <% } else if (order.status == 6) { %>

                  <p>Il tuo ordine è stato <strong>annullato</strong>.</p>
                  <% if (order.productor_note) { %>
                  La giustificazione è stata: <strong><%= order.productor_note %></strong>
                  <% } %>

                  <% } else if (order.status == -1) { %>

                  <p>Si è verificato un <strong>errore</strong> nella gestione dell'ordine.</p>

                  <% } else if (order.status == 1) { %>

                  <p>Hai <strong>confermato</strong> l'ordine.</p>

                  <% } else if (order.status == 4) { %>

                  <p>Il tuo ordine è stato <strong>rifiutato</strong>.</p>
                  <% if (order.productor_note) { %>
                  La giustificazione è stata: <strong><%= order.productor_note %></strong>
                  <% } %>

                  <% } else if (order.status == 3) { %>

                  <p>L'ordine è stato <strong>completato</strong>.</p>
                  <p>Lascia un Feedback al tuo eater per <strong>ringraziarlo</strong> del suo acquisto.</p>

                  <br>

              <tr>
                <td class="button" align="center" width="100%" height="40" bgcolor="#E8192E">
                  <a href="http://www.ucooki.com/#/pages/dashboard/orders"
                     style="font-size: 14px;font-weight: bold;text-decoration: none;line-height: 40px;width: 100%;display: inline-block"><span
                      style="color: #FFFFFF">Lascia un Commento</span></a>
                </td>
              </tr>

              <% } %>

              <% } %>

              <% if(!cooker) { %>

              <h2>Ciao <%= order.buyer.name %></h2>

              <% if (order.status == 0) { %>

              <p>Il tuo ordine è stato inviato. Ora devi <strong>aspettare la risposta</strong> del cuoco
                (<strong><%= order.productor.name + " " + order.productor.lastname %></strong>) che arriverà entro le
                <strong><%= expiration %></strong>.</p>

              <% } else if (order.status == 2) { %>

              <p>Hai effettuato il <strong>pagamento</strong> dell'ordine.</p>

              <% } else if (order.status == 5) { %>

              <p>Hai <strong>cancellato</strong> l'ordine.</p>

              <% } else if (order.status == 6) { %>

              <p>Ci dispiace ma <strong><%= order.productor.name %></strong> ha <strong>annullato</strong> il tuo
                ordine.</p>
              <% if (order.productor_note) { %>
              La giustificazione è stata: <strong><%= order.productor_note %></strong>
              <% } %>

              <% } else if (order.status == -1) { %>

              <p>Si è verificato un <strong>errore</strong> nella gestione dell'ordine.</p>

              <% } else if (order.status == 1) { %>

              <p>
                <strong><%= order.productor.name + " " + order.productor.lastname %></strong> <%= (order.productor.phone) ? '(' + order.productor.phone + ')' : '' %>
                ha <strong>confermato</strong> l'ordine.</p>

              <% } else if (order.status == 4) { %>

              <p>Ci dispiace ma <strong><%= order.productor.name %></strong> ha <strong>rifiutato</strong> il tuo
                ordine.</p>
              <% if (order.productor_note) { %>
              La giustificazione è stata: <strong><%= order.productor_note %></strong>
              <% } %>

              <% } else if (order.status == 3) { %>

              <!--	Gestione email ordine concluso eater -->

              <p>L'ordine è stato <strong>completato</strong>.</p>

              <p><strong>Grazie</strong> per aver utilizzato Ucooki. Se il piatto ti è piaciuto
                <strong>condividilo</strong> e fallo conoscere a tutti, questa piccola <strong>rivoluzione</strong> può
                diventare grande anche grazie a te!</p>

              <p>P.S. Il nostro cuoco ha bisogno di <strong>incoraggiamento</strong> per migliorare ancora: lascia un
                <strong>commento</strong>, te ne sarà grato!</p>

              <br>

              <tr>
                <td align="center" valign="top">
                  <div>
                    <table style="width: 80%" width="80%" align="center" cellspacing="10" cellpadding="5">
                      <tr>
                        <td class="button" align="center" width="100%" height="40" bgcolor="#E8192E">
                          <a href="http://www.ucooki.com/#/pages/dashboard/orders"
                             style="font-size: 14px;font-weight: bold;text-decoration: none;line-height: 40px;width: 100%;display: inline-block"
                             target="_blank"><span style="color: #FFFFFF;">Lascia un Commento</span></a>
                        </td>
                      </tr>
                      <tr>
                        <td class="button" align="center" width="100%" height="40" bgcolor="#3C5B9B">
                          <a
                            href="http://www.facebook.com/share.php?u=https://www.ucooki.com/pages/product/<%= order.items[0].product_id %>"
                            style="font-size: 14px;font-weight: bold;text-decoration: none;line-height: 40px;width: 100%;display: inline-block"
                            target="_blank"><span style="color: #FFFFFF;">Condividi su Facebook</span></a>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>

              </tr>

              <% } %>

              <% } %>

              </td>
              </tr>

              <tr>
                <td align="left" valign="top">

                  <% if (order.status == 0) { %>

                  <% if(order.delivery) { %>

                  <p> E' stata richiesta la <strong>consegna</strong> in

                    <strong><%= order.location.address + " n° " + order.location.street_number %></strong>
                    <% if (order.location.note) { %>
                    <%= ", note: (" + order.location.note + ")" %>
                    <% } %>
                    il <strong><%= delivery_date %></strong>
                  </p>

                  <% } else { %>

                  <% if (cooker) { %>
                  <p> E' stato richiesto il <strong>ritiro</strong> presso il tuo indirizzo
                    <% } else { %>
                  <p> E' stato richiesto il <strong>ritiro</strong> presso l'indirizzo
                    <% } %>

                    <strong><%= order.location.address + " n° " + order.location.street_number %></strong>
                    <% if (order.location.note) { %>
                    <%= ", note: (" + order.location.note + ")" %>
                    <% } %>
                    il <strong><%= delivery_date %></strong>
                  </p>

                  <% } %>

                  <% if (cooker) { %>
                  <p>
                    Ricorda che hai tempo fino alle <strong><%= expiration %></strong> per poter dare una risposta prima
                    che la richiesta venga scartata in automatico, più <strong>velocemente</strong> risponderai alle richieste (accettando o rifiutando l'ordine) più alto sarà il tuo punteggio come cuoco.
                  </p>

                  <% } %>

                  <% } %>

                </td>

              </tr>

              <tr>
                <% if (order.status == 1) { %>
                <td align="left" valign="top">
                  <br>
                  <% if(cooker && order.buyer.phone) { %>
                  <h3>In caso di necessità... </h3>
                  <p>puoi contattare il tuo cliente <strong><%= order.buyer.name %></strong> al numero
                    <strong><%= order.buyer.phone %></strong></p>

                  <% } else if(!cooker && order.productor.phone){ %>
                  <h3>In caso di necessità... </h3>
                  <p>puoi contattare il cuoco <strong><%= order.productor.name %></strong> al numero
                    <strong><%= order.productor.phone %></strong></p>

                  <% } %>
                </td>
                <% } %>
              </tr>

              <tr>
                <td align="left" valign="top">
                  <br>
                  <h3>Riepilogo Ordine</h3>
                  <hr>
                  <% for(var i = 0; i < order.items.length; i++) { %>
                  <% var item = order.items[i]; %>

                  <div>
                    <table class="item-detail" style="border-width: 0px;margin-bottom:15px;border-collapse:collapse;">
                      <tr>
                        <td align="right" style="padding: 4px 4px; overflow: hidden; word-break: normal;">Piatto:</td>
                        <td style="padding: 4px 4px; overflow: hidden; word-break: normal;">
                          <strong><%= item.product.name %></strong></td>
                      </tr>
                      <tr>
                        <td align="right" style="padding: 4px 4px; overflow: hidden; word-break: normal;">Porzioni:</td>
                        <td style="padding: 4px 4px; overflow: hidden; word-break: normal;">
                          <strong><%= item.quantity %></strong></td>
                      </tr>
                      <% if (item.note) { %>
                      <tr>
                        <td align="right" style="padding: 4px 4px; overflow: hidden; word-break: normal;">Nota:</td>
                        <td style="padding: 4px 4px; overflow: hidden; word-break: normal;">
                          <strong><%= item.note %></strong></td>
                      </tr>
                      <% } %>
                      <tr>
                        <td align="right" style="padding: 4px 4px; overflow: hidden; word-break: normal;"><%= (order.delivery) ? 'Consegna' : 'Ritiro' %></td>
                        <td style="padding: 4px 4px; overflow: hidden; word-break: normal;">
                          <strong><%= order.location.address + " n° " + order.location.street_number %></strong>
                          <% if (order.location.note) { %>
                          <br><%= "note: (" + order.location.note + ")" %>
                          <% } %>
                        </td>
                      </tr>
                      <tr>
                        <td align="right" style="padding: 4px 4px; overflow: hidden; word-break: normal;">Quando:</td>
                        <td style="padding: 4px 4px; overflow: hidden; word-break: normal;">
                          <strong><%= delivery_date %></strong>
                      </tr>
                    </table>
                  </div>

                  <% } %>

                </td>
              </tr>
              <tr>
                <td>
                  <div>
                    <table border="1" style="border-width: 0px;margin-bottom:10px;border-collapse:collapse;"
                           align="right" width="60%">
                      <% if (order.delivery) { %>
                      <tr>
                        <td align="right" width="100%"
                            style="border-width: 0px;padding: 7px 8px; overflow: hidden; word-break: normal;">Trasporto:
                          <strong><span
                              style="color:#0A37E8;"><%= order.delivery_price == 0 ? 'gratuito' : order.delivery_price + ' €' %> </span></strong>
                        </td>
                      </tr>
                      <% } %>

                      <% if (order._coupon) { %>
                      <tr>
                        <td align="right" width="100%"
                            style="border-width: 0px;padding: 7px 8px; overflow: hidden; word-break: normal;">È stato
                          utilizzato uno sconto del <span style="color:#0A37E8;"><strong><%= order._coupon.discount %>
                              %</strong></span><br>(prezzo iniziale: <%= order.total_grass %> €)
                        </td>
                      </tr>
                      <% } %>

                      <tr>
                        <td align="right" width="100%"
                            style="border-width: 0px;padding: 7px 8px; overflow: hidden; word-break: normal;">Totale:
                          <span style="color:#0A37E8;"><strong><%= order.total %> €</strong></span></td>
                      </tr>
                      <hr>

                    </table>
                  </div>

                </td>

              </tr>

            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <table border="0" width="100%" id="emailFooter">

              <tr>
                <td align="center" valign="top">
                  <div>
                    <table style="width: 100%" align="center" cellspacing="5">

                      <% if (cooker && order.status == 0) { %>

                      <tr>
                        <td class="button" align="center" width="100%" height="40" bgcolor="#E8192E">
                          <a href="http://www.ucooki.com/#/pages/dashboard/orders"
                             style="font-size: 14px;font-weight: bold;text-decoration: none;line-height: 40px;width: 100%;display: inline-block"
                             target="_blank"><span style="color: #FFFFFF">Rispondi</span></a>
                        </td>
                      </tr>

                      <% } else if (order.status != 3) { %>

                      <tr>
                        <td class="button" align="center" width="100%" height="40" bgcolor="#E8192E">
                          <a href="http://www.ucooki.com/#/pages/dashboard/orders"
                             style="font-size: 14px;font-weight: bold;text-decoration: none;line-height: 40px;width: 100%;display: inline-block"
                             target="_blank"><span style="color: #FFFFFF">Verifica</span></a>
                        </td>
                      </tr>

                      <% } %>

                    </table>
                  </div>
                </td>

              </tr>
              <tr>
                <td align="left" valign="top">
                  <%- include ../partials/signature.ejs %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>

</html>
