<h1>Notifica Ordine</h1>
<p>Stato:

		<% if (order.status == 0) {%>

			<strong>RICEVUTO</strong>

		<% } else if (order.status == 2) {%>

			<strong>PAGATO</strong>

		<% } else if (order.status == 5) {%>

			<span style="color:red;"><strong>CANCELLATO</strong></span>

		<% } else if (order.status == 6) {%>

			<span style="color:red;"><strong>ANNULLATO</strong></span>
				<% if (order.productor_note) { %>
					(motivazione: <%= order.productor_note %>)
				<% } %>

		<% } else if (order.status == -1) { %>

				<span style="color:red;"><strong>ERRORE</strong></span>

		<% } else if (order.status == 1) { %>

				<span style="color:green;"><strong>CONFERMATO</strong></span>

		<% } else if (order.status == 4) { %>

				<span style="color:red;"><strong>RIFIUTATO</strong></span>
				<% if (order.productor_note) { %>
					(motivazione: <%= order.productor_note %>)
				<% } %>

		<% } else if (order.status == 3) { %>

				<strong>COMPLETATO</strong>

		<% }%>

</p>
<p>Utente: <strong><%= order.buyer.name %> <%= order.buyer.lastname %></strong>, email: <strong><%= order.buyer.email %></strong>, tel: <strong><%= order.buyer.phone %></strong></p>
<p>Cuoco: <strong><%= order.productor.name %> <%= order.productor.lastname %></strong>, email: <strong><%= order.productor.email %></strong>, tel: <strong><%= order.productor.phone %></strong></p>
<p>Consegna: <strong><%= order.delivery %></strong></p>
<p>Quando: <strong><%= delivery_date %></strong> </p>
<p>Scadenza automatica: <strong><%= expiration %></strong></p>
<p>Riepilogo Ordine:</p>
<ul>
	<% for(var i=0; i<order.items.length; i++) { %>
			<% var item = order.items[i]; %>
			<li><%= item.quantity %> - <%= item.product.name %>
				<% if (item.note) {%>
					(<%= item.note %>)
				<% }%>
			</li>
	<% }%>
</ul>
<p>Dove:
		<strong><%= order.location.address +" n° " + order.location.street_number %></strong>
		<% if (order.location.note) {%>
			<%= ", note: ("+order.location.note+")" %>
		<%}%>

</p>
<p>Totale: <strong><%= order.total %> €</strong></p>
<% if (order._coupon) {%>
	<p>Coupon:<strong> <%= order._coupon.name %>, <%= order._coupon.discount %>%</strong></p>
<% }%>
