<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title> Piatto Modificato - Ucooki</title>
</head>

<body style="font-family:'Helvetica','Arial'; font-size:12px;">

    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="600">

						<tr>
                <td style="vertical-align:top; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
                  <table id="x_header" cellpadding="0" style="width:100%; margin:0 0 15px 0; border-collapse:collapse">
                    <tbody>
                      <tr>
                        <td rowspan="2" class="x_logo" style="width:115px; padding:18px 0 0 0; vertical-align:top; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
                          <a href="https://www.ucooki.com" target="_blank" title="Visita www.ucooki.com" style="text-decoration:none; color:rgb(0,102,153); font:13px/18px Arial,sans-serif"><img src="https://www.ucooki.com/assets/img/ucooki.png" alt="Ucooki.com" style="border:0;width: 142px;"></a></td>
                          <td class="x_navigation" style="text-align:right; padding:5px 0; border-bottom:1px solid rgb(204,204,204); white-space:nowrap; vertical-align:top; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
                           <table align="right" style="border-collapse:collapse">
													<tbody>
														<tr>
															<td style="padding:0px; vertical-align:bottom; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
															<a href="https://www.ucooki.com/pages/dashboard/orders" target="_blank" style="border-right:0px solid rgb(204,204,204); margin-right:0px; padding-right:0px; text-decoration:none; color:rgb(0,102,153); font:13px/18px Arial,sans-serif">I miei ordini</a> </td>
															<td style="padding:0px; vertical-align:bottom; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
																<span style="text-decoration:none; color:rgb(204,204,204); font:15px Arial,san-serif">&nbsp;&nbsp;|&nbsp;&nbsp;</span> </td>
																<td style="padding:0px; vertical-align:bottom; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
																	<a href="https://www.ucooki.com/pages/dashboard/personal-info" target="_blank" style="border-right:0px solid rgb(204,204,204); margin-right:0px; padding-right:0px; text-decoration:none; color:rgb(0,102,153); font:13px/18px Arial,sans-serif">Il mio account</a> </td>
																	<td style="padding:0px; vertical-align:bottom; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
																		<span style="text-decoration:none; color:rgb(204,204,204); font:15px Arial,san-serif">&nbsp;&nbsp;|&nbsp;&nbsp;</span> </td>
																		<td style="padding:0px; vertical-align:bottom; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
																			<a href="https://www.ucooki.com" target="_blank" class="x_last" style="border:0; margin:0; padding:0; border-right:0px solid rgb(204,204,204); margin-right:0px; padding-right:0px; text-decoration:none; color:rgb(0,102,153); font:13px/18px Arial,sans-serif"><span class="highlight" id="0.4220771361228912" name="searchHitInReadingPane">Ucooki</span>.com</a> </td>
														</tr>
													</tbody>
													</table>
												</td>
												</tr>
												<tr>
													<td class="x_title" style="text-align:right; padding:7px 0 5px 0; vertical-align:top; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
														<h2 style="font-size:20px; line-height:24px; margin:0; padding:0; font-weight:normal; color:rgb(0,0,0)!important">
															<%= subject %>
														</h2>														
													</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
            <tr>
              <td align="left" valign="top">
                <table border="0" width="100%" id="emailBody">
                  <tr>
                    <td align="left" valign="top">

                        <h1>Ciao <%= product.customer.name %>,</h1>
                        <p>Il nostro team ha effettuato delle correzioni grafiche e/o contenutistiche al tuo piatto "<b><%= product.name %></b>" per renderlo conforme alle <a href="https://www.ucooki.com/pages/become-a-cooker">nostre politiche</a> di selezione e soprattutto <b>più attraente</b>.</p> 
                        <p>Lo trovi a <a href="https://www.ucooki.com/pages/product/<%= product.id %>">questo link</a>.</p>

                        <p>Ne approfittiamo per ricordarti che <a href="http://blog.ucooki.com/2016/08/belle-foto-ai-piatti/">qui</a> puoi trovare degli ottimi suggerimenti su come fare delle belle foto.</p>

                        <p>Se vuoi avere chiarimenti in relazione a queste modifiche puoi scrivere direttamente a questa email, saremo felici di risponderti.</p>
                        
                        <p>Grazie da tutto il team di <b>Ucooki</b> e... buon appetito ;)</p>

                    </td>
                  </tr>

                </table>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table border="0" width="100%" id="emailFooter">
                  <tr>
                    <td align="left" valign="top">
                      <%- include ../partials/signature.ejs %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
</body>

</html>
