<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title> Notifica Ucooki</title>
</head>

<body style="font-family:'Helvetica','Arial'; font-size:12px;">

    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="600">

						<tr>
                <td style="vertical-align:top; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
                  <table id="x_header" cellpadding="0" style="width:100%; margin:0 0 15px 0; border-collapse:collapse">
                    <tbody>
                      <tr>
                        <td rowspan="2" class="x_logo" style="width:115px; padding:18px 0 0 0; vertical-align:top; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
                          <a href="https://www.ucooki.com" target="_blank" title="Visita www.ucooki.com" style="text-decoration:none; color:rgb(0,102,153); font:13px/18px Arial,sans-serif"><img src="https://www.ucooki.com/assets/img/ucooki.png" alt="Ucooki.com" style="border:0;width: 142px;"></a></td>
                          <td class="x_navigation" style="text-align:right; padding:5px 0; border-bottom:1px solid rgb(204,204,204); white-space:nowrap; vertical-align:top; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
                           <table align="right" style="border-collapse:collapse">
													<tbody>
														<tr>
															<td style="padding:0px; vertical-align:bottom; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
															<a href="https://www.ucooki.com/pages/dashboard/orders" target="_blank" style="border-right:0px solid rgb(204,204,204); margin-right:0px; padding-right:0px; text-decoration:none; color:rgb(0,102,153); font:13px/18px Arial,sans-serif">I miei ordini</a> </td>
															<td style="padding:0px; vertical-align:bottom; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
																<span style="text-decoration:none; color:rgb(204,204,204); font:15px Arial,san-serif">&nbsp;&nbsp;|&nbsp;&nbsp;</span> </td>
																<td style="padding:0px; vertical-align:bottom; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
																	<a href="https://www.ucooki.com/pages/dashboard/personal-info" target="_blank" style="border-right:0px solid rgb(204,204,204); margin-right:0px; padding-right:0px; text-decoration:none; color:rgb(0,102,153); font:13px/18px Arial,sans-serif">Il mio account</a> </td>
																	<td style="padding:0px; vertical-align:bottom; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
																		<span style="text-decoration:none; color:rgb(204,204,204); font:15px Arial,san-serif">&nbsp;&nbsp;|&nbsp;&nbsp;</span> </td>
																		<td style="padding:0px; vertical-align:bottom; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
																			<a href="https://www.ucooki.com" target="_blank" class="x_last" style="border:0; margin:0; padding:0; border-right:0px solid rgb(204,204,204); margin-right:0px; padding-right:0px; text-decoration:none; color:rgb(0,102,153); font:13px/18px Arial,sans-serif"><span class="highlight" id="0.4220771361228912" name="searchHitInReadingPane">Ucooki</span>.com</a> </td>
														</tr>
													</tbody>
													</table>
												</td>
												</tr>
												<tr>
													<td class="x_title" style="text-align:right; padding:7px 0 5px 0; vertical-align:top; font-size:13px; line-height:18px; font-family:Arial,sans-serif">
														<h2 style="font-size:20px; line-height:24px; margin:0; padding:0; font-weight:normal; color:rgb(0,0,0)!important">
															<%= subject %>
														</h2>
														<% if(destination == 'buyer') {%>
															Grazie
														<% }%>
													</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
            <tr>
              <td align="left" valign="top">
                <table border="0" width="100%" id="emailBody">
                  <tr>
                    <td align="left" valign="top">
											<% if(destination == 'buyer') {%>

											<h2>Ciao <%= buyer.name %></h2>

											<p><strong>Grazie</strong> per averci lasciato questo commento per <a href="https://www.ucooki.com/pages/product/<%= product.id %>" target="_blank"><strong><%= product.name %></strong></a>.</p>

											<p>---</p>
											<p> Voto: <strong><%= rating.rate %></strong>/5</p>
											<% if(rating.message) {%>
												<p> Commento: <strong><%= rating.message %></strong></p>
											<% }%>
											<p>---</p>
											<br>

											<p>Se non l'hai già fatto <strong>condividi</strong> il piatto che hai gustato e fai scoprire <strong>Ucooki</strong> anche ai tuoi amici.</p>

												<br>

												<tr>
													<td class="button" align="center" width="100%" height="40" bgcolor="#3C5B9B">
														<a href="http://www.facebook.com/share.php?u=https://www.ucooki.com/pages/product/<%= product.id %>" style="font-size: 14px;font-weight: bold;text-decoration: none;line-height: 40px;width: 100%;display: inline-block" target="_blank"><span style="color: #FFFFFF;">Condividi su Facebook</span></a>
													</td>
												</tr>

											<% } else {%>

											<h2>Ciao <%= productor.name %></h2>

											<p>Il tuo cliente <a href="https://www.ucooki.com/pages/customer/<%= buyer.id %>" target="_blank"><strong><%= buyer.name %></strong></a> ti ha lasciato un commento per <a href="https://www.ucooki.com/pages/product/<%= product.id %>" target="_blank"><strong><%= product.name %></strong></a>.</p>

											<p>---</p>
											<p> Voto: <strong><%= rating.rate %></strong>/5</p>
											<% if(rating.message) {%>
												<p> Commento: <strong><%= rating.message %></strong></p>
											<% }%>
											<p>---</p>
											<br>

											<p>Se non l'hai già fatto puoi lasciare a tua volta un commento a <strong><%= buyer.name %></strong> </p>

											<br>

											<tr>
												<td class="button" align="center" width="100%" height="40" bgcolor="#E8192E">
													<a href="http://www.ucooki.com/#/pages/dashboard/orders" style="font-size: 14px;font-weight: bold;text-decoration: none;line-height: 40px;width: 100%;display: inline-block"><span style="color: #FFFFFF">Lascia un Commento</span></a>
												</td>
											</tr>

											<% }%>


                    </td>
                  </tr>

                </table>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table border="0" width="100%" id="emailFooter">
                  <tr>
                    <td align="left" valign="top">
                      <%- include ../partials/signature.ejs %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
</body>

</html>
