<!DOCTYPE html>
<html lang="it">

<head>

  <title><%= title %></title>

  <meta name="description" content="<%= description %>" />
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="<%= title %>">
  <meta itemprop="description" content="<%= description %>">
  <meta itemprop="image" content="https://ucooki.com/assets/img/logo_600x600.png">

  <!-- Favicons-->
  <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon-180x180.png" />


  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="https://ucooki.com/">
  <meta name="twitter:site" content="@ucooki1">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="twitter:creator" content="@ucooki1">
	<meta name="twitter:image" content="<%= images[0] %>" />

    <!-- Open Graph data -->
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="product" />
		<% for (var i in images) {
			var image = images[i]; %>
			<meta property="og:image" content="<%= image %>" />
		<%} %>
    <meta property="og:image" content="https://ucooki.com/assets/img/logo_600x600.png" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:site_name" content="Ucooki" />

		<meta property="fb:app_id" content="1034614996596186" />


</head>

<body>
  <p> Ucooki - Social Crawler Page </p>
</body>

</html>
