<div id="subscriber" ng-controller="SubscriberCtrl">
  <!-- End section -->

  <!-- End SubHeader ============================================ -->
  <div class="content-enclosure">
    <div class="container margin_60_35">
      <div class="row">

        <div class="loading-container">
          <loading ng-class="{'no-run' : !loading}" is-loading="loading"></loading>
        </div>

        <div class="col-md-3 col-sm-12">

          <div class="box_style_2 text-center">
            <i class="icon-heart-empty"></i>
            <p> Per il momento <strong>Ucooki</strong> è attivo solo a <strong>Bologna</strong> e provincia, se volete ricevere il servizio nella vostra città registratevi e fate registrare anche i vostri amici, più sarete prima arriveremo ;)</p>
          </div>
        </div>


        <div class="col-md-6 col-sm-12">

          <div class="box_style_2">
            <h2 class="inner">Richiedi Ucooki anche nella tua città</h2>

            <fieldset class="form-group">
              <label for="name">Nome</label>
              <input type="text" ng-model="data.name" class="form-control" id="name" required="true">
            </fieldset>
            <fieldset class="form-group">
              <label for="email">Email</label>
              <input type="email" ng-model="data.email" class="form-control" id="email" required="true">
            </fieldset>
            <fieldset class="form-group">
              <label for="email-check">Ripeti Email</label>
              <input type="email" ng-model="data.confirm" class="form-control" id="email-check" required="true">
            </fieldset>
            <!-- Textarea -->
            <div class="form-group">
              <label class="text-left" for="city">Città</label>
              <input type="text" id="city" ng-model="data.city" placeholder="es: Bologna" uib-typeahead="address for address in getLocation($viewValue)" class="form-control">
            </div>

            <div class="checkbox-holder text-left">
              <div class="checkbox">
                <input type="checkbox" ng-model="data.cooker" id="check_2" name="check_2" />
                <label for="check_2"><span>Voglio registrarmi come futuro <strong>Cuoco</strong></span></label>
              </div>
            </div>

            <div class="form-group">
              <button id="btn-send" ng-disabled="loading" ng-click="submit()" class="btn_full">Invia</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
