<div ng-controller="PersonalInfoCtrl" class="personal-info">
  <div class="box">
    <div class="head">
      <i class="glyphicon glyphicon-user" style="margin-right:10px;"></i> Informazioni personali
      <button ng-if="!data.user.cooker" type="button" ng-disabled="loading" class="btn btn-primary" href="#"
              scroll-to="cooker-container"
              ng-model="data.user.cooker" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Diventa
        un Cuoco
      </button>
      <a class="btn btn-default btn-save on clear" ng-disabled="loading" ng-click="save()">Salva</a>
      <a ng-href="https://www.facebook.com/sharer/sharer.php?u={{getProfileLink()}}" target="_blank" type="button" class="btn facebook" uib-tooltip="Condividi su Facebook" tooltip-append-to-body="true"><i class="icon-facebook"></i></a>
    </div>

    <div class="body">

      <div class="alert alert-success" role="alert">
        Ciao {{data.user.name}}, trovi il tuo <a ui-sref="customer({customerId: data.user.id})"><b>profilo pubblico</b></a> qui <a ui-sref="customer({customerId: data.user.id})"><b>{{getProfileLink()}}</b></a>.
      </div>

      <div class="loading-container">
        <loading ng-class="{'no-run' : !loading}" is-loading="loading"></loading>
      </div>

      <form name="userForm">

        <div class="row">

          <div id="picture" class="col-md-4 col-sm-4 col-xs-12">

            <div class="" ng-if="data.user._picture && data.user._picture.status >= 0">
              <!-- Immagini nuove (status 0) -->
              <div ng-if="data.user._picture.status === 0" ngf-thumbnail="data.user._picture.data"
                   ngf-as-background="true" class="image-preview">
                <a class="btn btn-danger btn-remove-pic" ng-click="removeNewPicture()">
                  <span class=""><i class="glyphicon glyphicon-trash"></i></span>
                </a>
                <h4>{{data.user._picture.$error}} {{data.user._picture.$errorParam}}</h4>
              </div>

              <!-- Immagine caricata (status 1) -->
              <div ng-if="data.user._picture.status === 1" class="image-preview"
                   style="background:url({{data.user._picture.url}}) no-repeat center center;-webkit-background-size: cover;-moz-background-size:cover; -o-background-size: cover; background-size: cover;">
                <a class="btn btn-danger btn-remove-pic" ng-click="setPictureStatus(2)">
                  <span class=""><i class="glyphicon glyphicon-trash"></i></span>
                </a>
              </div>

              <!-- Immagine da eliminare (status 2) -->
              <div class="image-preview" ng-if="data.user._picture.status === 2"
                   style="background:url({{data.user._picture.url}}) no-repeat center center;-webkit-background-size: cover;-moz-background-size:cover; -o-background-size: cover; background-size: cover;">

                <div class="btn-group">
                  <a ng-click="setPictureStatus(1)" class="btn-cancel-delete btn btn-primary">Annulla Cancellazione </a>
                </div>

              </div>
            </div>

            <div
              ng-if="!data.user._picture || data.user._picture.status == undefined || data.user._picture.status == null"
              class="">
              <div id="direct-upload" ngf-drop="preparePicForUpload($file)" ngf-drag-over-class="dragOverClass($event)"
                   ngf-select="preparePicForUpload($file)"
                   ngf-pattern="'image/*'" accept="image/*">
                <div class="uploading-pic text-center">
                  <h4>CLICCA O RILASCIA QUI UN&#39;IMMAGINE</h4>
                </div>
              </div>
            </div>

          </div>


          <div class="col-md-8 col-sm-8 col-xs-12">

            <div class="input-row">
              <label>Nome</label>
              <input type="text" class="form-control" placeholder="Nome" ng-model="data.user.name" ng-required="true">
            </div>
            <div class="input-row">
              <label>Cognome</label>
              <input type="text" class="form-control" placeholder="Cognome" ng-model="data.user.lastname"
                     ng-required="true">
            </div>
            <div class="input-row">
              <label>Email</label>
              <div>{{data.user.email}}</div>
            </div>
            <div ng-if="!data.user.cooker" class="input-row">
              <label>Telefono (+39):</label>
              <span class="block">Il tuo numero sarà utilizzato <strong>SOLO</strong> in fase di ordine!</span>
              <input type="text" class="form-control" placeholder="inserisci il tuo numero di telefono"
                     ng-model="data.user.phone" ng-required="true">
            </div>
          </div>

        </div>

        <div ng-if="data.user.cooker" id="cooker-container" class="row">

          <div class="col-md-12">
            <h2> Sezione Cuoco </h2>

            <div ng-if="!data.user.productor_info.certificated" class="alert alert-info" role="alert">
              Se vuoi certificarti tramite <b>HACCP</b> (o equivalente) invia il tuo attestato per email cliccando <a href="info [at] ucooki.com" onclick="this.href='mailto:' + 'info' + '@' + 'ucooki.com'" target="_blank">qui</a>
            </div>

            <div class="alert alert-info" role="alert"> Segui <a ui-sref="become-a-cooker">questa guida</a> in cui ti
              spieghiamo cosa occorre fare per diventare un <strong>Cuoco</strong>.
            </div>

            <div class="alert alert-info" role="alert">
              <p>
                Occasionalmente <strong>Ucooki</strong> offrirà degli <strong>sconti</strong> agli utenti del sito in
                modo da incrementare
                la sua diffusione <strong>fino ad un massimo del 20%</strong> sul prezzo da te imposto.
              </p>
              <p>
                Gli sconti verranno inviati solo per incentivare l'utilizzo del servizio :)
              </p>
            </div>
            <div class="input-row">
              <label>Descrizione</label>
              <textarea class="form-control" rows="5" placeholder="Ciao, sono..."
                        ng-model="data.user.description"></textarea>
            </div>
            <div class="input-row">
              <label>Telefono (+39):</label>
              <span class="block">Il tuo numero sarà utilizzato <strong>SOLO</strong> in fase di ordine!</span>
              <input type="text" class="form-control" placeholder="inserisci il tuo numero di telefono"
                     ng-model="data.user.phone" ng-required="true">
            </div>

            <div class="input-row">
              <label>Codice fiscale</label>
              <input type="text" class="form-control" placeholder="Codice fiscale" ng-model="data.user.code">
            </div>

            <div class="input-row" ng-if="data.user.kitchen_location_info">
              <label>Indirizzo</label> <i class="u-font u-icon-question" uib-popover="{{message.address}}"
                                         popover-trigger="mouseenter"
                                         popover-append-to-body="true"></i>
              <div class="address">
                <span class="block">Indirizzo: <strong>{{data.user.kitchen_location_info.address}}</strong></span>
                <span class="block">Numero: <strong>{{data.user.kitchen_location_info.street_number}}</strong></span>
                <span class="block" ng-if="data.user.kitchen_location_info.note">Note: <strong>{{data.user.kitchen_location_info.note}}</strong></span>
              </div>
            </div>

            <div class="text-right clearfix">
              <button type="button" class="btn_full" ng-click="addAddress()" id="btn-cook-address">
                <span ng-if="!data.user.kitchen_location_info">Aggiungi Indirizzo</span>
                <span ng-if="data.user.kitchen_location_info">Modifica Indirizzo</span>
              </button>
            </div>
            <div ng-if="data.user.kitchen_location.lat && data.user.kitchen_location.lng">
              <div class="input-row">
                <label>Distanza</label> <i class="u-font u-icon-question" uib-popover="{{message.distance}}"
                                          popover-trigger="mouseenter"
                                          popover-append-to-body="true"></i>
                <select class="form-control" id="distance" ng-model="data.user.productor_info.max_distance"
                        convert-to-number ng-options="distance.value as distance.name for distance in distances"
                        uib-popover="{{message.distance}}"
                        popover-trigger="mouseenter" popover-append-to-body="true">
                </select>
              </div>

              <div id="map">
                <div class="map_canvas">
                  <ui-gmap-google-map center="currentMap.center" zoom="13" draggable="true" options="map.options">
                    <ui-gmap-circle
                      center="{latitude: data.user.kitchen_location.lat, longitude: data.user.kitchen_location.lng}"
                      stroke="map.stroke"
                      fill="map.fill" radius="data.user.productor_info.max_distance" visible="map.visible"
                      geodesic="map.geodesic"
                      editable="map.editable" draggable="map.draggable" clickable="map.clickable"
                      control="map.control"></ui-gmap-circle>
                  </ui-gmap-google-map>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="delete-account">
        <a href="#" ng-click="destroyMe()">Elimina account</a>
      </div>
      <div class="foot">
        <button ng-disabled="loading" class="btn btn-success btn-save on pull-right" ng-click="save()">Salva
          informazioni
        </button>
      </div>
    </div>
  </div>

</div>
