<div id="contacts" ng-controller="ContactsCtrl">
  <!-- End section -->

  <!-- End SubHeader ============================================ -->
  <div class="content-enclosure">
    <div class="container margin_60_35">
      <div class="row">
        <div class="loading-container">
          <loading ng-class="{'no-run' : !loading}" is-loading="loading"></loading>
        </div>

        <div class="col-md-3 col-sm-12">

          <div class="box_style_2 text-center">
            <i class="icon-mail"></i>
            <p> Se avete commenti, dubbi o consigli potete lasciarci un messaggio, vi risponderemo il prima possibile.</p>
          </div>
        </div>


        <div class="col-md-6 col-sm-12">

          <div class="box_style_2">
            <h2 class="inner">Modulo invio Messaggi</h2>

            <fieldset class="form-group">
              <label for="name">Nome</label>
              <input type="text" ng-model="data.name" class="form-control" id="name" required="true">
            </fieldset>
            <fieldset class="form-group">
              <label for="email">Email</label>
              <input type="email" ng-model="data.email" class="form-control" id="email" required="true">
            </fieldset>
            <fieldset class="form-group">
              <label for="phone">Telefono</label>
              <input type="text" ng-model="data.phone" class="form-control" id="phone">
            </fieldset>
            <!-- Textarea -->
            <div class="form-group">
              <label for="message">Messaggio:</label>
              <textarea class="form-control" ng-model="data.message" rows="5" id="message" required="true"></textarea>
            </div>
            <div class="form-group">
              <button id="btn-send" ng-disabled="loading" ng-click="submit()" class="btn_full">Invia</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
