<div id="how-it-works" class="static-page">
  <section class="parallax-window bkg-parallax bkg-static-page">
    <div id="subheader" class="vertical-gradient">
      <div id="sub_content">
        <h1>Come Funziona</h1>
        <!--
				<h2></h2>
        <p></p>
-->
      </div>
      <!-- End sub_content -->
    </div>
    <!-- End subheader -->
  </section>
  <!-- End section -->

  <!-- End SubHeader ============================================ -->
  <div class="content-enclosure">
    <div class="container margin_60_35">
      <div class="row">

        <div class="box_style_2 col-md-8 col-md-offset-2">

          <!-- TEXT -->

          <div class="flex-video widescreen">
            <iframe src="//www.youtube.com/embed/cC80uoJKnz4" allowfullscreen></iframe>
          </div>
          <p>

        </div>

      </div>

      <div class="row">

        <div class="box_style_2 col-md-8 col-md-offset-2">

          <!-- TEXT -->
          <h3>Ucooki, che cos'è?</h3>

          <p><strong>Ucooki</strong> è una piattaforma tutta italiana dedicata al <strong>social-neighbor food</strong>! Su di essa si possono incontrare gli appassionati di cucina e gli amanti del <strong>buon cibo</strong>, coloro che desiderano cucinare, mettendo a disposizione le proprie capacità in cucina, e chi vuole gustare piatti prelibati, di qualità, genuini e soprattutto <b>a pochi passi da casa</b>. Per far parte di questa community è sufficiente iscriversi, avere buona volontà e voglia di scoprire ciò che di buono c’è intorno a noi.
          </p>

        </div>

      </div>

      <div class="row">

        <div class="box_style_2 col-md-8 col-md-offset-2">

          <!-- TEXT -->
          <h3>Iscrizione e partecipazione</h3>

          <p>
            Essere parte della community di Ucooki è semplicissimo ed assolutamente <strong>gratuito</strong>! Iscrivendoti potrai scegliere se essere un <strong>cuoco amatoriale</strong> o un <strong>cliente degustatore</strong>.
          </p>

        </div>
      </div>

      <div class="row">

        <div class="box_style_2 col-md-8 col-md-offset-2">
          <h3>Come si crea un'offerta</h3>
          <h4>Cuoco</h4>
          <p>
            Su Ucooki chiunque può essere un <strong>cuoco</strong>, basta avere passione e bravura in cucina. È sufficiente caricare una foto del piatto scelto, gli ingredienti usati, la fascia oraria, le ore di preavviso necessarie per la preparazione e la modalità di consegna ed il gioco è fatto. Una volta che un cliente richiede la preparazione di un piatto il cuoco dovrà semplicemente <strong>accettare</strong> o <strong>rifiutare</strong> la richiesta. Una volta pronto il piatto verrà <strong>consegnato</strong> all’indirizzo e orario stabilito o <strong>ritirato</strong> direttamente dall’acquirente presso il domicilio del cuoco, in cambio del denaro previsto. Non c’è nessuna commissione richiesta, Ucooki è completamente <strong>gratuito</strong>.
          </p>
          <h5>Quali requisiti servono per essere un cuoco?</h5>
          <p>
            Ucooki è fatto da persone che amano il buon cibo, di qualità e genuino. Questo implica grande attenzione per gli ingredienti selezionati, che dovranno essere per quanto possibile a km 0, sani e biologici. Una grande attenzione alle normali regole e prescrizioni igienico/sanitarie e tanta tanta fantasia.
          </p>
          <h4>Cliente</h4>
          <p>
            Ucooki permette a tutti gli amanti del buon cibo di acquistare piatti fatti in casa da cuochi di zona, su ordinazione, per poterli così gustare a casa, in ufficio o dovunque ci sia una tavola apparecchiata. Prenotare è semplice: è sufficiente scegliere il piatto che più ci piace, la fascia oraria di ritiro e la modalità di consegna. Una volta ricevuta conferma dell’ordine e successivamente ricevuto il piatto acquistato, si salda quanto dovuto direttamente al cuoco.
          </p>
          <h5>Quali requisiti servono per essere un consumer?</h5>
          <p>
            Nessun requisito, è sufficiente amare il buon cibo, gli ingredienti genuini e avere tanta curiosità.
          </p>

        </div>

      </div>




    </div>


  </div>
</div>
