<div id="quality-control" class="static-page">
  <section class="parallax-window bkg-parallax bkg-static-page">
    <div id="subheader" class="vertical-gradient">
      <div id="sub_content">
        <h1>Qualità e Controllo</h1>
        <p>Selezioniamo per voi i Cuochi migliori</p>
      </div>
      <!-- End sub_content -->
    </div>
    <!-- End subheader -->
  </section>
  <!-- End section -->

  <!-- End SubHeader ============================================ -->

  <div class="content-enclosure">

    <!-- Content ================================================== -->
    <div class="container margin_60_35">
      <div class="row">

        <div class="box_style_2 col-md-8 col-md-offset-2">
          <div class="post">
            <h2>Talento</h2>
            <p>
              Siamo attivi in prima persona nel <strong>selezionare</strong> i cuochi che dimostrino di avere le
              <strong>migliori</strong> capacità per potervi offrire la massima esperienza in cucina, i migliori
              <strong>piatti artigianali</strong>. Finalmente potrete <strong>riscoprire il sapore</strong> dei veri
              piatti <strong>fatti in casa</strong>.
            </p>

            <p>
              I <strong>cuochi migliori</strong>, a riprova della loro preparazione, forniscono anche una <strong>certificazione
              HACCP</strong>, che certifica appunto la loro capacità nella manipolazione del cibo. I cuochi certificati
              si riconoscono facilmente da un badge presente nel proprio profilo e nella scheda riassuntiva dei loro
              piatti.
            </p>
          </div>
          <!-- end post -->
        </div>

        <div class="box_style_2 col-md-8 col-md-offset-2 message-box entra-in-famiglia">
          <div class="bkg-family-cooking bkg-image-full">
            <div class="overlay-20">
              <div class="text-box-container row">
                <div class="text-box col-md-6 col-md-offset-6 text-center">
                  <h2>Gusta i piatti fatti da chi vuol bene</h2>
                  <p>La cucina più sicura è quella di chi si prende cura dei propri cari ogni giorno.</p>
                  <a href="https://www.facebook.com/groups/614891058720359/" target="_blank"><button class="btn">Entra in famiglia</button></a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="box_style_2 col-md-8 col-md-offset-2">
          <div class="post">
            <h2>Selezione</h2>
            <p>
              Ci piace pensare che le cose <strong>buone</strong> possano essere anche <strong>sane</strong> e <strong>belle</strong>.
              Per questo tra le tante proposte di piatti inviateci <strong>selezioniamo</strong> solo quelli che
              racchiudono tutti questi requisiti.
            </p>

            <p>
              Devono essere prima di tutto piatti sani, perché <strong>sulla salute non transigiamo</strong>: preparati
              con ingredienti di <strong>qualità</strong>, lavorati in maniera <strong>accurata</strong>, presentati e
              consegnati in modo pulito, chiaro, preciso.
            </p>

            <p>
              Tutte le pietanze proposte su Ucooki riportano l’<strong>indicazione degli ingredienti usati</strong>. È
              il nostro modo per garantire anche sui piatti pronti la stessa, se non superiore, <strong>garanzia di
              qualità</strong> rintracciabile nella vendita dei singoli alimenti. Superiore in quanto, prima volta in
              Italia, è indicata la filiera di produzione dell’ingrediente usato. Al momento tale indicazione non è
              obbligatoria, ma fortemente consigliata, soprattutto riguardo gli ingredienti a <strong>Km 0</strong> o
              <strong>biologici</strong>.
            </p>

            <p>
              Che siano anche <strong>belli</strong>, non solo per mera estetica ma perché un bel piatto è specchio di
              chi lo prepara: se un cuoco ci tiene a far bene, e mette passione nelle pietanze che fa, si vede e ci si
              può fidare.
            </p>

          </div>
        </div>

        <div class="box_style_2 col-md-8 col-md-offset-2">
          <div class="post">
            <h2>Controllo</h2>

            <p>
              Ucooki controlla che i cuochi continuino a rispettare l'utilizzo di ingredienti indicati tramite <strong>controlli
              a campione</strong> su tutto quello dichiarato nella lista degli ingredienti. I cuochi potranno essere
              contattati in qualsiasi momento dal nostro team per esibire lo scontrino fiscale che <strong>certifichi
              l'utilizzo degli ingredienti indicati</strong> e qualora non venissero forniti i cuochi verrebbero esclusi
              dalla piattaforma.
            </p>
            <p>
              Non dimentichiamoci che <strong>i migliori controllori siete voi</strong>, nel caso in cui dovessimo
              ricevere valutazioni negative per un determinato piatto, verrà, previo controllo specifico, rimosso dalla
              lista delle offerte.
            </p>
            <p>
              E tutto questo è solo un primo passo, a breve ce ne saranno altri per rendere l’<strong>esperienza Ucooki
              sempre più sicura e confortevole</strong>!
            </p>
          </div>


        </div>
        <!-- End col-md-9-->

      </div>
    </div>
    <!-- End container -->

  </div>


</div>
