<div id="community" class="static-page">
  <section class="parallax-window bkg-parallax bkg-static-page">
    <div id="subheader" class="vertical-gradient">
      <div id="sub_content">
        <h1>Entra nel gruppo di Facebook</h1>
        <p>Incontra gli amanti della cucina tradizionale</p>
      </div>
      <!-- End sub_content -->
    </div>
    <!-- End subheader -->
  </section>
  <!-- End section -->

  <!-- End SubHeader ============================================ -->

  <div class="content-enclosure">

    <!-- Content ================================================== -->
    <div class="container margin_60_35">
      <div class="row">

        <div class="box_style_2 col-md-8 col-md-offset-2">
          <div class="post">
            <h2>La community della buona cucina</h2>
            <p>
              Su <a href="https://www.facebook.com/groups/614891058720359/" target="_blank">Facebook</a> abbiamo attivato un gruppo dove <b>cuochi e utenti possono incontrarsi</b>, in cui proporre o ordinare
              piatti, di giorno in giorno, come buoni vicini di casa. Un luogo dove trovare buon cibo ma soprattutto buone
              persone.
            </p>
            <p>
              <b>Per i cuochi</b> una vetrina dove <b>proporre i propri manicaretti</b>, far conoscere se stessi e il proprio menù, <b>le offerte del giorno</b> e incontrare gli utenti, <b>come in una grande famiglia</b>.
            </p>
            <p>
              Allo stesso tempo è per gli <b>amanti della cucina</b> uno spazio dove conoscere personalmente i cuochi intorno a loro, <b>porre domande o fare richieste</b>.
            </p>
            <p>
              Per rivoluzionare la cucina non possiamo essere soli ma dobbiamo <b>unirci in gruppo</b>, condividere tanto buon cibo e tutta la nostra umanità!
            </p>
            <p>
              Se anche tu sei stanco del cibo spazzatura, senza storia e senza anima entra nella comunità di Ucooki ci sono tanti buongustai come te che ti aspettano!
            </p>
          </div>
          <!-- end post -->
        </div>

        <div class="box_style_2 col-md-8 col-md-offset-2 message-box entra-in-famiglia">
          <div class="bkg-family-cooking bkg-image-full">
            <div class="overlay-20">
              <div class="text-box-container row">
                <div class="text-box col-md-6 col-md-offset-6 text-center">
                  <h2>Gusta i piatti fatti da chi vuol bene</h2>
                  <p>La cucina più sicura è quella di chi si prende cura dei propri cari ogni giorno.</p>
                  <a href="https://www.facebook.com/groups/614891058720359/" target="_blank"><button class="btn">Entra in famiglia</button></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <!-- End container -->

  </div>


</div>
