<div id="page-not-found" class="static-page">
  <!-- End SubHeader ============================================ -->
  <div class="content-enclosure">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
          <div class="box_style_2 error-template">
            <h1>Oops!</h1>
            <h2>404 Pagina Non Trovata</h2>
            <div class="error-details">
              Mi dispiace ma sembra esserci stato un problema
            </div>
            <div class="error-actions">
              <a id="home" ui-sref="home" class="btn btn-lg">Home</a>
							<a id="contacts" ui-sref="contacts" class="btn btn-lg">Contattaci</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
