<div id="become-a-cooker" class="static-page">
  <section class="parallax-window bkg-parallax bkg-static-page">
    <div id="subheader" class="vertical-gradient">
      <div id="sub_content">
        <h1>Diventa un Cuoco</h1>
        <p>Guadagna con i tuoi piatti artigianali</p>
      </div>
      <!-- End sub_content -->
    </div>
    <!-- End subheader -->
  </section>
  <!-- End section -->

  <!-- End SubHeader ============================================ -->

  <div class="container box">

    <div class="row">
      <div class="col-md-4">
        <div class="box_home">
          <i class="u-font u-icon-cook-hat"></i>
          <h2>Chi può diventarlo</h2>
          <p>
            Se ami cucinare <b>piatti di qualità</b>, unici e golosi, hai entusiasmo e voglia di fare, allora questo è
            il
            posto giusto per te! Inserisci e <b>vendi da asporto i tuoi piatti migliori</b>.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box_home">
          <i class="u-font u-icon-piggy-bank"></i>
          <h2>Perchè diventarlo</h2>
          <p>
            Con la vendita dei tuoi piatti potrai arrotondare le entrate, decidendo in <b>piena autonomia</b> quando
            farlo,
            <b>senza obblighi</b> o vincoli! Dai libero sfogo alla tua <b>passione</b>.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box_home">
          <i class="u-font u-icon-cooking"></i>
          <h2>Come fare</h2>
          <p>
            Scegli i tuoi <b>piatti super</b>, quelli che tutti ti invidiano e inseriscili nel tuo profilo. Indica ora e
            giorno in cui puoi cucinarli e <b>attendi la prenotazione dei buongustai intorno a te</b>.
          </p>
        </div>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->

  <div class="container cook-link">

    <h2>Attivazione Profilo Cuoco</h2>
    <p>
      Fai il Login e abilitati come <b>Cuoco</b>: dalla tua pagina <a ui-sref="dashboard.personal-info" target="_blank">Informazioni
      Personali</a> clicca sul pulsante <strong>"Diventa un Cuoco"</strong>. Se hai il <b>certificato HACCP</b> inviacene
      una copia a questo indirizzo <a href="info [at] ucooki.com" onclick="this.href='mailto:' + 'info' + '@' + 'ucooki.com'" target="_blank">email</a>, è un <b>requisito opzionale</b> ma ti darà più <b>visibilità sul</b> sito. <a
      href="http://blog.ucooki.com/2015/11/certificazione-sanitaria-haccp-la-sicurezza-alimentare-al-primo-posto/"
      target="_blank">Qui</a> come ottenerlo.
    </p>

    <h2>Caricamento Piatti</h2>
    <p>
      Una volta diventato un Cuoco potrai caricare i tuoi piatti dal menu <a ui-sref="dashboard.products"
                                                                             target="_blank">Il mio Menu</a>.
      Compila la scheda e in brevissimo tempo verificheremo che il piatto proposto rispetti i requisiti che trovi qui
      sotto.
    </p>

  </div>

  <div class="container products products-ok">

    <h2>Quali piatti <b>accettiamo</b></h2>
    <p>
      Per Ucooki ogni piatto proposto deve racchiudere in sé le caratteristiche fondamentali della nostra filosofia: una
      <b>cucina gustosa, sostenibile e di qualità</b>.
    </p>
    <p><b>ATTENZIONE</b>: tutti i piatti devono essere pronti per essere gustati!</p>

    <div class="row">
      <div class="col-md-4 product-image">
        <div class="bkg-image-full regionali"
             uib-tooltip="Piatti tipici della tua Regione (es. malloreddus, orecchiette, canederli, ecc) del tuo comune, o che sia tipico di uno territorio specifico."
             tooltip-placement="top-left">
          <div class="text">
            <h2>Regionali</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 product-image">
        <div class="bkg-image-full tradizionali"
             uib-tooltip="I piatti classici della cucina Italia come la lasagna, i maccheroni, le polpette, ecc o tipici della tua famiglia."
             tooltip-placement="top-left">
          <div class="text">
            <h2>Tradizionali</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 product-image">
        <div class="bkg-image-full gourmet"
             uib-tooltip="Sei un Masterchef, allora dimostralo! Piatti originali, sperimentali, inventati con estro e creatività."
             tooltip-placement="top-left">
          <div class="text">
            <h2>Gourmet</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 product-image">
        <div class="bkg-image-full piatto-unico"
             uib-tooltip="Piatti che siano un pasto completo: parmigiana, quiche, rotoli salati, tortini, ecc."
             tooltip-placement="top-left">
          <div class="text">
            <h2>Piatto unico</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 product-image">
        <div class="bkg-image-full biscotti" uib-tooltip="Biscotti genuini e gustosi da gustare a colazione."
             tooltip-placement="top-left">
          <div class="text">
            <h2>Biscotti elaborati</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 product-image">
        <div class="bkg-image-full dessert"
             uib-tooltip="Torte e crostate per colazione, cake design o dessert elaborati per fine pasto."
             tooltip-placement="top-left">
          <div class="text">
            <h2>Dessert</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container products products-ko">

    <h2>Quali piatti <b>NON</b> accettiamo</h2>

    <div class="row">
      <div class="col-md-4 product-image">
        <div class="bkg-image-full aperitivi" uib-tooltip="Salatini, brioche salate, tartine, tramezzini, ecc."
             tooltip-placement="top-left">
          <div class="bkg-image-full ko">
            <div class="text">
              <h2>Aperitivi</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 product-image">
        <div class="bkg-image-full banali"
             uib-tooltip="No a piatti senza elaborazione, che chiunque può preparare, come spaghetti al sugo, pasta al tonno, verdure grigliate, uova alla coque, ecc."
             tooltip-placement="top-left">
          <div class="bkg-image-full ko">
            <div class="text">
              <h2>Banali</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 product-image">
        <div class="bkg-image-full insalate"
             uib-tooltip="No a insalate di verdura e frutta, con più o meno ingredienti." tooltip-placement="top-left">
          <div class="bkg-image-full ko">
            <div class="text">
              <h2>Insalate</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 product-image">
        <div class="bkg-image-full crudi"
             uib-tooltip="La pasta fresca non può essere venduta cruda ma deve essere cotta e condita, pronta per essere gustata."
             tooltip-placement="top-left">
          <div class="bkg-image-full ko">
            <div class="text">
              <h2>Crudi</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 product-image">
        <div class="bkg-image-full solo-condimento"
             uib-tooltip="No a ragù, salse, creme e a tutti i condimenti isolati. Ogni piatto deve essere già completo e pronto per essere consumato. Stesa cosa per contorni senza portata principale."
             tooltip-placement="top-left">
          <div class="bkg-image-full ko">
            <div class="text">
              <h2>Solo condimento</h2>
              <h2>o solo contorni</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 product-image">
        <div class="bkg-image-full pizza"
             uib-tooltip="Sappiamo che la tua pizza è la migliore in assoluto ma Ucooki non è il posto adatto dove proporla."
             tooltip-placement="top-left">
          <div class="bkg-image-full ko">
            <div class="text">
              <h2>Pane & Pizza</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="alert alert-danger">
      <h2><b>NOTA BENE:</b> Ingredienti vietati</h2>
      <ol>
        <li>Sfoglie pronte, pasta fresca confezionata o acquistata da terzi</li>
        <li>Confetture, sott’oli e sott’aceti fatti in casa</li>
        <li>Sughi e pesti pronti</li>
        <li>Farine auto lievitanti</li>
        <li>Alimenti precotti (wurstel, bastoncini, ecc)</li>
      </ol>
    </div>

  </div>

  <div class="container">

    <h2>Foto Piatti</h2>

    <p>
      Avere una <b>foto invitante è fondamentale</b> per conquistare clienti. Le foto dei vostri piatti devono essere di
      buona
      qualità, almeno <b>500 x 500 pixel</b>, <b>non sfocate e ben illuminate</b>. Semplici e utili consigli su come
      fare foto di
      qualità li potete trovare <a href="http://blog.ucooki.com/2016/08/belle-foto-ai-piatti/" target="_blank">qui</a>
    </p>

    <h2>Controllo qualità</h2>

    <p>
      Tutti gli scontrini per l’acquisto di prodotti biologici o a km0 vanno conservati per la durata di due mesi,
      qualora
      Ucooki ne richiedesse la visione al fine di verificare il reale utilizzo degli ingredienti indicati.</p>
  </div>

  <div class="container video text-center">
    <h2>Strumenti utili</h2>
    <p>Ecco una serie di Tutorial che ti possono aiutare nella tua attività di Cuoco</p>
    <div class="row">
      <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LQg_yha02Nk" frameborder="0"
                allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TxChBMtKdkw" frameborder="0"
                allowfullscreen></iframe>
      </div>
    </div>
  </div>

</div>
