<div id="faq" class="static-page">
  <section class="parallax-window bkg-parallax bkg-static-page">
    <div id="subheader" class="vertical-gradient">
      <div id="sub_content">
        <h1>Faq</h1>
				<p>Le domande che ci siamo fatti tutti</p>
      </div>
      <!-- End sub_content -->
    </div>
    <!-- End subheader -->
  </section>
  <!-- End section -->

  <!-- End SubHeader ============================================ -->
  <div class="content-enclosure">
    <div class="container margin_60_35">
      <div class="row">
        <div class="box_style_2 col-md-8 col-md-offset-2">


          <uib-accordion>

            <uib-accordion-group heading="Quali requisiti servono per essere un cuoco?">
              <p>Su <strong>Ucooki</strong> chiunque può essere un cuoco, basta avere passione e bravura in cucina. Non occorre che tu sia un professionista.</p>
            </uib-accordion-group>

            <uib-accordion-group heading="Come si pubblica un prodotto?">
              <p>È sufficiente caricare una foto del piatto scelto, gli ingredienti usati, la fascia oraria, le ore di preavviso necessarie per la preparazione e la modalità di consegna ed il gioco è fatto.</p>
            </uib-accordion-group>

            <uib-accordion-group heading="Dove invio il mio certificato HACCP?">
              <p>Per certificarti tramite un attestato <b>HACCP</b> (o equivalente) basta inviarcene una copia direttamente a questa <a href="info [at] ucooki.com" onclick="this.href='mailto:' + 'info' + '@' + 'ucooki.com'" target="_blank">email</a>. In tempi brevissimi verificheremo i dati e aggiorneremo la tua pagina personale.</p>
            </uib-accordion-group>

            <uib-accordion-group heading="Qual e' la normativa vigente?">
              <p>
                Il <strong>Cuoco</strong> che si registra sul sito di <strong>Ucooki</strong> si assume tutti gli obblighi riportati dal <strong>Regolamento CE n 178/2002</strong> come espresso nelle "condizioni di servizio".
              </p>
              <p>
                Per quanto riguarda le attività relative al controllo alimentare espresse dal <strong>Regolamento Europeo 852/2004</strong>, ovvero il "Regolamento sull'igiene dei prodotti alimentari", <strong>non si applicano</strong> al Cuoco in quanto svolge un'attività di preparazione di alimenti destinata al consumo domestico e quindi, stando al suddetto Regolamento, il cuoco viene <strong>escluso</strong> espressamente dal rispetto di tali pratiche.</p>
              <p>
                Stando al Regolamento il sistema di controllo non si applica: (<strong>art. 1 comma 2 lettera b</strong>) "alla preparazione, alla manipolazione e alla conservazione domestica di alimenti destinati al consumo domestico privato;" e (<strong>art. 1 comma 2 lettera c</strong>): "alla fornitura diretta di piccoli quantitativi di prodotti primari dal produttore al consumatore finale o a dettaglianti locali che forniscono direttamente il consumatore finale."
              </p>
              <p>Per garantire standard di sicurezza sempre maggiori, Ucooki richiede a chiunque volesse diventare un <strong>cuoco</strong> l’ottenimento e presentazione in forma opzionale della certificazione sanitaria <strong>HACCP</strong> di secondo livello, prescritta per gli addetti alimentari che manipolano gli alimenti.</p>
            </uib-accordion-group>

            <uib-accordion-group heading="Come si garantisce la sicurezza alimentare?">
							<p>Il compito principale di Ucooki è quello di <strong>selezionare</strong> i singoli Cuochi e le ricette che di volta in volta verranno presentate in modo da poter offrire il massimo della qualità ai propri utenti.</p>
              <p>Per garantire standard di sicurezza sempre maggiori, Ucooki richiede a chiunque volesse diventare un <strong>cuoco</strong> l’ottenimento e presentazione in forma opzionale della certificazione sanitaria <strong>HACCP</strong> di secondo livello, prescritta per gli addetti alimentari che manipolano gli alimenti.</p>
            </uib-accordion-group>

            <uib-accordion-group heading="Quali sono gli oneri fiscali?">
              <p>Normalmente i prodotti venduti tramite <strong>Ucooki</strong> sono intesi come prestazione occasionale tra privati. Per legge non è prevista alcuna ricevuta tra semplici privati.</p>
              <p>Quando un cuoco arriva a guadagnare cifre superiori ai 5000€ annui dovrebbe provvedere all’apertura di una partita iva e a tutti gli obblighi relativi all’avvio di un’attività di ristorazione. In questo caso è opportuno rivolgersi ad un commercialista che possa accompagnare il cuoco verso la sua nuova attività.
              </p>
            </uib-accordion-group>

            <uib-accordion-group heading="Se qualcuno dovesse sentirsi male?">
              <p>La responsabilità è del cuoco, così come accade in tutte le case in cui ci sia qualcuno che prepara del cibo per qualcun altro. E’ onere del cuoco indicare esattamente tutti gli ingredienti utilizzati per la preparazione di un piatto, così come è responsabilità degli utenti consumatori verificare sempre la lista degli ingredienti facendo attenzione alle proprie allergie.</p>
            </uib-accordion-group>

            <uib-accordion-group heading="Come si effettua il pagamento?">
              <p>L’utente consumatore pagherà direttamente il cuoco nel momento del ritiro/consegna.</p>
            </uib-accordion-group>

            <uib-accordion-group heading="Quanto costa il servizio?">
              <p>Ucooki è completamente <strong>GRATUITO</strong>, gli utenti consumatori dovranno pagara solo il prezzo del piatto indicato dal cuoco, mentre il cuoco non dovrà versare alcuna somma a <strong>Ucooki</strong>.</p>
            </uib-accordion-group>



          </uib-accordion>


        </div>
      </div>
    </div>
  </div>
</div>
