<div id="mission" class="static-page">
  <section class="parallax-window bkg-parallax bkg-static-page">
    <div id="subheader" class="vertical-gradient">
      <div id="sub_content">
        <h1>Mission</h1>
        <p>La rivoluzione inizia da qui</p>
      </div>
      <!-- End sub_content -->
    </div>
    <!-- End subheader -->
  </section>
  <!-- End section -->

  <!-- End SubHeader ============================================ -->

  <div class="content-enclosure">
    <div class="container margin_60_35">
      <div class="row">


        <div class="col-md-12">
          <div class="box_style_2">
            <h2>Sapori Autentici</h2>

            <p>
              Con Ucooki si possono scegliere piatti preparati da cuochi amatoriali nelle proprie <strong>vicinanze</strong> che decidono di mettere a disposizione le proprie <strong>abilità</strong> in cucina per gli altri. Finalmente piatti preparati in casa <strong>dalle persone per le persone</strong>.
            </p>

          </div>
          <div class="box_style_2">
            <h2>Ingredienti di Qualità</h2>

            <p>
              Ucooki incentiva i suoi cuochi ad utilizzare il più possibile ingredienti di qualità acquistati da produttori locali, permettendo così, ai clienti, di verificare in qualsiasi momento la <strong>provenienza</strong> e la <strong>qualità</strong> delle materie prime, in modo da acquistare consapevolmente il piatto più gustoso ma anche il più <strong>genuino</strong>.
            </p>

          </div>

          <div class="box_style_2">
            <h2>Il Territorio</h2>

            <p>
              Nella scambio tra domanda e offerta, su Ucooki, a guadagnarci sono anche e soprattutto le <strong>realtà agricole locali</strong>, con i loro prodotti a <strong>filiera cortissima</strong>. Riacquistano valore e centralità prodotti a <strong>km 0</strong> e <strong>biologici</strong>, a discapito della produzione industriale e intensiva, propria della grande distribuzione.
            </p>


          </div>
        </div>


      </div>
    </div>
  </div>



</div>
