<div class="static-page no-parallax">
  <!-- End section -->

  <!-- End SubHeader ============================================ -->
  <div class="content-enclosure">
    <div class="container margin_60_35">

      <div class="row">

        <div class="row">
          <div class="box_style_2 col-md-8 col-md-offset-2 text-justify">

            <h1 class="text-center">Cookie Policy</h1>
            <p>
              Nell'informativa qui di seguito riportata troverai: in corrispondenza dei cookie analitici e di profilazione di prima parte, un pulsante che ti consentirà di prestare o negare il consenso all'installazione da parte di ucooki.com di questi elementi. in corrispondenza dei cookie di terze parti, il link alle cookie policy delle terze parti stesse dove potrai manifestare le tue preferenze. L'informativa relativa alla gestione dei dati.
            </p>
            <p>
              <strong>Nota bene:</strong> Le tue preferenze circa il consenso all'installazione dei singoli cookie sono salvate in un cookie tecnico chiamato cc-preferenze-utente della durata di 1 anno. Ricordati che se deciderai di cancellare i cookie dal tuo browser cancellerai questo elemento e alla tua prossima visita in questo sito ti verrà chiesto un nuovo consenso.
            </p>

            <h3>Informativa sull'uso dei cookie da ucooki.com </h3>

            <p>
              L' informativa di seguito riportata, relativa all'uso dei cookie su questo sito web, è resa in attuazione del provvedimento del Garante per la protezione dei dati personali dell'8 maggio 2014 "Individuazione delle modalità semplificate per l'informativa e l'acquisizione del consenso per l'uso dei cookie" e nel rispetto dell'art. 13 del Codice privacy (D.Lgs. n. 196/2003). L'informativa è predisposta ed aggiornata da Antonio Saracino, gestore del sito web e Titolare del trattamento di dati personali ad esso connessi, con sede in via Vittorio Bigari. Per i contatti fare riferimento alla pagina <a ui-sref="contacts">contatti</a>. Ai medesimi recapiti è possibile rivolgersi per esercitare i diritti previsti dal Codice a favore dell'interessato (art. 7 e ss D.Lgs. 30 giugno 2003, n. 196: ad esempio, accesso, cancellazione, aggiornamento, rettificazione, integrazione, ecc.), nonché per chiedere l'elenco aggiornato dei Responsabili del trattamento eventualmente designati.
            </p>

            <h3>Che cosa sono i cookie? </h3>
            <p>
              I cookie sono stringhe di testo di piccola dimensione che un sito web può inviare, durante la navigazione, al dispositivo dell'utente (sia esso un pc, un notebook, uno smartphone, un tablet; di norma sono conservati direttamente sul browser utilizzato per la navigazione). Lo stesso sito web che li ha trasmessi, poi, può leggere e registrare i cookie che si trovano sul dispositivo per ottenere informazioni di vario tipo.
            </p>

            <h3>Quanti tipi di cookie esistono? </h3>
            <p>
              Esistono vari tipi di cookie, con caratteristiche diverse. I cookie possono essere classificati, innanzitutto, come:
              <ul>
                <li><strong>cookie di sessione</strong>, i quali vengono cancellati immediatamente alla chiusura del browser di navigazione (ad esempio, Internet Explorer, Safari, Google Chrome, ecc.)</li>
                <li><strong>cookie persistenti</strong>, i quali - a differenza di quelli di sessione - rimangono all'interno del dispositivo continuando ad operare anche successivamente alla chiusura del browser e fino allo scadere di un determinato periodo di tempo</li>
                <li><strong>cookie di prima parte</strong> ossia cookie generati e gestiti direttamente dal soggetto gestore del sito web sul quale l'utente sta navigando</li>
                <li><strong>cookie di terza parte</strong>, i quali sono generati e gestiti da soggetti diversi dal gestore del sito web sul quale l'utente sta navigando (in forza, di regola, di un contratto tra il titolare del sito web e la terza parte).</li>
              </ul>
            </p>

            <h3>Le due macro-categorie funzionali sono</h3>
            <ul>
              <li>
                <h4>Cookie tecnici</h4>
                <p>
                  i cookie tecnici sono generalmente necessari per il corretto funzionamento del sito web e per permettere la navigazione; senza di essi il navigatore potrebbe non essere in grado di visualizzare correttamente le pagine oppure di utilizzare alcuni servizi. Per esempio, un cookie tecnico è indispensabile per mantenere l'utente collegato durante tutta la visita ad un sito web, oppure per memorizzare le impostazioni della lingua, della visualizzazione, e così via. I cookie tecnici possono essere ulteriormente distinti in cookie di navigazione, che garantiscono la normale navigazione e fruizione del sito web (permettendo, ad esempio, di realizzare un acquisto o autenticarsi per accedere ad aree riservate); cookie analytics, assimilati ai cookie tecnici solo laddove utilizzati direttamente dal gestore del sito per raccogliere informazioni, in forma aggregata, sul numero degli utenti e su come questi visitano il sito stesso; cookie di funzionalità, che permettono all'utente la navigazione in funzione di una serie di criteri selezionati (ad esempio, la lingua, i prodotti selezionati per l'acquisto) al fine di migliorare il servizio reso allo stesso.
                </p>
              </li>

              <li>
                <h4>Cookie di profilazione</h4>
                <p>
                  i cookie di profilazione sono volti a creare profili relativi all'utente e vengono utilizzati per promuovere offerte in linea con le preferenze manifestate dallo stesso nell'ambito della navigazione in rete.
                </p>
              </li>

            </ul>

            <h3>Quali cookie utilizza ucooki.com?</h3>
            <a href="//www.iubenda.com/privacy-policy/946083" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a>
            <script type="text/javascript">
              (function(w, d) {
                var loader = function() {
                  var s = d.createElement("script"),
                    tag = d.getElementsByTagName("script")[0];
                  s.src = "//cdn.iubenda.com/iubenda.js";
                  tag.parentNode.insertBefore(s, tag);
                };
                if (w.addEventListener) {
                  w.addEventListener("load", loader, false);
                } else if (w.attachEvent) {
                  w.attachEvent("onload", loader);
                } else {
                  w.onload = loader;
                }
              })(window, document);
            </script>

            <h3>Disattivazione dei cookie sul browser</h3>
            <p>
              Ogni utente può configurare il proprio browser in modo da non accettare automaticamente cookie. È possibile eliminare tutti i cookie installati all’interno del browser o bloccarne l’installazione di nuovi. Per ottenere le istruzioni specifiche per ogni tipologia di browser seleziona uno dei link seguenti:
            </p>
            <ul>

              <li>
                <strong><a href="https://support.apple.com/kb/PH19214?viewlocale=it_IT&locale=en_US">SAFARI</a></strong>
              </li>
              <li>
                <strong><a href="https://support.google.com/accounts/answer/61416?hl=it">CHROME</a></strong>
              </li>
              <li>
                <strong><a href="https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie">FIREFOX</a></strong>
              </li>
              <li>
                <strong><a href="http://help.opera.com/Windows/10.00/it/cookies.html">OPERA</a></strong>
              </li>

            </ul>


          </div>
        </div>
        <br>
        <div class="row">

          <div class="box_style_2 col-md-8 col-md-offset-2 text-justify">

            <h1 class="text-center">Informativa sulla privacy</h1>

            <div class="colored-line"></div>

            <h3>Fonte dei dati personali</h3>
            <p>
              La raccolta dei suoi dati personali viene effettuata registrando i dati da lei stesso forniti, in qualità di interessato, al momento della registrazione al Forum di discussione. Finalità del trattamento I dati personali sono trattati per le seguenti finalità: 1. realizzare indagini dirette a verificare il grado di soddisfazione degli utenti sui servizi offerti o richiesti; 2. invio di email di notifica per l'attivazione del servizio ucooki.
            </p>

            <h3>Modalità di trattamento dei dati</h3>
            <p>
              In relazione alle finalità descritte, il trattamento dei dati personali avviene mediante strumenti manuali, informatici e telematici con logiche strettamente correlate alle finalità sopra evidenziate e, comunque, in modo da garantire la sicurezza e la riservatezza dei dati stessi. Adempiute le finalità prefissate, i dati verranno cancellati o trasformati in forma anonima. Categorie di soggetti ai quali i dati possono essere comunicati o che possono venirne a conoscenza in qualità di Responsabili o Incaricati I suoi dati personali potranno essere conosciuti esclusivamente dagli amministratori e moderatori del sito, individuati quali Incaricati del trattamento. Esclusivamente per le finalità previste al paragrafo "Finalità del trattamento". I dati non saranno inviati a società terze.
            </p>

            <h3>Diritti dell'Interessato</h3>
            <p>
              La informiamo, infine, che la normativa in materia di protezione dei dati personali conferisce agli Interessati la possibilità di esercitare specifici diritti, in base a quanto indicato all’art. 7 del “Codice” che qui si riporta:
              <ol>
                <li>
                  L’interessato ha diritto di ottenere la conferma dell’esistenza o meno di dati personali che lo riguardano, anche se non ancora registrati, e la loro comunicazione in forma intelligibile.
                </li>
                <li>
                  L’interessato ha diritto di ottenere l’indicazione:

                  <ol>
                    <li>
                      dell’origine dei dati personali;
                    </li>
                    <li>
                      delle finalità e modalità del trattamento;
                    </li>
                    <li>
                      della logica applicata in caso di trattamento effettuato con l’ausilio di strumenti elettronici;
                    </li>
                    <li>
                      degli estremi identificativi del titolare, dei responsabili e del rappresentante designato ai sensi dell’art. 5, comma 2;
                    </li>
                    <li>
                      dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualità di rappresentante designato nel territorio dello Stato, di responsabili o incaricati.
                    </li>
                  </ol>
                </li>
                <li>
                  L’interessato ha diritto di ottenere:

                  <ol style="margin-left: 20px;">
                    <li>
                      l’aggiornamento, la rettificazione ovvero, quando vi ha interesse, l’integrazione dei dati;
                    </li>
                    <li>
                      la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati;
                    </li>
                    <li>
                      l’attestazione che le operazioni di cui alle lettere a. e b. sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato.
                    </li>
                  </ol>
                </li>
                <li>
                  L’interessato ha diritto di opporsi, in tutto o in parte:

                  <ol style="margin-left: 20px;">
                    <li>
                      per motivi legittimi al trattamento dei dati personali che lo riguardano, ancorchè pertinenti allo scopo della raccolta;
                    </li>
                    <li>
                      al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale.
                    </li>
                  </ol>
                </li>
              </ol>
            </p>

            <h3>Titolare e Responsabili del trattamento</h3>
            <p>
              Il Titolare del trattamento dei dati personali di cui alla presente Informativa è Antonio Saracino, con sede in via Vittorio Bigari, 14, Bologna, 40128. Il Antonio Saracino ha designato quale Responsabile del trattamento Emanuele Saracino, via Aurelio Saffi, 10, Bologna, 40131. Lo stesso è responsabile del riscontro, in caso di esercizio dei diritti sopra descritti. Al fine di semplificare le modalità di inoltro e ridurre i tempi per il riscontro si invita a presentare le richieste, di cui al precedente paragrafo, ad Antonio Saracino, contattandolo tramite pagina contatti. L’amministratore
            </p>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
