<div id="team" class="static-page">
  <section class="parallax-window bkg-parallax bkg-static-page">
    <div id="subheader" class="vertical-gradient">
      <div id="sub_content">
        <h1>Chi siamo</h1>
<!--				<h2>La città è una cucina aperta</h2>-->
      </div>
      <!-- End sub_content -->
    </div>
    <!-- End subheader -->
  </section>
  <!-- End section -->

  <!-- End SubHeader ============================================ -->
  <div class="content-enclosure">
    <div class="container margin_60_35">
      <div class="row">

        <div class="box_style_2 col-md-8 col-md-offset-2">

          <!-- DETAILS WITH LIST -->
          <div class="brief text-justify">

            <p>
              L’avventura Ucooki è iniziata a Maggio del 2015 in Italia, Paese in cui la cultura gastronomica conserva un ruolo centrale, su iniziativa di <strong>Antonio</strong> (<a href="https://www.linkedin.com/in/antonio-saracino-1220a535" target="_blank"><i class="icon-linkedin-squared"></i></a>) ed <strong>Emanuele Saracino</strong> (<a href="https://www.linkedin.com/in/emanuele-saracino-b91a14b" target="_blank"><i class="icon-linkedin-squared"></i></a>), fratelli leccesi trapiantati da anni a Bologna.
            </p>
            <p>
              L’idea nasce un giorno, quasi per caso, durante una dei tanti pranzi in famiglia, davanti al sempre ottimo piatto di <strong>pasta fatta in casa</strong> da nostra madre. La domanda è stata una: quante persone vorrebbero poter mangiare un piatto <strong>genuino</strong> cucinato da chi lo fa da sempre? E soprattutto, quante persone, magari vicini di casa, sanno cucinare piatti di cui ignoriamo l'esistenza?
            </p>
            <p>Da qui l'idea che porta a <strong>Ucooki</strong>: permettere a chiunque di condividere le <strong>tradizioni</strong> in <strong>cucina</strong>, in modo semplice e veloce. La <strong>qualità</strong> cucinata da chi la sa fare.
            </p>

            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
