<div class="static-page">
  <!-- End SubHeader ============================================ -->
  <div class="content-enclosure">
    <div class="container margin_60_35">
      <div class="row">

        <div class="box_style_2 col-md-8 col-md-offset-2 text-justify">

          <h3>Condizioni di servizio</h3>

          <p>
            Quelle che seguono sono le condizioni (di seguito “Condizioni”) che regolano la fornitura dei Servizi e l'uso del Sito di Ucooki. L’utente del servizio manifesta la volontà di accettare le Condizioni e s'impegna a rispettarle con uno qualsiasi dei seguenti comportamenti:
            <ol>
              <li>
                approvando le Condizioni registrandosi nel Sito; e/o
              </li>
              <li>
                utilizzando i Servizi; e/o
              </li>
              <li>
                utilizzando il Sito in qualsiasi altro modo.
              </li>
            </ol>
            L’ utente si impegna a non usare i Servizi ed il Sito se non ha accettato le Condizioni ed a leggere con attenzione le Condizioni prima di utilizzare i Servizi od il Sito.
          </p>

          <h3>Definizioni</h3>

          <p>
            <ol>
              <li>
                <strong>Utente</strong>: qualsiasi utilizzatore del servizio
              </li>
              <li>
                <strong>Cuoco</strong>: utente del servizio che decidere di produrre e vendere i propri piatti
              </li>
              <li>
                <strong>Consumatore</strong>: utente che utilizza il servizio per l’acquisto di piatti
              </li>
              <li>
                <strong>Visitatore</strong>: chiunque navighi il sito senza aver effettuato il login
              </li>
              <li>
                <strong>Servizi</strong>: il Servizio Ucooki, il servizio che consente di Pubblicare Contenuti e gli altri servizi eventualmente disponibili sul Sito. Ciascuno dei Servizi sarà anche definito “Servizio”.
              </li>
              <li>
                <strong>Servizio Ucooki</strong>: Servizio accessibile attraverso il Sito che consente agli utenti di ordinare piatti cucinati dai cuochi registrati sul sito di Ucooki.
              </li>
              <li>
                <strong>Sito</strong>: il dominio http://ucooki.com (e tutti i sottodomini di questo) che rende disponibili i Servizi.
              </li>
            </ol>
          </p>

          <h3>Oggetto</h3>
          <p>Ucooki si impegna a mettere a disposizione dell’utente, che intende utilizzarli, i Servizi ed il Sito alle seguenti condizioni e modalità. Il Servizio Ucooki funziona come segue. Ciascun cuoco inserisce Contenuti che descrivono i prodotti in vendita in modo accurato, completo e veritiero indicandone TUTTI gli ingredienti e specificando i giorni e gli orari in cui sono disponili alla produzione ed all’eventuale consegna. Ciascun cuoco promette di rilasciare un feedback a ciascun utente consumatore dei propri piatti, così come ciascun utente consumatore promette di rilasciare un feedback su ciascun prodotto ordinato.

          </p>

          <h3>Uso dei servizi</h3>
          <p>L’Utente si registra seguendo la procedura disponibile sul Sito e, dopo aver accettato queste Condizioni, può utilizzare il Servizio Ucooki nei modi e tempi stabiliti da Ucooki. I Servizi sono gratuiti per tutti gli utenti ma tutti i costi di connessione alla rete Internet del computer dal quale si utilizza i Servizi sono a carico dell’utente stesso. L’utente registrato, attraverso l'Area personale, può variare le opzioni di configurazione del proprio profilo e dei Servizi. Ucooki fa del proprio meglio per far sì che i Servizi siano facilmente utilizzabili con quante più configurazioni di sistema informatico possibili, ma esclude espressamente che i Servizi funzionino su ogni sistema informatico. L’utente è consapevole ed accetta questo limite di funzionalità dei Servizi.
          </p>

          <h3>Registrazione</h3>
          <p>

            Per potersi registrare e per poter utilizzare i Servizi occorre essere maggiorenni ed avere la capacità di concludere un contratto vincolante. Quando si registra l’utente sceglie i Codici d'Accesso, utilizzando i quali può accedere all'Area personale ed usare i Servizi. I Codici d’Accesso dell’utente non sono cedibili a terzi. L’utente deve ricordare lo username e mantenere segreta la password, essendo l’utente responsabile di tutte le attività che vengono poste in essere facendo uso dei suoi Codici d'Accesso. L’utente può (e si impegna a farlo periodicamente) cambiare la password, utilizzando gli strumenti disponibili nell'Area personale. L’utente registrato può usare i Servizi ogni volta che lo desideri quando questi sono disponibili. La procedura di registrazione è conclusa e vincolante per Ucooki solo quando l’utente utilizza il link di attivazione che riceve da parte del team di Ucooki via e-mail e completa la procedura. Se nel corso della procedura di registrazione, o anche in seguito, l’utente rileva degli errori, può scrivere a Ucooki tramite il modulo contatti. Le Condizioni saranno archiviate digitalmente sui server utilizzati per la fruizione del servizio e l’utente potrà accedere ai propri dati di registrazione ed al testo delle Condizioni dal link disponibile in calce alle pagine del Sito. Nessuna delle informazioni contenute nel Sito può essere considerata come offerta dei Servizi ma costituisce un invito ad inoltrare la richiesta di registrazione. L’utente si impegna a:
            <ol>
              <li>
                fornire dati di registrazione veritieri, completi ed aggiornati;
              </li>
              <li>
                aggiornare i propri dati forniti a Ucooki al fine di garantirne costantemente la veridicità, la completezza e l’aggiornamento;
              </li>
              <li>
                comunicare immediatamente a Ucooki qualsiasi perdita di riservatezza della password o qualsiasi uso da parte di terzi dei suoi Codici d’Accesso od eventuali violazioni delle misure di sicurezza previste per i Servizi e per il Sito delle quali abbia conoscenza;
              </li>
              <li>
                chiudere la sessione ogni volta che interrompe l'uso dei Servizi o dell'Area personale;
              </li>
              <li>
                non consentire l’accesso ai Servizi ed al Sito, tramite i propri Codici d'Accesso, a soggetti terzi.
              </li>
            </ol>
            Se l’utente fornisce dati di registrazione od informazioni falsi, inesatti, non aggiornati od incompleti, o se Ucooki ha ragionevole motivo di sospettare che tali dati di registrazione od informazioni siano falsi, inesatti, non aggiornati od incompleti, Ucooki ha facoltà di non attivare, sospendere o terminare l'account di registrazione e rifiutare o negare ogni ulteriore uso dei Servizi all’utente. La persona che si registra in nome e per conto di un ente, garantisce di essere autorizzato ad accettare le presenti Condizioni in nome e per conto dell'ente che rappresenta e che l'ente accetta di indennizzare Ucooki, gli utenti, i Visitatori del Sito od i terzi per qualsiasi violazione delle presenti Condizioni.
          </p>

          <h3>Registrazione dati</h3>
          <p>
            L’utente riconosce ed accetta che Ucooki ha il diritto di memorizzare i dati di registrazione, i log e le altre informazioni relative all'attività dell’utente e di utilizzare i risultati, le statistiche e le analisi di queste operazioni nel rispetto delle norme vigenti. Ucooki ha il diritto di rivelare a terzi le informazioni di cui sopra per adempiere ad obblighi di legge ovvero rispettare ordini provenienti da pubbliche autorità, inclusa l’autorità giudiziaria, ovvero per replicare a contestazioni, ovvero per tutelare i diritti di Ucooki, degli utenti, dei visitatori del Sito e/o dei terzi ai sensi di legge e/o in conformità alle presenti Condizioni.
          </p>

          <h3>Uso dei servizi e del sito: autorizzazione di Ucooki</h3>
          <p>
            Fatto salvo quanto segue, i Contenuti sono di esclusiva proprietà di Ucooki, sono protetti dalle leggi italiane ed internazionali, in particolare da quelle in materia di copyright, e possono essere utilizzati dall’utente allo scopo di navigare il Sito ed utilizzare i Servizi. Ciascun Contenuto che ciascun utente procede a Pubblicare è di proprietà di quell’utente. Per specifici Contenuti possono essere indicati titolari dei diritti e/o regimi d'uso diversi da quelli di cui sopra.
          </p>

          <h3>Uso dei servizi e del sito: dichiarazioni ed obblighi dell’utente</h3>

          <p>
            Il Cuoco dichiara di rispettare le norme applicabili in materia di fornitura alimentare e si impegna ad attenersi agli obblighi di sicurezza, responsabilità, tracciabilità, urgenza, trasparenza, prevenzione e cooperazione di cui al Regolamento CE n. 178/2002 e pertanto si impegna a non realizzare prodotti che, ai sensi delle norme applicabili, gli sarebbe vietato fornire con il Servizio Ucooki. Il Cuoco si impegna, altresì, a fornire un elenco dettagliato delle materie prime e degli ingredienti utilizzati per confezionare il piatto commissionato attraverso la piattaforma Ucooki. Se il Cuoco è un venditore privato riconosce espressamente che realizza prodotti in modo occasionale e non nell’ambito di un’attività di impresa e, comunque, nei limiti imposti dalle norme applicabili. Il Cuoco autorizza Ucooki ad associare messaggi promozionali ed i propri marchi e/o segni distintivi ai Contenuti caricati dal Cuoco pubblicandoli nella stessa pagina web ed autorizza Ucooki ad utilizzare il nome, i marchi ed i segni distintivi del Cuoco in comunicati stampa e messaggi promozionali che hanno lo scopo di promuovere Ucooki ed i propri Servizi. Nell'usare i Servizi ed il Sito l’utente si impegna a:
            <ol>
              <li>
                non nascondere o rendere irriconoscibile l'identità dell’utente o comunque impossibile ricondurre a se i Contenuti che procede a pubblicare;
              </li>
              <li>
                non simulare d'essere Ucooki od altri;
              </li>
              <li>
                non violare intenzionalmente od involontariamente le leggi applicabili in Italia, nel paese in cui si trova l’utente od altre leggi comunque applicabili alle attività che l’utente compie;
              </li>
              <li>
                non danneggiare, limitare od interrompere la funzionalità dei Servizi, dei server o della rete collegata ai Servizi ed al Sito o l'accesso ai Servizi ed al Sito ed il loro uso;
              </li>
              <li>
                non inviare posta elettronica indesiderata o non richiesta;
              </li>
              <li>
                non violare le misure di sicurezza, le procedure, le politiche o le regole della rete collegata ai Servizi, ivi comprese le regole di Netiquette;
              </li>
              <li>
                non accedere, o tentare di accedere, in modo illecito, ai Servizi, al Sito, ai Contenuti e, in generale, ai sistemi informativi utilizzando sistemi di decriptazione, di scansione di risorse di rete, di ricerca di dati di login, od in altro modo che non sia l'uso delle interfacce messe a disposizione del pubblico da Ucooki;
              </li>
              <li>
                non contraffare intestazioni o manipolare in altro modo identificatori (inclusi gli URI) con l'intento di falsificare l'origine di qualsiasi Contenuto trasmesso attraverso i Servizi od il Sito;
              </li>
              <li>
                non compiere attività che violino qualunque rapporto contrattuale, norma di diritto vigente a livello internazionale, nazionale, statale o locale includendo, ma non limitandosi a, tentativi di compromettere la sicurezza di qualsiasi account o sito in rete, intimidazioni o minacce di recare danni alla persona, diffamazione;
              </li>
              <li>
                non raccogliere, memorizzare o comunque trattare dati personali relativi a terzi, a meno che questi abbiano concesso la propria autorizzazione ai sensi di legge.
              </li>
            </ol>
            Se l’utente è un ente garantisce che la persona che utilizza i Servizi od il Sito in nome e per conto di esso si è obbligato a rispettare le presenti Condizioni e l’utente accetta di indennizzare Ucooki, gli altri utentu, i visitatori del Sito od i terzi per qualsiasi violazione delle presenti Condizioni da parte di tale persona.

          </p>

          <h3>Uso dei servizi e del sito: avvisi ed esclusione di responsabilità</h3>
          <p>
            Ucooki gestisce il Sito ed i Servizi e ne controlla il funzionamento dall'Italia e non garantisce che il Sito ed i Servizi siano adatti all'uso od accessibili in qualunque zona geografica. Ucooki userà nella misura ragionevolmente possibile tutte le proprie capacità ed attenzioni per cercare di mantenere la disponibilità del Sito e la funzionalità dei Servizi, anche se non garantisce che il Sito ed i Servizi siano disponibili in ogni momento. In particolare, si esclude espressamente qualsiasi responsabilità per il caso in cui il malfunzionamento dei Servizi o del Sito dipenda da:
            <ol>
              <li>
                uso non autorizzato o non corretto dei Servizi o del Sito;
              </li>
              <li>
                mancato o parziale funzionamento dei computer o delle apparecchiature dell’utente;
              </li>
              <li>
                fatto dipendente dalla responsabilità dei providers o dei gestori delle linee telefoniche;
              </li>
              <li>
                malfunzionamenti della rete Internet o telefonica;
              </li>
              <li>
                in generale, qualsiasi evento non imputabile a Ucooki o ai dipendenti di questo;
              </li>
              <li>
                accesso non autorizzato al sistema informatico di Ucooki da parte dell’utente o da parte di un terzo;
              </li>
              <li>
                cause di forza maggiore o comunque non dipendenti dalla volontà o dalla colpa di Ucooki.
              </li>
            </ol>
            Il Sito contiene link ad altri siti web, ai quali l’utente potrebbe essere reindirizzato. Tali siti web non sono monitorati o controllati dal team di Ucooki e pertanto non ne siamo responsabili.
          </p>

          <h3>Contenuti: autorizzazione dell’utente</h3>

          <p>
            Ucooki si impegna a consentire l'accesso ed a divulgare i Contenuti secondo i parametri di condivisione scelti dall’utente che li procede a Pubblicare. Fer mo quanto sopra, l’utente autorizza irrevocabilmente Ucooki, gli altri utenti e/o i visitatori del Sito ai quali Ucooki ne conceda facoltà ad utilizzare i Contenuti ed ogni loro parte e/o elemento, assieme e/o separatamente, senza restrizione alcuna, in tutto il mondo, in perpetuo e comunque per tutta la durata della protezione legale quale sancita in ogni paese del mondo. A titolo esemplificativo ma non esaustivo, nella suddetta autorizzazione s’intende anche ricompreso il diritto di:
            <ol>
              <li>pubblicare, diffondere, comunicare al pubblico e mettere a disposizione del pubblico in modo che ciascuno possa avervi accesso nel momento e nel luogo scelto individualmente, in tutto od anche solo in parte, con ogni mezzo e/o tecnologia e con qualsiasi modalità (anche interattiva), attualmente noti e/o sviluppati in futuro, i Contenuti attraverso il Sito;
              </li>
              <li>
                ai fini di quanto sopra, riprodurre e modificare i Contenuti in ogni modo o forma per rispettare i vincoli tecnologici imposti dalle modalità di funzionamento del Sito;
              </li>
              <li>
                autorizzare gli altri utenti ed i visitatori del Sito a riprodurre i Contenuti al fine di visualizzarli sui loro terminali utilizzando i Servizi ed il Sito;
              </li>
              <li>
                licenziare i Contenuti secondo i termini di una qualsiasi versione della licenza Creative Commons Attribution-Share Alike (Attribuzione – Condividi allo stesso modo).
              </li>
            </ol>
            I diritti di cui sopra si intendono concessi in via non esclusiva e pertanto l’utente resta legittimato ad utilizzare gli stessi Contenuti in ogni forma e modo.

          </p>

          <h3>Contenuti: dichiarazione</h3>
          <p>
            L’utente dichiara di disporre pienamente e legittimamente di tutti i diritti relativi ai Contenuti (a titolo esemplificativo ma non esaustivo: diritti d’autore, diritti di immagine e/o della personalità in genere, diritti di marchio ed altri diritti di privativa, diritti di tutela della riservatezza, diritti relativi al ritratto ecc.) che procede a Pubblicare ed in particolare di essere pienamente legittimato ad autorizzare l'uso dei Contenuti nei termini di cui alle Condizioni. L’utente dichiara espressamente che là dove egli non sia pienamente titolare dei diritti sui Contenuti che procede a Pubblicare, è stato espressamente autorizzato a disporre dei Contenuti dai terzi titolari di tali diritti ed è dunque pienamente legittimato a rilasciare l’autorizzazione ad usare i Contenuti con l’ampiezza prevista nelle presenti Condizioni. L’utente si impegna a non Pubblicare qualsiasi Contenuto se tale Contenuto e/o il suo utilizzo:
            <ol>
              <li>
                è falso, osceno, pornografico, diffamatorio, od include informazioni razziste, violente, offensive, moleste, od istiga a commettere reati o è comunque illegale in Italia o nel luogo in cui l’utente usa i Servizi od il Sito od in base ad altre leggi comunque applicabili;
              </li>
              <li>
                viola le norme in materia di trattamento dei dati personali o in materia di tutela del segreto industriale e delle informazioni riservate;
              </li>
              <li>
                presuppone il possesso in capo all’utente di autorizzazioni, diritti o requisiti richiesti dalla legge di cui questi non dispone;
              </li>
              <li>
                viola brevetti, marchi, diritti d'autore od altro diritto di terzi;
              </li>
              <li>
                contiene virus informatici o qualsiasi programma o software progettato per interrompere, distruggere, danneggiare od anche solo limitare le funzionalità di qualsiasi software, hardware od apparato di rete o dei Servizi o del Sito stessi;
              </li>
              <li>
                sia in qualunque modo dannoso per Ucooki, per gli utenti, per i visitatori del Sito o per i terzi.
              </li>
            </ol>
            L’utente garantisce la buona qualità dei Contenuti che procede a Pubblicare e l'adeguatezza degli stessi all'uso al quale sono destinati.
          </p>

          <h3>Contenuti: avvisi ed esclusione di responsabilità</h3>

          <p>
            In nessun caso Ucooki sarà ritenuta responsabile dei Contenuti che l’utente procede a Pubblicare incluso, a titolo non esaustivo, il caso in cui si verifichino errori od omissioni nei Contenuti o per la perdita o per il danneggiamento di qualsiasi Contenuto. L’utente riconosce ed accetta che Ucooki realizzerà copie di sicurezza dei Contenuti che l’utente procede a Pubblicare periodicamente e secondo ragionevolezza ma non assume alcuna responsabilità per il rischio di perdita di Contenuti dell’utente. Ucooki non esegue alcun controllo sui Contenuti pubblicati, sebbene Ucooki si riservi il diritto, ove venga a conoscenza del fatto che un Contenuto pubblicato è illecito o comunque lede diritti di terzi, di rimuoverlo dal Sito e cancellarlo. In ogni caso Ucooki si riserva il diritto di modificare od eliminare Contenuti che violino le presenti Condizioni.
          </p>

          <h3>Transazioni: avvisi ed esclusione di responsabilità</h3>

          <p>
            Si esclude espressamente che Ucooki assuma il ruolo di fornitore dei prodotti offerti dai Cuochi. Ucooki non assume il ruolo di agente o di mediatore ma di fornitore di Servizi idonei a consentire la conclusione di Transazioni direttamente tra gli utenti. Ucooki non ha alcuna responsabilità in ordine all'adempimento delle obbligazioni assunte dagli utenti concludendo le Transazioni (consegna, pagamento, garanzia, eventuale diritto di recesso od altro). Ucooki non esegue alcun controllo sull'identità ed affidabilità degli utenti, sulla qualità dei prodotti, sulla corrispondenza al vero e sull'esaustività dei Contenuti inseriti dai Cuochi. L’utente è tenuto ad effettuare opportuni controlli sull'identità ed affidabilità degli altri utenti con i quali conclude Transazioni, sulla qualità dei prodotti offerti dai Cuochi e sulla corrispondenza al vero e sull'esaustività dei Contenuti inseriti dai Cuochi. Ucooki non assume nessun obbligo di promuovere i prodotti, ma fornisce agli utenti strumenti utili a facilitare la loro attività di promozione e comunicazione dei prodotti.
          </p>

          <h3>Manleva</h3>

          <p>
            L’utente si impegna a manlevare e tenere indenne Ucooki, i suoi rappresentanti, amministratori, dipendenti ed i suoi partner commerciali da qualunque richiesta di risarcimento, inclusi ragionevoli onorari legali, che venga formulata da qualsiasi parte terza in conseguenza di attività poste in essere dall’utente utilizzando il Sito od i Servizi o poste in essere da qualunque altra persona che acceda al Sito od ai Servizi utilizzando i Codici d'Accesso dell’utente. Il Cuoco si impegna a tenere indenne e manlevare Ucooki da qualsivoglia richiesta di risarcimento del danno dovesse provenire da terzi in relazione a qualsivoglia comportamento posto in essere in violazione della normativa in materia di legislazione alimentare.
          </p>

          <h3>Garanzia ed assistenza</h3>

          <p>
            Stante la natura gratuita dei Servizi, è esclusa qualsiasi garanzia di buon funzionamento dei Servizi e, per il caso del malfunzionamento di questi, nulla è dovuto da Ucooki all’utente.
          </p>

          <h3>Esclusione di garanzie</h3>

          <p>
            Fatte salve le esplicite garanzie rilasciate ai sensi di queste Condizioni, Ucooki esclude qualunque garanzia, condizione, impegno o dichiarazione di alcun genere, espressa o implicita, di legge o di altra natura o in altro modo correlata ai Servizi od al Sito, ivi comprese, senza alcuna limitazione, qualsivoglia garanzia o condizione implicita di commerciabilità, soddisfacente qualità, idoneità a uno scopo specifico, di conformità o derivante da qualsiasi comportamento, uso o pratica commerciale. In alcuni stati / alcune giurisdizioni non è consentita l'esclusione delle garanzie implicite; pertanto, l'esclusione di cui sopra potrebbe non essere applicabile all’utente, il quale potrebbe pertanto essere titolare di altri diritti stabiliti dalla legge che possono variare da stato a stato o per diverse giurisdizioni. Senza con ciò voler limitare il carattere generale di quanto sopra esposto, Ucooki non garantisce che i Servizi od il Sito soddisfaranno le richieste dell’utente o che il loro funzionamento sarà ininterrotto o privo di errori, né che i difetti presenti nei Servizi e nel Sito verranno corretti.
          </p>

          <h3>Limitazione di responsabilità</h3>
          <p>
            L’utente utilizza i Servizi ed il Sito a proprio rischio. Nella misura massima consentita dalla legge applicabile, in nessun caso Ucooki ovvero le sue parti terze licenzianti e i suoi fornitori o i collaboratori saranno responsabili nei confronti dell’utente, o nei confronti di coloro che avanzano rivendicazioni mediante l’utente, per danni diretti, indiretti, consequenziali, incidentali, speciali o punitivi o per perdita di qualsivoglia tipo, ivi inclusa, senza pretesa di esaustività, perdita di profitti, perdita di contratti, interruzione dell'attività, perdita o corruzione di dati, qualunque ne sia la causa e indipendentemente dal fatto che si verifichi in sede contrattuale o per illecito civile, negligenza inclusa, anche nel caso in cui Ucooki sia stato avvertito della possibilità di tali danni. Nulla in queste Condizioni limiterà la responsabilità di Ucooki per il caso della morte o di un danno alla persona risultante dalla colpa di Ucooki, né limiterà la responsabilità di Ucooki verso l’utente per il fatto risultante dal dolo o dalla colpa grave di Ucooki.
          </p>

          <h3>Modifiche</h3>
          <p>
            L’utente accetta che Ucooki possa modificare queste Condizioni. In questo caso Ucooki ne darà notizia all’utente mediante pubblicazione sul Sito e/o mediante invio d’e-mail alla casella di posta indicata dall’utente al momento della registrazione o successivamente. L’utente, entro cinque giorni dalla comunicazione della modifica, avrà la possibilità di accettare oppure no la nuova versione delle Condizioni modificate. In ogni caso però, continuando ad utilizzare i Servizi ed il Sito, l’utente dimostrerà la sua implicita accettazione delle modifiche apportate. Ucooki si riserva il diritto di sospendere od annullare l'account di registrazione dell’utente e/o di modificare o disconnettere temporaneamente o permanentemente i Servizi (o parte di essi) e/o il Sito dandone comunicazione all’utente con un preavviso di almeno 5 giorni mediante pubblicazione di annuncio sul Sito e/o mediante invio di email alla casella di posta indicata al momento della registrazione o successivamente. Nel caso in cui ricorra una giusta causa (come per esempio per far fronte a problemi di sicurezza, per adempiere ad obblighi di legge ovvero rispettare ordini provenienti da pubbliche autorità, inclusa l’autorità giudiziaria, ovvero per tutelare i diritti di Ucooki o degli utenti ai sensi di legge e/o in conformità alle presenti Condizioni) Ucooki potrà sospendere od annullare l'account di registrazione dell’utente e/o modificare o disconnettere temporaneamente o permanentemente i Servizi (o parte di essi) e/o il Sito anche senza darne preavviso.
          </p>

          <h3>Durata del rapporto</h3>

          <p>
            I Servizi sono attivi a tempo indeterminato a partire dal momento in cui è approvata la registrazione. L’utente può recedere cancellando la sua registrazione in qualsiasi momento. Con la cancellazione della registrazione Ucooki è libero di cancellare tutti i Contenuti eventualmente presenti nell'Area utente.
          </p>

          <h3>Varie</h3>

          <ul>
            <li>
              <h4>(a) Cessione del contratto</h4>
              <p>
                L’utente non potrà cedere o trasferire le presenti Condizioni od alcuno dei diritti, doveri ed obbligazioni dell’utente previsti nelle Condizioni senza il preventivo consenso scritto di Ucooki. Ucooki è autorizzato a cedere il contratto di fornitura dei Servizi concluso con l’utente, con ogni facoltà prevista nelle Condizioni, inclusa l'autorizzazione all'uso dei Contenuti, ad altro soggetto che eroghi servizi simili ai Servizi.
              </p>
            </li>

            <li>
              <h4>(b) Accordo completo</h4>
              <p>
                Queste Condizioni sostituiscono qualsiasi precedente accordo, sia scritto che verbale, precedentemente intervenuto tra Ucooki e l’utente ed avente ad oggetto la materia di cui alle presenti Condizioni (salvo il caso di false dichiarazioni fatte con dolo o colpa grave).
              </p>
            </li>


            <li>
              <h4>(c) Comunicazioni</h4>
              <p>
                Le comunicazioni a Ucooki dovranno essere fatte all'indirizzo di Ucooki disponibile nell'Area Contatti. L’utente potrà anche utilizzare i recapiti email disponibili nell'Area Contatti. Le comunicazioni all’utente potranno essere effettuate:
                <ol>
                  <li>
                    via posta ordinaria all'indirizzo da questi indicato al momento della registrazione o successivamente,
                  </li>
                  <li>
                    via email alla casella di posta elettronica indicata dall’utente, o mediante pubblicazione sul Sito.
                  </li>
                </ol>
                Data la natura del servizio di posta elettronica, Ucooki non garantisce la consegna di ogni comunicazione di posta elettronica. Le comunicazioni pubblicate sul Sito si intendono ricevute quando l’utente, accedendo all'Area utente dopo la loro pubblicazione, le visualizza sul proprio computer in base alla procedura predisposta da Ucooki che ne impone la visualizzazione.
              </p>
            </li>


            <li>
              <h4>(d) Soluzione delle controversie, legge, giurisdizione e competenza</h4>
              <p>
                In caso di controversia, l’utente può rivolgersi all'autorità giudiziaria ordinaria. Queste Condizioni devono essere interpretate, valutate, e fatte osservare in tutti i sensi secondo il diritto Italiano.
              </p>
            </li>

            <li>
              <h4>(e) Tolleranza</h4>
              <p>
                Il fatto che Ucooki non esiga che l’utente si attenga tassativamente ed in ogni momento alle disposizioni delle presenti Condizioni e/o non eserciti uno o più dei diritti quivi sanciti, non comporta la decadenza da tali diritti o la rinuncia all’esercizio degli stessi da parte di Ucooki.
              </p>
            </li>

            <li>
              <h4>(f) Integrazione</h4>
              <p>
                Qualora una o più clausole delle presenti Condizioni fossero o divenissero contrarie a norme giuridiche imperative o di ordine pubblico, esse saranno considerate come non apposte e non incideranno sulla validità delle altre clausole delle Condizioni, fatto salvo il diritto di ciascuna parte di chiedere una modifica delle stesse Condizioni.
              </p>
            </li>

            <li>
              <h4>(g) Riferimenti</h4>
              <p>
                L’utente riconosce che le Condizioni rispettano le disposizioni di cui agli artt. 50-61 (contratti a distanza) del D. Lgs 231/206 (Codice del Consumo).
              </p>
            </li>

          </ul>


          <h6>Bologna, 1/9/2015</h6>




        </div>

      </div>


    </div>

  </div>

</div>
</div>
