<div class="checkout" ng-controller="CheckoutCtrl">
  <!-- SubHeader =============================================== -->
  <section id="short" class="parallax-window bkg-parallax bkg-checkout">
    <div id="subheader" class="vertical-gradient">
      <div id="sub_content">
        <h1>Il tuo Carrello</h1>
        <!-- End bs-wizard -->
      </div>
      <!-- End sub_content -->
    </div>
    <!-- End subheader -->
  </section>
  <!-- End section -->
  <!-- End SubHeader ============================================ -->


  <div id="position">
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li>Gestione</li>
        <li>Carrello</li>
      </ul>
    </div>
  </div>
  <!-- Position -->

  <!-- Content ================================================== -->
  <div class="content-enclosure">
    <div class="container margin_60_35">
      <div id="container_pin">
        <div class="row">

          <div class="col-md-3">

            <div class="box_style_2 hidden-xs info">
              <h4 class="nomargin_top">Conferma Ordine <i class="icon_clock_alt pull-right"></i></h4>
              <p>
                Dopo aver inviato la richiesta <b>aspetta la conferma</b> del cuoco.
                <span class="block">Fino ad allora puoi cancellare l'ordine dalla tua <a ui-sref="dashboard.orders">dashboard</a>.</span>
              </p>
              <hr>
              <h4>Pagamento <i class="icon_creditcard pull-right"></i></h4>
              <p>
                Una volta accettato l'ordine attendi che il piatto (o i piatti) sia pronto e al momento della consegna
                potrai pagare direttamente il cuoco.
              </p>
            </div>
            <!-- End box_style_1 -->

          </div>
          <!-- End col-md-3 -->

          <div id="checkout-container" class="col-md-8">
            <div class="box_style_2" id="order_process">
              <h2 ng-if="cart.orders.length > 0" class="inner">Ordine: ultimo passaggio<i
                class="icon_cart_alt pull-right"></i></h2>
              <h2 ng-if="cart.orders.length <= 0" class="inner">Gestione Ordini<i class="icon_cart_alt pull-right"></i>
              </h2>

              <div>

                <div class="loading-container">
                  <loading ng-class="{'no-run' : !loading}" is-loading="loading"></loading>
                </div>

                <div ng-if="orderSent" class="text-center">
                  <h3>Richiesta Inviata</h3>
                  <div class="alert alert-success" role="alert">
                    <p>La tua richiesta è stata inviata al cuoco, <b>ora devi solo aspettare</b> che il cuoco
                      <b>accetti</b> o
                      <b>rifiuti</b> la tua richiesta.</p>
                    <p>Ti <b>invieremo un sms e un'email</b> non appena l'ordine verrà gestito.</p>
                  </div>
                  <div class="alert alert-info" role="alert">
                    <p>Ricorda che puoi <b>controllare</b> e <b>gestire</b> lo stato dei tuoi ordini, in qualsiasi momento, direttamente dalla
                      tua <a ui-sref="dashboard.orders">dashboard</a>.</p>
                  </div>
                </div>

                <div ng-if="!orderSent && cart.orders.length <= 0" class="text-center">
                  <h3 class="nomargin_top"> Il tuo carrello è vuoto </h3>
                  <p> Puoi controllare lo stato dei tuoi ordini in qualsiasi momento accedendo alla tua <a
                    ui-sref="dashboard.orders">dashboard</a>.</p>
                </div>

                <div ng-if="!orderSent" ng-repeat="order in cart.orders track by $index">
                  <div ng-repeat="item in order.items track by $index">
                    <div id="cart_box" class="panel clearfix">
                      <h3>{{item.product.name}}<i class="icon-food-1 pull-right"></i></h3>
                      <div class="panel-body">
                        <div class="row">
                          <div class="product-image col-md-4" ng-repeat="picture in item.product._pictures"
                               style="background-image: url({{::picture.url | cloudinaryResize:'h_120'}});"
                               ng-if="picture.principal || !item.product._pictures.length"></div>

                          <div class="panel-body-text col-md-8">
                            <div class="row">
                              <h4>Piatto: <a ui-sref="shop({productId: item.product.id})">{{item.product.name}}</a></h4>
                            </div>
                            <div ng-if="item.product.sale_type == 0">
                              <div class="row">
                                <h4>Costo complessivo: {{item.price}} €</h4>
                              </div>
                              <div class="row">
                                <h5 style="margin:0">Porzioni: {{item.quantity}}</h5>
                              </div>
                            </div>
                            <div ng-if="item.product.sale_type == 1">
                              <div class="row">
                                <h4>Costo: {{item.price | currency}}</h4>
                              </div>
                              <div class="row">
                                <h5 style="margin:0">Prodotto venduto a peso</h5>
                              </div>
                            </div>
                            <div class="row" ng-if="item.note">
                              Nota: {{item.note}}
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="pull-right">
                        <button type="button" class="btn btn-danger btn-sm"
                                ng-click="deleteItem($parent.$index, $index)">
                          <i class="icon-cancel-6"></i> Elimina
                        </button>
                      </div>

                    </div>
                  </div>

                  <div ng-if="order.delivery">

                    <div ng-if="order.location">
                      <div class="alert alert-info payment_box clearfix" role="alert">
                        <h5>Quando:</h5>
                        <h4><strong>{{ order.delivery_date | date:"d MMM 'alle' HH:mm"}}</strong></h4>
                        <h5>Modalit&#224;:</h5>
                        <h4><strong>Consegna a domicilio</strong></h4>
                        <h5>Dove:</h5>

                        <div ng-if="order.location" class="address">
                          <span class="block">indirizzo: <strong>{{order.location.address}}</strong></span>
                          <span class="block">numero: <strong>{{order.location.street_number}}</strong></span>
                          <span class="block" ng-if="order.location.note">note: <strong>{{order.location.note}}</strong></span>
                        </div>
                        <h5>Consegna:</h5>
                        <h4 ng-if="order.delivery_price > 0"><strong>{{order.delivery_price | currency}}</strong></h4>
                        <h4 ng-if="order.delivery_price <= 0"><strong>Gratuita</strong></h4>
                        <div class="pull-right">
                          <button type="button" class="btn btn-info btn-sm" ng-click="addAddress(0)">
                            <i class="icon_pencil"></i> Modifica Indirizzo
                          </button>
                        </div>
                      </div>

                    </div>


                  </div>

                  <div ng-if="!order.delivery">
                    <div class="alert alert-info payment_box clearfix" role="alert">
                      <h5>Quando:</h5>
                      <h4><strong>{{ order.delivery_date | date:"d MMM 'alle' HH:mm"}}</strong></h4>
                      <h5>Modalit&#224;:</h5>
                      <h4><strong>Ritiro presso il cuoco</strong></h4>
                      <h5>Dove:</h5>
                      <div ng-if="order.location" class="address">
                        <span class="block">indirizzo: <strong>{{order.location.address}}</strong></span>
                        <span class="block">numero: <strong>{{order.location.street_number}}</strong></span>
                        <span class="block"
                              ng-if="order.location.note">note: <strong>{{order.location.note}}</strong></span>
                      </div>
                      <h5>Consegna:</h5>
                      <h4 ng-if="order.delivery_price > 0"><strong>{{order.delivery_price | currency}}</strong></h4>
                      <h4 ng-if="order.delivery_price <= 0"><strong>Gratuita</strong></h4>
                    </div>

                  </div>

                  <div ng-if="user.phone">
                    <div class="alert alert-info phone_box clearfix" role="alert">
                      <h5>Telefono:</h5>
                      <span class="block">Numero visibile <strong>SOLO</strong> al cuoco, il quale potrà chiamarti in caso di emergenza</span>
                      <h4><strong>{{user.phone}}</strong></h4>
                      <div class="pull-right">
                        <button type="button" class="btn btn-info btn-sm" ng-click="addPhone()">
                          <i class="icon_pencil"></i> Modifica Numero
                        </button>
                      </div>
                    </div>

                  </div>

                  <div class="loading-container">
                    <loading ng-class="{'no-run' : !loadingCoupon}" is-loading="loadingCoupon"></loading>
                  </div>

                  <div id="coupon-container" class="text-center">

                    <form class="form" ng-if="!coupon">
                      <div class="form-group">
                        <label for="code">Se hai un coupon inseriscilo qui</label>
                        <div class="form-inline">
                          <input type="text" class="form-control" id="code" placeholder="inserisci il tuo coupon"
                                 ng-model="code">
                          <button type="submit" class="btn btn-primary" ng-click="useCoupon(code)">USA COUPON</button>
                        </div>
                      </div>
                    </form>

                    <div ng-if="coupon">
                      <p>Compimenti, hai ottenuto uno sconto del <span>{{coupon.discount}}%</span>!</p>
                    </div>

                  </div>


                  <div>
                    <div class="alert text-right payment_select" role="alert">
                      <h4>Totale: <strong>{{order.total | currency}}</strong></h4>
                      <h5 ng-if="order._coupon">Hai risparmiato:
                        <span>{{order.total_grass - order.total | currency}}</span></h5>
                    </div>

                    <div class="loading-container">
                      <loading ng-class="{'no-run' : !numberLoading}" is-loading="numberLoading"></loading>
                    </div>


                    <div ng-if="!user.phone">
                      <div class="text-right clearfix">
                        <button id="btn-add-phone" type="button" class="btn_full btn_big" ng-click="addPhone()">
                          Aggiungi Telefono
                        </button>
                      </div>
                    </div>

                    <div ng-if="order.delivery && !order.location">
                      <div class="text-right clearfix">
                        <button id="btn-add-address" type="button" class="btn_full btn_big" ng-click="addAddress(0)">
                          Aggiungi Indirizzo
                        </button>
                      </div>
                    </div>


                    <div class="text-right clearfix">
                      <button id="btn-order-confirm" type="button" class="btn_full btn_big" ng-click="confirmOrder()"
                              ng-disabled="!order.location || !user.phone">
                        Conferma Ordine <i ng-if="!order.location || !user.phone" class="u-font u-icon-question"
                                           uib-popover="{{getAlertMessage(order)}}" popover-trigger="mouseenter"
                                           popover-append-to-body="true"></i>
                      </button>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <!-- End box_style_1 -->
          </div>
          <!-- End col-md-6 -->

        </div>
        <!-- End row -->
      </div>
      <!-- End container pin -->
    </div>
  </div>
  <!-- End container -->
  <!-- End Content =============================================== -->

</div>
