<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal">
      <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
      <fieldset>
        <div class="btn-group-center">
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="item.delivery" uib-btn-radio="false" uib-tooltip="Ritiri il piatto a casa del cuoco" tooltip-popup-delay="500">Ritiro</label>
            <label ng-disabled="!product.delivery" class="btn btn-primary" ng-model="item.delivery" uib-btn-radio="true" ng-change="checkDeliveryDistance()" uib-tooltip="{{getTooltip('delivery')}}" tooltip-popup-delay="500">Consegna</label>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label class="col-md-3 control-label">
              <span ng-if="!item.delivery">Ritiro:</span>
              <span ng-if="item.delivery">Consegna:</span>
            </label>
              <div class="col-md-6 input-group" id="deliverycalendar">
                <input ng-model="item.delivery_date" type="text" is-open="datePickers.deliveryOpened" datepicker-options="dateOptions" class="form-control" uib-datepicker-popup="dd/MM/yyyy" date-disabled="calculateDisabledDate(date, mode)" min-date="minDate" max-date="maxDate" ng-change="dateSelected(item.delivery_date)" ng-readonly="true" show-button-bar="false" close-text="Close" />
              <span class="input-group-btn">
              	<button
						type="button"
                        class="btn btn-default"
                        ng-click="showDeliveryDatePicker()">
                        <i class="glyphicon glyphicon-calendar"></i>
              	</button>
              </span>
              </div>
              <div class="col-md-6 col-md-offset-3" style="margin-top:5px;padding-left: 0;">
                  <select class="form-control" ng-if="item.delivery_date" ng-model="data.meal" ng-change="mealSelected()">
                        <option value="0">Seleziona pasto...</option>
                        <option ng-if="isLunchAvailable(item.delivery_date)" value="lunch">Pranzo</option>
                        <option ng-if="isDinnerAvailable(item.delivery_date)" value="dinner">Cena</option>
                  </select>
              </div>
              <div class="col-md-6 col-md-offset-3" style="margin-top:5px;padding-left: 0;">
                <span ng-if="item.delivery_date && data.meal !== '0'" uib-dropdown>
					<button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="disabled">{{getCurrentTimeRange() | hour}} <span class="caret"></span></button>
                <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                  <li ng-repeat="slot in timeSlots">
                    <a ng-click="slotSelected(slot)" href="">{{slot | hour}}</a>
                  </li>
                </ul>
                </span>
              </div>
            </div>

          </div>
        <div class="row">
          <div class="form-group">
            <label class="col-md-3 control-label">Note:</label>
              <div class="col-md-8 col-sm-12 form-group">
                <textarea ng-model="item.note" class="form-control" rows="3"></textarea>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
