<div class="cooker_box">
  <a ui-sref="{{link}}">
    <div class="center-absolute">
      <div style="position: relative; left: -50%;" class="center-relative">
        <div class="img-circle-container"></div>
      </div>
    </div>
  </a>
  <div class="title">
    <a ui-sref="{{link}}"><h2>{{::productor.name}}</h2></a>
    <div class="rating" ng-model="productor.productor_info.rate" readonly="true" aria-labelledby="default-rating">
      <i class="icon_star" ng-class="{voted : productor.productor_info.rate >= 1}"></i>
      <i class="icon_star" ng-class="{voted : productor.productor_info.rate >= 2}"></i>
      <i class="icon_star" ng-class="{voted : productor.productor_info.rate >= 3}"></i>
      <i class="icon_star" ng-class="{voted : productor.productor_info.rate >= 4}"></i>
      <i class="icon_star" ng-class="{voted : productor.productor_info.rate >= 5}"></i>
    </div>
    <a ui-sref="{{link}}">
      <p class="second_title">{{::productor.productor_info.product_count}} Piatti</p>
    </a>
    <div ng-class="{invisible : !productor.productor_info.certificated}">
      <a ui-sref="{{link}}">
        <p class="certification" uib-tooltip="Il cuoco ha ottenuto la certificazione HACCP" tooltip-placement="top-left">Cuoco certificato</p>
      </a>
			<i class="u-font u-icon-certificate2" uib-tooltip="Il cuoco ha ottenuto la certificazione HACCP" tooltip-append-to-body="true" tooltip-placement="top"></i>
    </div>
  </div>
  <h3>Descrizione</h3>
  <a ui-sref="{{link}}">
    <div ng-if="productor.description" class="description correct-break-word">
      {{productor.description}}
    </div>
    <div ng-if="!productor.description" class="description correct-break-word">
      - Nessuna descrizione -
    </div>
  </a>
  <div>
    <button ui-sref="{{link}}" class="btn_full third_color">VAI AI PIATTI</button>
  </div>
</div>
