.checkout {
  .bkg-checkout {
    background-image: url("../img/spezie.jpg");
  }
  #cart_box {
    h3 {
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .panel-body {
    padding: 10px 10px;
    .product-image {
      width: 120px;
      height: 120px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      margin-bottom: 20px;
      margin-left: 20px;
      border-radius: 5px;
    }
    .panel-body-text {
      margin-left: 20px;
    }
  }
  a {
    &:hover {
      color: black;
    }
  }
  #coupon-container {
    margin: 30px;
    label {
      margin-right: 10px;
      font-weight: 400;
      font-size: 16px;
    }
    input {
      height: 34px;
    }
    p {
      font-size: 20px;
      span {
        color: @green-text;
        font-weight: 600;
      }
    }
  }
  .payment_box {
    padding: 15px 15px 10px 15px;
    margin-bottom: 20px;
    border-radius: 3px;
    h5 {
      margin-bottom: 2px;
    }
  }
  .payment_select {
    h5 {
      span {
        font-weight: 600;
        color: @green-text;
      }
    }
  }
}
