.customer {
  #sub_content {
    h1 {
      font-size: 2.5em;
    }
    em {
      font-size: 1.2em;
    }
    .certificated {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 8px;
    }
  }
  .bkg-customer {
    background-image: url("../img/mestoli.jpg");
  }
  #map {
    height: auto;
  }
  .box_style_2 {
    h2 {
      font-size: 45px;
    }
    p {
      font-size: 20px;
      font-weight: 200;
    }
  }
  .cooker-info {
    .certification {
      i {
        font-size: 70px;
        color: grey;
      }
      img {
        height: 100px;
      }
      p {
        margin-top: 20px;
				font-size: 15px;
      }
    }
  }
  #summary_review {
    background: white;
    .review_strip_single {
      img {
        width: 75px;
      }
      .rating {
        display: inline-block;
      }
    }
  }
}
