.dashboard .navbar {
  background: #000;
  z-index: 100000;
  border-width: 0 0 1px;
  position: fixed;
}

.dashboard {
  padding-top: 51px;
  position: relative;
  background: #fff;
  margin-bottom: 100px;
}

.dashboard #at4-share, .dashboard #at-share-dock {
  display: none !important;
}

.dashboard .content {
  display: flex;
}

.dashboard .checkbox label:before {
  border-color: @accent-color;
}

.checkbox label:after {
  background: @secondary-color;
}

.dashboard .checkbox label span {
  color: #7C7C7C;
  font-weight: bold;
  &.text-alert {
    color: @accent-color;
  }
}

/* dahboard sidenav */

.dashboard .sidenav {
  background: #fff;
  padding: 45px 15px 15px 15px;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 0px solid #f8f8f8;
}

.dashboard .sidenav .head {
  float: left;
  padding: 5px 10px;
  color: #FF6868;
  background: #FDDADA;
  border-radius: 5px;
  width: 102px;
  font-weight: 600;
  font-size: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  max-width: auto;
  min-width: 0;
  box-sizing: border-box;
}

.dashboard .sidenav .btn-group-vertical {
  width: 100%;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.dashboard .sidenav .btn-group-vertical .btn {
  border-radius: 0;
  border: none;
  padding: 15px 15px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #7C7C7C;
  background: #fff;
  border-bottom: 1px solid #eee;
  margin-top: 0;
}

.dashboard .sidenav .btn-group-vertical .btn:hover {
  background: #fff;
  border-bottom: 1px solid #eee;
}

.dashboard .sidenav .btn-group-vertical .btn:last-child {
}

.dashboard .sidenav .btn-group-vertical .btn.active {
  box-shadow: none;
  color: #FF6868;
  background: #fff;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

/* dahboard detail */

.dashboard .detail {
  background: #fff;
  padding: 15px 30px 15px 0;
}

.dashboard .personal-info .alert {
  margin-top: 15px;
}

.dashboard .personal-info .image-preview {
  width: 100%;
  text-align: center;
  padding-bottom: 75%;
  position: relative;
  margin: 0;
  border: none;
}

.dashboard .personal-info .image-preview img {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.dashboard .personal-info .btn-remove-pic {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
  border: none;
  z-index: 1;
}

.dashboard .personal-info .row.with-image-upload {
  padding-left: 230px;
  position: relative;
}

.dashboard .personal-info .image-upload {
  width: 200px;
  height: 200px;
  position: absolute;
}

.dashboard .personal-info .image-upload #direct-upload {
}

.dashboard .personal-info .image-upload.left-side {
  position: absolute;
  left: 15px;
  top: 0px;
}

.dashboard .personal-info .image-alert {
  border: none;
  padding-top: 0;
  padding-bottom: 0px;
  background: rgba(237, 28, 36, 0.2);
  width: 200px;
  height: 200px;
  left: 15px;
  top: 0px;
  position: absolute;
}

.dashboard .personal-info .image-alert img {
  margin-left: -15px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-bottom: 0;
  padding: 0;
  opacity: 0.5;
  z-index: 0;
  position: absolute;
  width: 100%;
}

.dashboard .personal-info .image-alert .title {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: 9;
  color: rgba(0, 0, 0, 0.7);
}

.dashboard .personal-info .image-alert .btn-group {
  margin: 0 auto;
  left: 65px;
  position: absolute;
  display: block;
  text-align: center;
  bottom: 10px;
}

.dashboard .personal-info .image-alert .btn {
  border: none;
  background: rgba(0, 0, 0, 0.5);
}

/* PICTURES */

.dashboard .pictures .image-upload {
  width: 200px;
  height: 200px;
}

.dashboard .pictures .image-alert {
  border: none;
  padding-top: 0;
  padding-bottom: 0px;
  background: rgba(237, 28, 36, 0.2);
  width: 200px;
  height: 200px;
  left: 15px;
  top: 15px;
  position: absolute;
}

.dashboard .pictures .image-alert img {
  margin-left: -15px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-bottom: 0;
  padding: 0;
  opacity: 0.5;
  z-index: 0;
  position: absolute;
  width: 100%;
}

.dashboard .pictures .image-alert .title {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: 9;
  color: rgba(0, 0, 0, 0.7);
}

.dashboard .pictures .image-alert .btn-group {
  margin: 0 auto;
  left: 32px;
  position: absolute;
  display: block;
  text-align: center;
  bottom: 10px;
}

.dashboard .pictures .image-alert .btn {
  border: none;
  background: rgba(0, 0, 0, 0.5);
}

/* */

#direct-upload {
  background: url(../img/upload_eater.png) center center no-repeat !important;
  background-size: cover !important;
  height: 100%;
  width: 100%;
  padding-bottom: 75%;
}

#direct-upload.food {
  background: url(../img/upload_food.png) 50% 30% no-repeat !important;
  background-size: contain !important;
  height: 100%;
}

.dashboard .uploading-pic {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.5);
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  height: auto;
  min-height: auto;
}

.dashboard .uploading-pic h4 {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

/* dahboard box */

.dashboard .box {
  padding: 15px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  margin: 15px 0 -20px;
  border: 0px solid #f8f8f8;
  box-sizing: border-box;
  color: #7C7C7C;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  a:hover {
    color: grey;
  }
}

.dashboard .box .head {
  background: #FF6868;
  margin: -15px -15px 0px;
  padding: 20px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 18px;
  position: relative;
  color: #fff;
  height: 64px;
}

.dashboard .box .head .title {
  float: left;
  margin-right: 30px;
}

.dashboard .box .head .btn {
  position: relative;
  float: right;
  padding: 8px 15px;
  font-size: 13px;
  font-weight: 500;
  margin-left: 5px;
  text-transform: uppercase;
  background: #ddd;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  margin-top: -4px;
  border: none;
}

.dashboard .box .head .tab {
  position: relative;
  float: left;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background: #FF6868;
  margin-top: -20px;
  border: none;
  height: 64px;
  margin-left: 0;
  margin-right: 1px;
  padding: 23px 25px;
  border-radius: 0;
}

.dashboard .box .head .tab.selected {
  background: rgba(0, 0, 0, 0.3);
}

.dashboard .box .head .tab .badge {
  margin-left: 5px;
  background: rgba(0, 0, 0, 0.4);
}

.dashboard .box .head .btn-save.on {
  background: #8CD753;
}

.dashboard .box .head .btn-save.clear {
  background: rgba(0, 0, 0, 0.4);
}

.dashboard .box .body {
  position: relative;
  padding: 15px;
}

.dashboard .box .foot {
  background: #fff;
  margin: 0px -15px 0px -15px;
  padding: 20px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 14px;
  height: 60px;
  position: relative;
  color: #7C7C7C;
}

.dashboard .box .foot button {
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 10px;
}

.dashboard .box .input-row {
  display: block;
  clear: both;
  padding: 10px 0;
}

.dashboard .box .input-row label {
  color: #7C7C7C;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.dashboard .box .input-row input, .dashboard .box .input-row textarea {
  background: #f8f8f8;
  font-weight: 500;
  font-size: 14px;
}

.dashboard .box .address {
  border: 1px solid #D2D2D2;
  border-radius: 2px;
  padding: 6px 12px;
  color: @primary-color;
}

/* dashboard orders */

.dashboard .orders {
  margin: 15px 0;
}

.dashboard .orders .nav-tabs {
  border-bottom: 0;
  margin-bottom: 0px;
  background: #fff;
  border-bottom: 0px solid #f8f8f8;
}

.dashboard .orders .nav-tabs > li {
  border: 0 !important;
  background: transparent;
  border-radius: 0;
}

.dashboard .orders .nav-tabs > li a {
  background: transparent;
  border-radius: 0;
  border: none !important;
  font-size: 14px;
  font-weight: bold;
  color: #7C7C7C;
  padding: 18px 15px;
  position: relative;
  display: block;
}

.dashboard .orders .nav-tabs > li a:hover, .dashboard .orders .nav-tabs > li a:focus {
  border: none;
}

.dashboard .orders .nav-tabs > li.active a {
  background: #FDDADA;
  border: none !important;
  color: #FF6868;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.dashboard .orders .nav-tabs li .icon {
  margin-right: 5px;
}

.dashboard .orders .nav-tabs li .badge {
  margin-left: 5px;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 3px;
  padding-bottom: 3px;
}

.dashboard .orders .tab-content {
  border: 1px solid #f8f8f8;
}

.dashboard uib-accordion .panel-group {
  margin: 20px;
}

.dashboard .orders .important-orders {
  border-bottom: 1px solid lightgray;
}

.dashboard .orders .panel {
  position: relative;
  margin-bottom: 10px;
}

.dashboard .orders .panel .panel-title a {
  color: inherit !important;
  display: inline-block;
  width: 100%;
}

.dashboard .orders .panel .list-group {
  margin: 0;
  border: 0;
  border-bottom: 0px solid #eee;
}

.dashboard .orders .panel .refusal {
  margin: 0 -30px;
  padding: 0 30px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
}

.dashboard .orders .panel .panel-body {
  background-color: #F3F3F3;
}

.dashboard .orders .panel textarea.form-control {
  margin-bottom: 15px;
}

.dashboard .orders .panel.panel-info {
  border-color: #FDF3C1;
}

.dashboard .orders .panel.panel-info .panel-title a {
  color: #5D583F !important;
}

.dashboard .orders .panel.panel-info .panel-heading {
  background: #FDF3C1;
  min-height: 110px;
  //height: 110px;
}

.dashboard .orders .panel.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border: none;
}

.dashboard .orders .panel.panel-primary .panel-heading {
  background: #47BBF3;
}

/* PRODUCTS */

// .dashboard .products .image-preview {
//   margin: 0;
// }
// .dashboard .products .strip_list.grid .thumb_strip {}
/* new-product */

.dashboard .new-product {
}

.dashboard .new-product .pictures-wrapper {
  margin-bottom: 30px;
}

.dashboard .new-product .pictures .image-alert {
  border: none;
  padding-top: 0;
  padding-bottom: 0px;
  background: rgba(237, 28, 36, 0.2);
  width: 100%;
  height: 250px;
  min-height: 250px;
  left: 0px;
  top: 0px;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.dashboard .new-product .pictures .image-alert img {
  margin-left: -15px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 0;
  padding: 0;
  opacity: 0.5;
  z-index: 0;
  position: absolute;
  width: 100%;
}

.dashboard .new-product .pictures .image-alert .title {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  position: relative;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: 9;
  color: rgba(0, 0, 0, 0.7);
}

.dashboard .new-product .pictures .image-alert .btn-group {
  margin: 0 auto;
  left: 32px;
  position: absolute;
  display: block;
  text-align: center;
  bottom: 10px;
}

.dashboard .new-product .pictures .image-alert .btn {
  border: none;
  background: rgba(0, 0, 0, 0.5);
}

.dashboard .new-product .pictures .image-upload {
  width: 100%;
  height: 100%;
}

.dashboard .new-product .pictures .image-alert img {
  margin-left: -15px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-bottom: 0;
  padding: 0;
  opacity: 0.5;
  z-index: 0;
  position: absolute;
  width: 100%;
}

.dashboard .new-product .btn {
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
    color: white;
  }
}

.dashboard .new-product .pictures-wrapper {
  float: left;
  width: 100%;
  position: relative;
}

.dashboard .new-product .pictures {
  padding: 15px 15px;
}

.dashboard .new-product .pictures-wrapper h1 {
  position: relative;
  z-index: 9;
}

.dashboard .new-product .pictures .image-alert .title {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: 9;
  color: rgba(0, 0, 0, 0.7);
}

.dashboard .new-product .pictures .image-alert .btn-group {
  margin: 0 auto;
  left: 32px;
  position: absolute;
  display: block;
  text-align: center;
  bottom: 10px;
}

.dashboard .new-product .pictures .image-alert .btn {
  border: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.dashboard .new-product .pictures .image-upload {
  box-sizing: border-box;
  width: 100%;
}

.dashboard .new-product .pictures .image-upload #direct-upload {
  margin: 0;
  width: 100%;
}

.dashboard .new-product .pictures .image-preview {
  margin: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.dashboard .new-product .pictures .image-preview img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.dashboard .new-product .pictures .image-preview .btn {
  z-index: 1;
  position: relative;
}

.dashboard .new-product .pictures .image-preview .main-pict-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 12px;
}

.dashboard .new-product .pictures .image-preview .main-pict {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.50);
  padding: 5px;
}

//    .dashboard .new-product .pictures .progress-bar {
//      position: absolute;
//      left: 10px;
//      bottom: 10px;
//      z-index: 9999999999999;
//      width: 100%;
//    }
.dashboard .new-product .ingredients h1 {
  clear: both;
  display: block;
  width: 100%;
}

.dashboard .new-product .ingredients .panel {
  border: none;
  border-bottom: 1px solid #ddd;
  background: #eee;
  padding: 0 !important;
  margin-bottom: 5px;
}

.dashboard .new-product .ingredients label {
  font-size: 16px;
}

.dashboard .new-product .ingredients .btn-small {
  padding: 3px 7px;
  font-size: 12px;
}

.dashboard .new-product .ingredients .panel .panel-body {
  padding: 15px;
  border: none;
}

.dashboard .new-product .ingredients .panel .panel-body input, .dashboard .new-product .ingredients .panel .panel-body textarea {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dashboard .new-product .time-table .btn-default {
  background-color: #ddd;
  color: rgba(0, 0, 0, 0.2);
}

// .dashboard {
//   .products {
//     .product-item {
//       margin-bottom: 20px;
//       .odd, .even {
//         padding: 5px;
//       }
//       .odd {
//         background-color: #efefef;
//       }
//     }
//     .image-preview {
//       margin: 0;
//     }
//   }
// }
.dashboard .table-responsive {
  overflow: visible;
}

.dashboard footer {
  display: none;
}

@media (max-width: 768px) {
  .dashboard .detail {
    padding: 15px 15px 15px 15px;
  }
}

/***** LESS *****/

.dashboard {

  a.facebook {
    background-color: @facebook !important;
  }

  .personal-info {
    #picture {
      padding-top: 15px;
    }
    .delete-account {
      margin-top: 40px;
      font-size: 12px;
      border-top: 1px solid lightgray;
      padding: 5px 0px;
      a, a:hover, a:visited, a:link {
        color: grey;
      }
    }
    #cooker-container {
      #map {
        border: none;
      }
    }
  }
  .new-product {
    #ingredient-alert {
      font-size: 18px;
    }
    .tags {
      span.ui-select-match-item {
        background-color: @secondary-color;
        color: white;
      }
    }
  }
  .orders {
    .old-orders > .panel-heading {
      background-color: #C5C5C5;
      color: white;
      text-align: center;
      min-height: 70px !important;
      height: 70px !important;
      span {
        font-size: 16px;
      }
    }
    .panel {
      .panel-heading {
        padding: 25px 15px;
        min-height: 110px;
        //height: 110px;
        .title {
          display: block;
          width: 100%;
          max-height: 46px;
          text-overflow: ellipsis;
          padding-left: 50px;
          padding-right: 50px;
          top: 10px;
          position: relative;
          line-height: 20px;
        }
        .arrow {
          position: absolute;
          top: 45px;
          right: 20px;
        }
        .status-icon {
          font-size: 24px;
          top: 20px;
        }
        .status {
          background: rgba(0, 0, 0, 0.3);
          color: #fff;
          padding: 2px 5px;
          border-radius: 5px;
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 13px;
        }
        .time {
          font-size: 12px;
          margin-right: 15px;
          position: absolute;
          top: 37px;
          left: 67px;
          i {
            margin-right: 5px;
          }
        }
        timer {
          display: block;
          width: 100%;
          max-height: 46px;
          text-overflow: ellipsis;
          padding-left: 50px;
          top: 14px;
          position: relative;
          font-size: 14px;
          span.counter-text {
            background-color: @secondary-color;
            color: white;
            padding: 0px 5px;
          }
        }
      }
      .panel-body {
        padding: 20px;
        background-color: #F3F3F3;
        button, a.btn {
          border: none;
          //padding: 10px 15px;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
          //max-width: 300px;
          //width: 100%;
          margin: 5px 0px;
          &:link, &:visited, &:focus, & {
            color: white;
          }
        }
        .feedback {
          margin: 5px 0px;
          span {
            font-weight: 500;
          }
        }
        .list-group {
          .item {
            padding: 12px;
            background-color: gainsboro;
            border-radius: 5px;
            margin: 5px 0px;
            .product-image {
              width: auto;
              height: 120px;
              max-width: 120px;
              background-position: center center;
              background-size: cover;
              border-radius: 5px;
            }
            .list-group-item-heading {
              margin-top: 10px;
              font-size: 16px;
              font-weight: 400;
              color: @primary-color;
            }
            .note {
              background: #fff8be;
              padding: 10px;
              border-radius: 5px;
            }
          }
        }
        .total {
          border-color: #737373;
          color: @primary-color;
          padding: 17px;
          border-radius: 5px;
          font-size: 15px;
        }
      }
    }
  }
  .admin-products, .admin-cooks {
    .box {
      overflow: visible;
      .body {
        .search {
          padding: 20px;
        }
      }
    }
    .form-control {
      height: 34px;
    }
  }
  .admin-products {
    .search {
      #filter-city {
        width: 20%;
      }
      #filter-text {
        width: 30%;
      }
    }
  }
  .admin-cooks {
    .search {
      #filter-city, #filter-text {
        width: 30%;
      }
    }
    .cook-item {
      .desc {
        min-height: 110px;
        color: #585858;
        .thumb_strip {
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          padding: 0px;
          height: 100%;
        }
        .info {
          margin-top: 5px;
          .phone {
            font-weight: 600;
          }
          .location {
            a {
              color: inherit;
              &:hover {
                color: black;
              }
            }
          }
        }
      }
      .product-button {
        div.row {
          margin: 5px 0px;
        }
      }
    }
  }
}
