/**
 * Divas Cookies jquery plugin for Cookie Policy banner stylesheet
 * @author: CodingDivas
 * @date: 2014/10/27
 * @version: 0.2 production
 */

.divascookies {
	position: fixed;
	top: 0;
	width: 100%;
	background: #313131;
	color: #f9fafc;
	display: none;
	z-index: 999999;
}

.divascookies > .divascookies-banner-container {
	position: relative;
	padding: 15px 20px;
	overflow: hidden;
	text-align: center;
}

.divascookies p.divascookies-banner-text {
	position: relative;
	line-height: 1.3em;
	font-size: 1.4em;
	display: inline-block;
	padding: 0 10px 0 0;
}

span.divascookies-policy-link {
}

span.divascookies-policy-link a {
	white-space: nowrap;
}

span.divascookies-policy-link a:hover {
	text-decoration: underline;
    transition: color 0.3s ease 0s;
}

.divascookies-banner-container > .divascookies-accept-button-container {
	display: inline-block;
	margin-top: 5px;
}

.divascookies-accept-button-container > .divascookies-accept-button-img {

}

.divascookies-accept-button-container > .divascookies-accept-button-text {
	font-size: 1.3em;
	cursor: pointer;
	background: #f9fafc;
	color: #313131;
	padding: 7px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
    transition: background-color 0.3s ease 0s;
}

.divascookies-accept-button-container > .divascookies-accept-button-text:hover {
	background: #e3e4e6;
}
