/************ Header - Parallax ******************/

.home {
  .bkg-home {
    background-image: url("../img/maccarruni.jpg");
  }
  .parallax-content {
    height: 650px;
    .sub_content {
      #pac-input {
        background-color: #fff;
        font-size: 18px;
        font-weight: 300;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 75%;
        max-width: 530px;
        color: dimgray;
        &.controls {
          position: relative;
          top: 1px;
          margin-top: 10px;
          border: 1px solid transparent;
          border-radius: 2px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          height: 37px;
          outline: none;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }
      }
      #pac-input:focus {
        border-color: #4d90fe;
      }
      #btn-search {
        font-size: 18px;
        &:focus {
          color: white;
        }
      }
      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }
      #type-selector label {
        font-size: 13px;
        font-weight: 300;
      }
      #result {
        margin: 20px;
      }
      #custom-search-input .search-query {
        padding-right: 40px;
      }
      padding: 0px !important;
      h3 {
        font-weight: 300;
        font-size: 52px;
        margin-top: 60px;
        margin: 0 0 4px 0;
      }
      h4 {
        margin: 0 0 10px 0;
        font-weight: 500;
        font-size: 40px;
        color: #fff;
      }
      p {
        margin-top: 40px;
      }
      div.sub-alert {
        position: relative;
        bottom: -10px;
        a {
          font-weight: 400;
          color: @secondary-color;
        }
      }
      #btn-container {
        button {
          background-color: white;
          color: @accent-color;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          -webkit-border-radius: 3px;
          &:hover {
            background-color: @primary-color;
            color: white;
          }
        }
      }
      .input-group {
        margin: auto;
      }
    }
  }
  .cooker_box {
    padding: 70px 20px 20px 20px;
    border: 1px solid @light-grey;
    position: relative;
    margin-top: 120px;
    background-color: white;
    max-height: 400px;
    min-height: 400px;
    div.center-absolute {
      top: -85px;
    }
    div.img-circle-container {
      width: 160px;
      height: 160px;
    }
    h2 {
      font-weight: 200;
      margin-top: 35px;
    }
    div.title {
      .rating {
        color: @light-grey;
        padding-top: 0px;
        .voted {
          color: @yellow-star;
        }
      }
    }
    .second_title {
      color: @light-grey;
      font-style: italic;
      margin-bottom: 0px;
    }
    .certification {
      color: @green-text;
      font-size: 16px;
      font-weight: 500;
    }
    h3 {
      font-weight: 200;
    }
    i.u-font {
      position: absolute;
      font-size: 65px;
      right: 14px;
      bottom: 235px;
      color: grey;
    }
    .description {
      margin: 10px 0px 30px;
      max-height: 55px;
      min-height: 55px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: @primary-color;
    }
  }
}


/************ Result Search ******************/

#product-result {
  background-color: white;
}

.day-selector {
  label {
    color: white;
    font-size: 30px;
    font-weight: 200;
  }
  select {
    font-size: 20px;
    font-weight: 200;
  }
  padding: 18px 18px 25px;
  background-color: @secondary-color;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

//#product-result .row {
//  margin-right: 0;
//  margin-left: 0;
//}

/************ Box Home ******************/

.main_title {
  h4 {
    font-weight: 200;
  }
  p {
    font-size: 35px;
    font-weight: 200;
  }
  p#search-address {
    font-size: 20px;
  }
}

// .box_home {
//   padding: 40px 20px 0px 20px;
//   min-height: 240px;
//   max-height: 240px;
//   margin-top: 15px;
//   border: 1px solid @light-grey;
//   i {
//     font-size: 55px;
//     color: @accent-color;
//   }
//   span {
//     border-color: @light-grey;
//   }
//   a,
//   a:hover,
//   a:focus,
//   a:link,
//   a:visited {
//     color: @primary-color;
//   }
//   a.btn {
//     color: @accent-color;
//     background-color: white;
//     width: 110px;
//     position: absolute;
//     bottom: 10px;
//     left: 0px;
//     right: 0px;
//     margin-left: auto;
//     margin-right: auto;
//     border: 1px solid @accent-color;
//     &:hover {
//       border-color: @primary-color;
//       background-color: @primary-color;
//       color: white;
//     }
//   }
// }


/************ Pre footer ******************/


#pre-footer {
  &.bkg-pre-footer {
    background-image: url("../img/mestolo-spezie-ortaggi.jpg");
  }
  #logo_rid {
    height: 90px;
    path {
      fill: white;
    }
    circle {
      stroke: white;
    }
  }
  .container {
    margin-top: 20px;
    p {
      font-size: 35px;
      font-weight: 200;
      display: block;
    }
    a:hover {
      color: grey;
    }
    a,
    a:visited,
    a:link,
    a:focus {
      color: white
    }
  }
}
