.login {
  background: white;
  .container {
    padding-top: 150px;
  }
  .link {
    margin-top: 10px;
    font-size: 14px;
  }
  a.btn-facebook {
    text-decoration: none;
    &:visited, &:link {
      color: white;
    }
  }
  a:hover,
  a:focus {
    color: gray;
  }
  #at4-share,
  #at-share-dock {
    display: none !important;
  }
  .zopim {
    display: none !important;
  }
}
