@navbar-color: white;
.logo {
  margin-top: -9px;
  position: relative;
  display: block;
  img {
    padding-bottom: 12px;
  }
}

.header-desktop {
  .logo {
    i {
      font-size: 60px;
      color: @accent-color;
    }
  }
}

#header_menu {
  background-color: @navbar-color;
  h5 {
    color: @accent-color;
    margin-top: -35px;
  }
  i {
    font-size: 150px;
    color: @accent-color;
  }
}

//.header-mobile .logo img {
//  margin-top: 5px;
//}

.header-mobile .main-menu li {
  border: 0px;
}

.bar-link {
  font-size: 14px;
  font-weight: 500;
}

.header-mobile {
  .bar-link {
    display: block;
    overflow: visible;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10px;
    height: 30px;
  }
  .cooker-link {
    right: 80px;
  }
  .access-link {
    right: 38px;
    width: 30px;
  }
  .logo {
    i {
      font-size: 45px;
      color: @accent-color;
    }
    img {
      margin-top: 5px;
    }
  }
}

.header-mobile.sticky .bar-link, .header-mobile.sticky .bar-link:hover, .header-mobile.sticky .bar-link:active, .header-mobile.sticky .bar-link:visited, .header-mobile.sticky .bar-link:link {
  color: grey;
}

.header-mobile .main-menu ul li ul {
  padding-left: 5%;
}

header.sticky {
  .cmn-toggle-switch span {
    background: grey;
  }
  .cmn-toggle-switch span::before, .cmn-toggle-switch span::after {
    background: grey;
  }
  .cmn-toggle-switch span::before, .cmn-toggle-switch span::after {
    background: grey;
  }
}

.header-mobile .main-menu ul li a {
  font-size: 20px;
  &:link {
    color: grey !important;
  }
  &:visited {
    color: grey !important;
  }
  &:hover {
    color: @accent-color !important;
  }
  &:active {
    color: grey !important;
  }
}

.main-menu {
  li ul.popup-menu li {
    a {
      &:link {
        color: gray;
      }
      &:visited {
        color: gray;
      }
      &:hover {
        color: @accent-color;
      }
      &:active {
        color: gray;
      }
    }
  }
}

header {
  border-bottom: none;
  &:not(.sticky) {
    a {
      color: white;
    }
    .main-menu > ul > li > a {
      color: white;
    }
  }
  &.sticky {
    background-color: @navbar-color;

    .main-menu ul li a {
      color: grey;
    }
  }
}

.no-parallax {
  header {
    .main-menu > ul > li > a {
      color: grey;
    }
    a {
      color: grey;
      &.cmn-toggle-switch span, &.cmn-toggle-switch span:before, &.cmn-toggle-switch span:after {
        background: grey;
      }
    }
  }
}

//.cmn-toggle-switch {
//  top: 10px !important;
//}
