@second-font-color: #777;
product-box {
  font-weight: 200;
  a {
    text-decoration: none;
    color: black;
    &:link {
      color: black;
    }
    &:visited {
      color: black;
    }
    &:hover {
      color: black;
    }
    &:active {
      color: black;
    }
  }
  a.strip_list:hover h3 {
    color: @accent-color;
  }
  .tile .desc {
    h3 {
      font-size: 18px;
    }
    .image-container {
      border: 1px solid #D8D8D8;
      padding: 5px;
      .thumb_strip {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 220px;
        .gradient {
          position: relative;
          width: 100%;
          height: 100%;
          background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
          background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
          .first-line, .second-line {
            position: absolute;
            color: white !important;
          }
          .first-line {
            bottom: 5px;
            font-size: 15px;
            left: 10px;
            #portion-text {
              font-size: 15px;
            }
            #price {
              font-size: 24px;
              font-weight: 400;
            }
          }
          .second-line {
            bottom: 5px;
            font-size: 15px;
            right: 10px;
            span {
              font-size: 17px;
              font-weight: 400;
            }
          }
        }
      }
    }
    .cook-image {
      position: absolute;
      top: 175px;
      right: 5%;
      .img-circle-container {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
    .cook-name {
      margin-top: 10px;
    }
    .rating {
      display: inline-block;
      margin-top: 12px;
      margin-bottom: 5px;
    }
    .title {
      color: @second-font-color;
    }
    .tag span {
      margin: 2px;
    }
    .price {
      .cost-portion {
        font-size: 14px;
        font-weight: 800;
        font-style: normal;
        margin-top: 5px;
      }
      .delivery-info {
        display: inline;
        .free-delivery {
          font-weight: 800;
          color: @green-text;
        }
        .paid-delivery {
          color: @second-font-color;
        }
      }
    }
    .information {
      margin-top: 5px;
      .address {
        color: @second-font-color;
      }
      .distance {
        font-weight: 800;
        margin-top: 5px;
      }
    }
    .max-distance {
      margin-top: 10px;
      font-size: 0.85em;
    }
    .week-day {
      margin-top: 5px;
      .notice {
        color: @red-text;
      }
    }
  }
  .item {
    overflow: auto;
    &.bk_accepted {
    }
    &.bk_refused {
      .panel-danger > .panel-heading;
    }
    &.bk_waiting {
      .panel-default > .panel-heading;
      background-color: #e4e4e4;
      border-color: #c7c7c7;
    }
    .desc {
      color: #2f2f2f;
      .thumb_strip {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 140px;
        left: -15px;
      }
      .info {
        .public-link {
          margin-bottom: 5px;
          a {
            color: @accent-color;
            &:hover {
              color: black;
            }
          }
        }
        .cost-portion {
          font-weight: 600;
        }
        .status {
          font-weight: 600;
          &.accepted {
            color: @green-text;
          }
          &.refused {
            color: @red-text;
          }
          &.wait {
            color: grey;
          }
        }
        .featured {
          margin-top: 2px;
          span {
            font-weight: 600;
          }

        }
      }
    }
    .product-button {
      hr {
        border-color: darkcyan;
      }
      div.row {
        margin-top: 15px;
      }
    }
  }
}
