.register {
  background: white;
  color: grey;

	#at4-share,
  #at-share-dock {
    display: none !important;
  }

	.container {
		padding-top: 100px;
	}
  h2 {
    color: @accent-color;
  }
  .form-group select {
    background: transparent none repeat scroll 0 0;
    border: 1px solid lightgrey;
    color: grey;
    transition: background-color 0.3s ease 0s;
    border-radius: 0;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    position: relative;
    transition: background-color 0.3s ease 0s;
  }
  .input-group-addon,
  .input-group-btn {
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    height: 43px;
    width: 45px;
    background-color: white;
  }
  .input-group .form-control {
    float: left;
    margin-bottom: 0;
    position: relative;
    width: auto;
    z-index: 2;
  }
  .form-group input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid lightgrey;
    border-radius: 0;
    color: grey;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    position: relative;
    transition: background-color 0.3s ease 0s;
    box-shadow: none;
  }
  #label-gender {
    padding-top: 6px;
		color: grey;
  }
  .checkbox {
    span {
      color: #5A5A5A;
			&.terms-link {
				margin: 0px;
				a:hover, a:focus {
					color: black;
				}
			}
    }
    label:before {
      border: 2px solid @accent-color;
    }
    label:after {
      background: @accent-color;
    }
  }
}
