.reset-password {
  background: white;
  .container {
    padding-top: 150px;
  }
//  header:not(.sticky) {
//    .main-menu > ul > li > a {
//      color: grey;
//    }
//  }

	#at4-share,
  #at-share-dock {
    display: none !important;
  }

}
