/*============================================================================================*/


/* Repsonsive  */

@media only screen and (min-width: 1200px) {
  .main-menu ul ul ol {
    padding-left: 15px;
  }
  .main-menu ul ul, .main-menu ul .menu-wrapper {
    right: 35px;
    min-width: 250px;
  }
}


/*============================================================================================*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
  .bkg-parallax, .parallax-window {
    background-attachment: scroll !important;
  }
  #at-share-dock {
    z-index: 1000 !important;
  }
  .high_light {
    h3 {
      font-size: 35px !important;
    }
    p {
      font-size: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .high_light {
    h3 {
      font-size: 26px !important;
    }
    p {
      font-size: 18px;
    }
  }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  .home #header {
    .parallax-content {
      height: 470px;
      .sub_content {
        h3 {
          font-size: 50px !important;
        }
      }
    }
  }
  .high_light {
    div.container {
      text-align: center !important;
    }
    h3 {
      font-size: 26px !important;
    }
    p {
      font-size: 18px;
    }
  }
  #pre-footer {
    .container {
      p {
        font-size: 30px;
      }
    }
  }
  product-box .tail .desc .image-container .thumb_strip {
    height: 500px;
  }
  #cart_box_container {
    position: relative !important;
    height: inherit !important;
  }
  footer {
    div {
      &.text-left {
        text-align: center;
      }
      ul li {
        margin-top: 10px;
      }
    }
  }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
  .home #header {
    height: 470px;
    min-height: 470px;
    .parallax-content {
      height: 470px;
      .sub_content {
        h3 {
          font-size: 30px !important;
        }
      }
    }
  }
  .parallax-content .sub_content h4 {
    font-size: 25px !important;
  }
  .main_title {
    margin-bottom: 30px;
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
    p#search-address {
      font-size: 16px;
    }
  }
  #custom-search-input, #custom-search-input .search-query {
    font-size: 14px !important;
  }
  .parallax-content div.sub-alert {
    font-size: 13px !important;
  }
  .high_light {
    h3 {
      font-size: 22px !important;
    }
    p {
      font-size: 16px !important;
    }
  }
  .full-sm {
    width: 100% !important;
  }
  #pre-footer {
    .parallax-content {
      height: 240px;
      min-height: 240px;
    }
    .container {
      p {
        font-size: 22px;
      }
    }
  }
  product-box .tail .desc .image-container .thumb_strip {
    height: 400px;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  #close_in i {
    color: gray !important;
  }
  .home #header {
    .parallax-content {
      .sub_content {
        h3 {
          font-size: 25px !important;
        }
        h4 {
          font-size: 18px !important;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  #custom-search-input, #custom-search-input .search-query {
    font-size: 13px !important;
  }
  .parallax-content div.sub-alert {
    font-size: 12px !important;
  }
  #custom-search-input input.btn_search {
    background-size: 18px;
  }
  .day-selector {
    padding: 35px;
    label {
      font-size: 21px;
    }
  }
  .high_light {
    h3 {
      font-size: 17px !important;
    }
    p {
      font-size: 13px !important;
    }
  }
  product-box {
    .item {
      .desc {
        .thumb_strip {
          margin: auto;
          height: 110px;
        }
      }
    }
  }
  .dashboard .admin-cooks .cook-item {
    .desc {
      .thumb_strip {
        height: 110px;
      }
    }
  }
  #pre-footer {
    .container {
      p {
        font-size: 14px;
      }
    }
  }
  product-box .tail .desc .image-container .thumb_strip {
    height: 250px;
  }
  .dashboard .box .head .tab {
    padding: 23px 10px;
  }
  .dashboard .box .head {
    font-size: 14px;
  }
  .dashboard .box .head .btn {
    font-size: 10px;
  }
}


/* Extra extra Small Devices */

@media only screen and (max-width: 320px) {}