//.login_icon {
//  opacity: 0.8;
//}
.shop {
  .modal-dialog {
    .tooltip-inner {
      font-size: 12px;
    }
  }
  section.parallax-window {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    #subheader {
      background-color: rgba(0, 0, 0, 0.20);
    }
  }
  .table > tbody > tr > td.name {
    text-align: left !important;
  }
  .table > tbody > tr > td.description {
    text-align: right !important;
    font-weight: 200;
    color: #383838;
  }
  a.btn_map {
    color: white;
  }
  #availability {
    span {
      margin-right: 5px;
    }
    .notice {
      margin-top: 30px;
      color: @accent-color;
    }
  }
  #prod-information {
    i {
      font-size: 60px;
    }
    .price {
      margin-top: 5px;
      margin-bottom: 5px;
      color: black;
      font-weight: 800;
      font-size: 16px;
    }
    .delivery {
      margin-top: 5px;
      color: black;
    }
    .clickable {
      cursor: pointer;
      text-decoration: underline;
    }
    .free-delivery {
      margin-top: 5px;
      color: @green-text;
      font-weight: 800;
    }
    .no-delivery {
      margin-top: 5px;
      color: @red-text;
      font-weight: 800;
    }
    .cooker-link {
      margin-top: 10px;
      a, a:link, a:visited, a:focus {
        color: @accent-color;
      }
      a:hover {
        color: black;
      }
    }
		.certificated {
			margin-top: 25px;
			img {
				height: 40px;
			}
			span {
				display: block;
			}
		}
  }
  #carousel {
    .carousel-control {
      background-image: none !important;
    }
    .carousel-control:visited,
    .carousel-control:link,
    .carousel-control:focus {
      color: rgba(210, 210, 210, 0.45);
    }
    .carousel-control:hover {
      color: white;
    }
    .carousel-control .icon-prev,
    .carousel-control .icon-next,
    .carousel-control .icon {
      position: absolute;
      top: 50%;
      margin-top: -10px;
      z-index: 5;
      display: inline-block;
      text-shadow: none;
    }
    .carousel-control .icon-prev,
    .carousel-control.left .icon {
      left: 50%;
      margin-left: -10px;
    }
    .carousel-control .icon-next,
    .carousel-control.right .icon {
      right: 50%;
      margin-right: -10px;
    }
  }
  .carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  }
  #deliverycalendar .dropdown-menu {
    padding: 5px;
  }
  #deliverycalendar .btn-default {
    border-color: lightgray;
  }
  #deliverycalendar .input-group-btn .btn {
    padding: 9px 16px;
  }
  #cart_box {
    button.btn_full {
      background-color: @primary-color;
    }
    input.portions {
      min-width: 50px;
    }
    .btn-remove,
    .title {
      padding-top: 10px;
    }
    .btn-remove-inline {
      padding-top: 5px;
    }
    .total {
      margin-right: 25px;
    }
  }
  .rating-container {
    img {
      width: 75px;
    }
    .rating {
      display: inline-block;
    }
  }
  #ratings {
    a {
			color: @primary-color;
			&:hover {
				color: @primary-color;
				cursor: pointer;
			}
      & > span {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
