.static-page {
  font-size: 18px;
  font-weight: 200;
  .parallax-window {
    min-height: 500px;
    max-height: 500px;
    #subheader {
      height: 500px;
    }
  }
  p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
  }
  #sub_content {
    h1 {
      font-weight: 600;
    }
    p {
      font-size: 2em;
      margin: 0px;
    }
  }
  a, a:link, a:focus, a:visited {
    color: @secondary-color;
    font-weight: 500;
  }
  a:hover {
    color: grey;
    font-weight: 500;
  }
  .box_style_2 {
    h2 {
      font-weight: 200;
    }
    h3 {
      font-weight: 200;
    }
  }
  div.container.box {
    background-color: white;
    margin-top: 50px;
    padding: 0px 60px;
    .box_home {
      padding-top: 45px;
      min-height: 350px;
      border-width: 0px;
      h2 {
        font-weight: 300;
      }
      i {
        font-size: 80px;
      }
      p {
        font-size: 16px;
        text-align: left;
      }
    }
  }
  //**** Video ***//
  .flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
  }
  .flex-video.widescreen {
    padding-bottom: 57.25%;
  }
  .flex-video.vimeo {
    padding-top: 0;
  }
  .flex-video iframe, .flex-video object, .flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
    .flex-video {
      padding-top: 0;
    }
  }
}

#how-it-works {
  //  .bkg-static-page:before {
  //    background-image: url("../img/mestolo-spezie-ortaggi.jpg");
  //  }
  .bkg-static-page {
    background-image: url("../img/mestolo-spezie-ortaggi.jpg");
  }
  h4 {
    font-size: 22px;
    margin: 20px auto;
  }
  h5 {
    font-size: 20px;
    margin: 25px 5px;
  }
  p {
    margin: 5px;
  }
}

#faq {
  //  .bkg-static-page:before {
  //    background-image: url("../img/pasta-alla-uovo.jpg");
  //  }
  .bkg-static-page {
    background-image: url("../img/pasta-alla-uovo.jpg");
  }
  a, a:link, a:focus, a:visited {
    color: grey;
    background: none;
  }
  a:hover {
    color: @accent-color;
    background: none;
  }
}

#mission {
  //  .bkg-static-page:before {
  //    background-image: url("../img/cucchiaio-lato-farina.jpg");
  //  }
  .bkg-static-page {
    background-image: url("../img/cucchiaio-lato-farina.jpg");
  }
  i {
    font-size: 22px;
    color: @accent-color;
  }
}

#team {
  //  .bkg-static-page:before {
  //    background-image: url("../img/metsoli-di-legno.jpg");
  //  }
  .bkg-static-page {
    background-image: url("../img/metsoli-di-legno.jpg");
  }
}

#become-a-cooker {
  @imageSize: 250px;
  .bkg-static-page {
    background-image: url("../img/pasta-fatta-in-casa.jpg");
  }
  h2 {
    font-weight: 300;
  }
  div.container {
    background-color: white;
    margin-top: 50px;
    padding: 5px 60px;
    &.cook-link {
      background-color: #46a3de;
      color: white;
      h2 {
        color: white;
        margin-top: 40px;
      }
      p {
        margin-top: 20px;
      }
      a {
        color: white !important;
        text-decoration: underline;
      }
    }
    &.products {
      .product-image {
        height: @imageSize;
        text-align: center;
        padding: 8px;
        .bkg-image-full {
          height: 100%;
          width: 100%;
          &.regionali {
            background-image: url("../img/piatti-da-asporto-regionali.jpg");
          }
          &.tradizionali {
            background-image: url("../img/piatti-da-asporto-tradizionali.jpg");
          }
          &.gourmet {
            background-image: url("../img/piatti-da-asporto-gourmet.jpg");
          }
          &.piatto-unico {
            background-image: url("../img/piatti-da-asporto-piatto-unico.jpg");
          }
          &.biscotti {
            background-image: url("../img/piatti-da-asporto-biscotti.jpg");
          }
          &.dessert {
            background-image: url("../img/piatti-da-asporto-dessert.jpg");
          }
          &.aperitivi {
            background-image: url("../img/piatti-da-asporto-aperitivi.jpg");
          }
          &.banali {
            background-image: url("../img/piatti-da-asporto-banali.jpg");
          }
          &.insalate {
            background-image: url("../img/piatti-da-asporto-insalate.jpg");
          }
          &.crudi {
            background-image: url("../img/piatti-da-asporto-crudi.jpg");
          }
          &.solo-condimento {
            background-image: url("../img/piatti-da-asporto-condimento.jpg");
          }
          &.pizza {
            background-image: url("../img/piatti-da-asporto-pizza.jpg");
          }
          .text {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 10px;
            h2 {
              margin: auto;
              color: white;
              font-weight: 600;
            }
          }
          .ko {
            background-image: url("../img/x.png");
            background-size: 55%;
          }
        }
      }
      &.products-ko {
        .alert {
          margin: 20px -8px 0px -8px;
          h2 {
            color: #c72222;
            font-weight: 600;
          }
          ol {
            font-weight: 400;
          }
        }
      }
    }
    &.video {
      margin-bottom: 50px;
      .row {
        margin-top: 30px;
      }
      iframe {
        height: 250px;
      }
    }
  }
}

#quality-control {

  .bkg-static-page {
    background-image: url("../img/frutta-fresca-metro.jpg");
  }
}

#community {
  .bkg-static-page {
    background-image: url("../img/gruppo-community-tavola.jpg");
  }
}

.entra-in-famiglia {
  @message-color: #44C2F2;
  padding: 20px 0;
  background: @message-color;

  .bkg-family-cooking {
    background-image: url("../img/mamma-cucina-figli.jpg");
    padding: 0px;

    .text-box-container {
      padding: 80px 20px;
      &.row {
        margin: 0px;
      }

      .text-box {
        padding: 0px 50px;

        h2 {
          font-size: 47px;
          font-weight: 600;
          color: white;
        }
        p {
          font-size: 20px;
          line-height: 20px;
          color: white;
        }
        button {
          text-transform: uppercase;
          background: @message-color;
          font-size: 20px;
          color: white;
          padding: 14px;
          font-weight: 600;
          margin-top: 23px;

        }
      }
    }

  }
}

#page-not-found {
  .error-template {
    padding: 40px 15px;
    text-align: center;
    margin-top: 100px;
  }
  .error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .error-actions .btn {
    margin-right: 10px;
  }
  a#contacts, a#contacts:focus, a#contacts:visited, a#contacts:link {
    background: white;
    color: @accent-color;
  }
  a#contacts:hover {
    background: darken(white, 5%);
  }
  a#home, a#home:visited, a#home:link, a#home:focus {
    background: @secondary-color;
    color: white;
  }
  a#home:hover {
    background: darken(@secondary-color, 10%);
  }
}
