@import "../lib/bootstrap/less/bootstrap";
@import (less) "../fonts/ucooki-icon-font.css";
@import (less) "../lib/angular-google-places-autocomplete/src/autocomplete.css";
@import (less) "../ucooki-theme/css/animate.css";
@import (less) "../ucooki-theme/css/menu.css";
@import (less) "../ucooki-theme/css/style.css";
@import (less) "../ucooki-theme/css/responsive.css";
@import (less) "../ucooki-theme/css/elegant_font/elegant_font.css";
@import (less) "../ucooki-theme/css/fontello/css/fontello.css";
@import (less) "../lib/ngToast/dist/ngToast.css";
@import (less) "../lib/ngToast/dist/ngToast-animations.css";
@import (less) "../lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css";
@import (less) "../lib/angular-loading-bar/build/loading-bar.css";
@import (less) "../lib/angular-ui-select/dist/select.css";

/* empty href fix */

@accent-color: #D22626;
@primary-color: #333;
@secondary-color: #FF6868; // background barre, pulsanti principali
@third-color: #85c99d;
@green-text: #379C45;
@red-text: #C30;
@light-grey: #BDBDBD;
@yellow-star: #FC0;
@facebook: #4267b2;
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.overlay-20 {
  background: rgba(0, 0, 0, 0.2);
}

.overlay-60 {
  background: rgba(0, 0, 0, 0.6);
}

.vertical-gradient {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.correct-break-word {
  overflow-wrap: break-word;
  word-break: break-all;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.bkg-parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bkg-image-full {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.block {
  display: block;
}

a {
  color: @accent-color;
  &:link {
    color: @accent-color;
  }
  &:visited {
    color: @accent-color;
  }
  &:hover {
    color: white;
  }
  &:active {
    color: @accent-color;
  }
}

.btn-main {
  background-color: @secondary-color;
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  &:hover {
    background-color: @primary-color;
    color: white;
  }
}

.alert a, .alert a:visited, .alert a:link {
  color: @primary-color
}

.btn_big {
  font-size: 22px;
}

.tooltip-inner {
  font-size: 16px;
}

#login {
  .make-row();
  .make-md-column(6);
  .make-md-column-push(3);
  & div.social-login {
    .make-md-column(12);
  }
  & form {
    margin-top: 20px;
  }
}

.high_light {
  a, a:link, a:visited, a:focus {
    color: white;
  }
  p {
    font-size: 22px;
  }
}

.third_color {
  background-color: @third-color !important;
}

.second_color {
  background-color: @secondary-color !important;
}

.content-enclosure {
  background: #F5F5F5;
}

.no-run {
  display: none;
}

.loading-container {
  margin: 10px;
  .no-run {
    visibility: hidden;
  }
  .sk-spinner-wave.sk-spinner {
    margin: -30px 0 0 -25px;
  }
}

div.center-absolute {
  position: absolute;
  left: 50%;
}

div.center-relative {
  position: relative;
  left: -50%;
}

#thumb .no-picture {
  background: url("../img/cooker.svg") no-repeat center center;
  background-size: cover;
  display: block;
  width: 110%;
  height: 110%;
  top: -7px;
  left: -5px;
  position: relative;
}

.label-tag {
  .label;
  margin-left: 5px;
}

#preloader {
  background-color: white;
}

a.btn_full, .btn_full {
  background: @secondary-color;
  color: white;
  &:disabled {
    background-color: darkgray;
  }
}

.dropdown-menu {
  li {
    cursor: pointer;
  }
}

.facebook {
  background-color: @facebook;
}

//*************   Zopim     *************//

.zopim {
  z-index: 900 !important;
}

//********* Immagini circolari **********//
.img-circle-container {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: block;
  background-position: center center;
  background-size: contain;
}

.review_strip_single small {
  margin-top: -45px;
}

.review_strip_single h4 {
  margin-top: -45px;
}


/************ Loading ******************/

loading {
  display: inline-block;
  width: 100%;
  padding: 30px;
}

.loader {
  position: relative;
  margin: auto;
}

.sk-spinner-wave div {
  background-color: @accent-color;
}


/************ Footer ******************/

footer {
  background-color: #131313;
  color: #9e9e9e;
  border: none;
  h3 {
    font-weight: 600;
    color: white;
  }
  a {
    &:link {
      color: inherit;
    }
    &:visited {
      color: inherit;
    }
    &:hover {
      color: @accent-color;
    }
    &:active {
      color: inherit;
    }
  }
  .logo {
    i {
      font-size: 120px;
      color: #9e9e9e;
    }
  }
  #social_footer {
    border-top: 1px solid @primary-color;
  }
}


/************  ******************/

.label-ingredienti {
  background: #8dc63f none repeat scroll 0 0 !important;
}

.card-image {
  min-height: 240px;
  max-height: 240px;
}

.label-tag {
  display: inline-block;
}

.btn-group-center {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.btn-group-center .btn-group {
  position: relative;
  margin: 0 auto;
  display: table;
}

#direct-upload {
  padding: 10px 0 0 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border: 4px dashed #ccc;
  min-height: 250px;
  background: url(https://ucooki.com/landing/images/fork.png) 50% 50% no-repeat;
  background-size: cover;
}

#direct-upload.dragover {
  border-color: #0c0;
}

#direct-upload.dragover-err {
  border-color: #c00;
}

.uploading-pic {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.uploading-pic h4 {
  font-size: small;
}

.image-preview {
  width: 100%;
  height: 100%;
  margin: 20px 10px 0 10px;
  padding: 10px;
  min-height: 250px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


/******************* ngImgCrop *****************/

.cropArea {
  background: #E4E4E4;
  height: 350px;
}


/* line 1, ../../source/scss/ng-img-crop.scss */

img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}


/* line 7, ../../source/scss/ng-img-crop.scss */

img-crop canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}


/* line 17, ../../source/scss/ng-img-crop.scss */

img-crop .loading {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
}

.box_style_2 h2.inner {
  background-color: @secondary-color;
}

#sub_content {
  a {
    color: white;
  }
  em a {
    font-size: 20px;
  }
  #thumb {
    border: 4px solid #ededed;
    border-radius: 50%;
    img {
      width: 130px;
      min-height: 130px;
      top: -9px;
      left: -4px;
      position: relative;
    }
  }
  h1 {
    max-height: 3.4em;
    display: inline-block;
    overflow: hidden;
    font-size: 2.2em;
  }
}

#position {
  ul {
    li {
      overflow: hidden;
      max-width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}


/****************** Map **********************/

.map_canvas {
  height: 400px;
  width: 100%;
  margin: 0px;
  position: relative;
}

.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 400px;
}


/****************** Toast **********************/

.ng-toast__list {
  div.alert {
    cursor: pointer;
  }
}

.ng-toast.ng-toast--top {
  top: 40px;
}

//***************** Contacts **********************//
#contacts {
  i {
    font-size: 30px;
  }
  .container {
    padding-top: 120px;
  }
}

//***************** Subscriber **********************//
#subscriber {
  i {
    font-size: 60px;
    color: @accent-color;
  }
  .container {
    padding-top: 120px;
  }
  .checkbox {
    span {
      color: #333;
    }
    label:before {
      border-color: @accent-color;
    }
    label:after {
      background-color: @secondary-color;
    }
  }
}


/************ MODAL ******************/

.large-modal .modal-dialog {
  width: 90%;
}

.modal-dialog {
  #feedback-model {
    #rating {
      font-size: 30px;
    }
  }
}

.modal-popup {
  background: white;
  h3, span, label {
    color: @accent-color;
  }
  label {
    display: block;
  }
  .description {
    color: @primary-color;
  }
  .alert span {
    color: black;
  }
  button.btn-submit {
    color: white;
    background: @secondary-color;
  }
  button.close-link {
    font-size: 22px;
    position: absolute;
    top: 20px;
    right: 30px;
    color: @accent-color;
    background: none;
    border: none;
    box-shadow: none;
  }
  .btn-group {
    label {
      background-color: grey;
      border: 1px solid @accent-color;
      color: lightgray;
      &.active {
        background-color: white;
        color: @accent-color;
      }
      &:hover {
        border-color: @accent-color;
      }
    }
  }
  span.dropdown {
    button {
      background-color: lightgray;
      color: black;
      span {
        color: black;
      }
    }
  }
  .order-datepicker {
    span {
      color: black;
    }
  }
  .order-datepicker td button:enabled {
    background-color: #FF7C7C;
    border-radius: 4px;
    color: white;
  }
  .order-datepicker td button.active {
    background-color: #FFD5D5;
    ;
    border-radius: 4px;
    color: #607D8B;
    font-weight: bold;
  }
  .order-datepicker td button .text-info {
    //  color: @accent-color;
    font-weight: bold;
  }
}


/************ Modal Registration ******************/

.modal {
  .modal-body.registration {
    .btn {
      display: block;
      margin: auto;
      margin-bottom: 10px;
      width: 100%;
      background-color: @secondary-color;
      color: white;
      text-decoration: none;
      &#btn-fb {
        background-color: rgb(59, 89, 152);
      }
      &:hover {
        background-color: @primary-color !important;
      }
    }
    p {
      font-size: 23px;
      font-weight: 300;
      margin: 20px 10px;
    }
  }
}

//******************** Css animations ***************************//
@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}

//***************** Import **********************//
@import "divas-cookies";
@import "navbar";
@import "home";
@import "login";
@import "reset-password";
@import "register";
@import "product-box";
@import "checkout";
@import "customer";
@import "dashboard";
@import "shop";
@import "static-page";
@import "responsive";
