<button data-ng-click="modalOptions.close()"  class="close-link"><i class="icon_close_alt2"></i>
    </button>
<div class="modal-header">
  <h3>Registrati</h3>
</div>
<div class="modal-body registration">
	<p>Entra a far parte della nostra <strong>community</strong> e ricevi le nostre <strong>offerte</strong> prima di tutti!</p>
	<a href="/auth/facebook" target="_self" id="btn-fb" class="btn btn-submit" data-ng-click="modalOptions.ok()">
    ACCEDI CON FACEBOOK
  </a>
	<a ui-sref="register" id="btn-reg" class="btn btn-submit" data-ng-click="modalOptions.ok()">
   	REGISTRATI
  </a>
</div>

