<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
  $(window).load(function () {
    window.$zopim || (function (d, s) {
      var z = $zopim = function (c) {
        z._.push(c)
      }, $ = z.s =
        d.createElement(s), e = d.getElementsByTagName(s)[0];
      z.set = function (o) {
        z.set._.push(o)
      };
      z._ = [];
      z.set._ = [];
      $.async = !0;
      $.setAttribute("charset", "utf-8");
      $.src = "https://v2.zopim.com/?4WBmqPSlH9xIo1hMDkcSvZG6IVi4RzQ6";
      z.t = +new Date;
      $.type = "text/javascript";
      e.parentNode.insertBefore($, e)
    })(document, "script");
  });
</script>
<!--End of Zendesk Chat Script-->
<script>
  $(window).load(function () {
    if (typeof $zopim !== 'undefined') {
      $zopim(function () {
        $zopim.livechat.window.hide();
      });
    }
  });
</script>
