<!--<a href="#" ng-click="modalOptions.close()" class="close-link"><i class="icon_close_alt2"></i></a>-->
<button data-ng-click="modalOptions.close()" class="close-link"><i class="icon_close_alt2"></i>
</button>
<div class="modal-header">
  <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">
  <div class="alert" ng-if="alert" ng-class="alert">
    {{modalOptions.alertMessage}}
  </div>
  <p ng-if="modalOptions.bodyText">{{modalOptions.bodyText}}</p>
  <ng-include ng-if="modalOptions.bodyTemplate" src="modalOptions.bodyTemplate"></ng-include>
</div>

<div class="modal-footer">

  <button class="btn btn-submit" data-ng-click="modalOptions.ok()">
    {{modalOptions.actionButtonText}}
  </button>

</div>
