<div ng-controller="ResetPasswordCtrl">
  <div class="container margin_60_35">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-12">
        <fieldset class="form-group">
          <label for="password">Nuova Password</label>
          <input type="password" ng-model="password" class="form-control" id="password">
        </fieldset>
        <fieldset class="form-group">
          <label for="confirmation">Ripeti Password</label>
          <input type="password" ng-model="confirmation" class="form-control" id="confirmation">
        </fieldset>
        <div class="form-group">
          <button ng-click="submit()" type="submit" class="btn_full" value="Cambia Password">Cambia Password</button>
        </div>
        <div ng-if="loading">
          <loading class="add_top_20" is-loading="loading"></loading>
        </div>
      </div>
    </div>
  </div>
</div>
