<div>
	<div class="content">
		<div class="col-md-3 sidenav hidden-xs">

			<div class="head">Menu dashboard</div>
			<div class="btn-group-vertical col-md-3" role="group">
				<a class="btn btn-default" ng-click="goto('dashboard.personal-info')">Informazioni Personali</a>
				<!--        <a ui-sref-active="active" ui-sref=".account-settings" type="button" class="btn btn-default">Impostazioni Account</a>-->
				<a type="button" class="btn btn-default" ng-click="goto('dashboard.orders')">Ordini</a>
				<a ng-if="user.cooker" type="button" class="btn btn-default" ng-click="goto('dashboard.products')">Il Mio Menù</a>
			</div>

			<div ng-if="user.admin">
				<div class="head">Amministrazione</div>
				<div class="btn-group-vertical col-md-3" role="group">
					<a class="btn btn-default" ng-click="goto('dashboard.admin-cooks')">Cuochi</a>
					<a class="btn btn-default" ng-click="goto('dashboard.admin-products')">Piatti</a>
				</div>
			</div>

		</div>
		<div class="col-md-9 col-xs-12 detail">
			<div ui-view></div>
		</div>
	</div>
</div>