<div ng-if="type == 'tile'" class="tile">
  <a ui-sref="{{link}}" class="strip_list grid correct-break-word">
    <div ng-if="product.featured" class="ribbon_1">Vetrina</div>
    <div class="desc">
      <div class="image-container">
        <div class="thumb_strip">
        </div>
      </div>
      <div class="cook-image">
        <div class="img-circle-container"></div>
      </div>
      <div class="cook-name">{{::cook.name}}</div>
      <div class="rating" ng-model="product.rate" readonly="true" aria-labelledby="default-rating">
        <i class="icon_star" ng-class="{voted : product.rate >= 1}"></i>
        <i class="icon_star" ng-class="{voted : product.rate >= 2}"></i>
        <i class="icon_star" ng-class="{voted : product.rate >= 3}"></i>
        <i class="icon_star" ng-class="{voted : product.rate >= 4}"></i>
        <i class="icon_star" ng-class="{voted : product.rate >= 5}"></i>
      </div>
      <div class="title block">
        <h3 class="correct-break-word">{{::product.name}}</h3>
      </div>
      <div class="type">
        {{::product.tags | limitTo:5 | join:' / ' }}<span ng-if="product.tags.length > 5" class="label-tag label-info"> +{{product.tags.length - 5}}</span>
      </div>

      <div ng-if="detail == 'medium' || detail == 'high'">
        <div class="price">
          <span ng-if="product.sale_type == 1">Prezzo: <span class="cost-portion">{{::product.price | currency}}</span></span>
          <span ng-if="product.sale_type == 0">Porzione: <span
            class="cost-portion">{{::product.price | currency}}</span></span>
          <div class="delivery-info" ng-if="product.delivery && cook.distance <= cook.productor_info.max_distance">
            <span class="free-delivery" ng-if="product.delivery_price <= 0"> / consegna gratuita</span>
            <span class="paid-delivery" ng-if="product.delivery_price > 0"> / consegna: {{::product.delivery_price | currency}}</span>
          </div>
        </div>
        <div>
          <div ng-if="detail == 'high'" class="information block">
            <span class="portions" ng-if="product.sale_type == 1">Piatto venduto a peso</span>
            <span class="portions" ng-if="product.sale_type == 0">Minimo {{::product.min_portion}}, massimo {{::product.max_portion}} porzioni</span>
            <span ng-if="cook.distance >= 0" class="distance block">Distanza: {{::cook.distance | distance}}</span>
          </div>
          <div ng-if="detail == 'medium' || detail == 'high'" class="week-day text-center">
            <span class="title ">Disponibilità:</span>
            <span ng-if="(timeRange | timeRange)" ng-repeat="timeRange in product._timeRanges track by $index">{{::timeRange | timeRange}} </span>
            <span class="notice block">Preavviso: {{::product.notice_time}}h</span>
          </div>
          <ul>
            <li>Ritiro<i ng-class="{'icon_check_alt2 ok': product.pickup, 'icon_close_alt2 no': !product.pickup}"></i>
            </li>
            <li ng-if="cook.distance">Consegna
              <i
                ng-class="{'icon_check_alt2 ok': product.delivery && cook.distance <= cook.productor_info.max_distance, 'icon_close_alt2 no': !product.delivery || cook.distance > cook.productor_info.max_distance}"></i>
            </li>
            <li ng-if="!cook.distance">Consegna
              <i ng-class="{'icon_check_alt2 ok': product.delivery, 'icon_close_alt2 no': !product.delivery}"></i>
          </ul>
          <div class="max-distance" ng-if="product.delivery && cook.distance > cook.productor_info.max_distance">
            <span class="block">La distanza massima ricoperta dal cuoco è di {{cook.productor_info.max_distance | distance}}</span>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
<!-- End tile-->

<!-- Start item-->
<div ng-if="type == 'item' || type == 'item_admin'" class="item strip_list"
     ng-class="{'bk_waiting' : product.status == '0', 'bk_accepted' : product.status == '1', 'bk_refused' : product.status == '2'}">
  <div class="col-md-8 col-sm-6">
    <div class="desc">
      <div class="image-container">
        <a ui-sref="{{link}}">
          <div class="thumb_strip"></div>
        </a>
      </div>
      <div class="rating" ng-model="product.rate" readonly="true" aria-labelledby="default-rating">
        <i class="icon_star" ng-class="{voted : product.rate >= 1}"></i>
        <i class="icon_star" ng-class="{voted : product.rate >= 2}"></i>
        <i class="icon_star" ng-class="{voted : product.rate >= 3}"></i>
        <i class="icon_star" ng-class="{voted : product.rate >= 4}"></i>
        <i class="icon_star" ng-class="{voted : product.rate >= 5}"></i>
      </div>
      <a ng-if="type == 'item_admin'" ui-sref="{{cookLink}}" target="_blank">
        <span class="cook_link correct-break-word">{{::cook.name}} {{::cook.lastname}}</span>
      </a>
      <a ui-sref="{{link}}">
        <h3 class="correct-break-word">{{::product.name}}</h3>
      </a>
      <div class="type">
        {{::product.tags | limitTo:5 | join:' / ' }}<span ng-if="product.tags.length > 5" class="label-tag label-info"> +{{product.tags.length - 5}}</span>
      </div>
      <div class="info">
        <span class="block public-link" ng-if="product.status == 1"><a ui-sref="shop({productId: product._id})" target="_blank">Vai alla pagina pubblica del piatto</a></span>
        <span ng-if="product.sale_type == 1">Prezzo: <span
          class="cost-portion">{{::product.price | currency}}</span></span>
        <span ng-if="product.sale_type == 0">Porzione: <span class="cost-portion">{{::product.price | currency}}</span></span>

        <span class="notice">Preavviso: {{::product.notice_time}}h</span>. Stato: <span class="status waiting"
                                                                                        ng-if="product.status == '0'">{{::product.status | productStatus}} {{product._pictures.length <= 0 | iif : '(foto mancante)' : ''}}</span>
        <span class="status accepted" ng-if="product.status == '1'">{{::product.status | productStatus}}</span>
        <span class="status refused" ng-if="product.status == '2'">{{::product.status | productStatus}}</span>
        <div class="featured" ng-class="{invisible : !product.featured}">
          <span>In Vetrina</span> <i class="u-font u-icon-question"
                                     uib-popover="Un piatto viene messo in vetrina se presenta una ricetta molto ricercata e una foto davvero ben fatta'"
                                     popover-trigger="mouseenter" popover-append-to-body="true"></i>
        </div>

        <span class="block" ng-if="product.status == '2' && type != 'item_admin'">Controlla la tua email per scoprire il motivo del rifiuto. Ricordati che le nostre linee guida sono <a
          ui-sref="become-a-cooker" target="_blank">qui</a></span>

      </div>
      <ul>
        <li>Ritiro<i ng-class="{'icon_check_alt2 ok': product.pickup, 'icon_close_alt2 no': !product.pickup}"></i></li>
        <li>Consegna<i ng-class="{'icon_check_alt2 ok': product.delivery, 'icon_close_alt2 no': !product.delivery}"></i>
        </li>
      </ul>

    </div>
  </div>
  <div class="col-md-4 col-sm-6 text-center">
    <div class="product-button">
      <div class="row" ng-if="type == 'item_admin'">
        <div class="btn-group">
          <label class="btn-status btn btn-success" ng-model="product.status" uib-btn-radio="0"
                 ng-change="statusChange_aux(0, '{{product.status}}')">In attesa</label>
          <label class="btn-status btn btn-success" ng-model="product.status" uib-btn-radio="1"
                 ng-change="statusChange_aux(1, '{{product.status}}')">Accetta</label>
          <label class="btn-status btn btn-success" ng-model="product.status" uib-btn-radio="2"
                 ng-change="statusChange_aux(2, '{{product.status}}')">Rifiuta</label>
        </div>
      </div>
      <hr ng-if="type == 'item_admin'">
      <div class="row" ng-if="type == 'item_admin'">
        <div class="col-md-12 ">
          <input bs-switch ng-model="product.featured" type="checkbox" switch-size="small" switch-label-width="35px"
                 switch-handle-width="70px" switch-on-text="Vetrina" switch-off-text="No vetrina"
                 ng-change="productChange(product)">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ">
          <input bs-switch ng-model="product.active" type="checkbox" switch-size="small" switch-label-width="35px"
                 switch-handle-width="70px" switch-on-text="Visibile" switch-off-text="Nascosto"
                 ng-change="productChange(product)">
        </div>
      </div>

    </div>
  </div>
</div>

<!-- End item-->
