<div class="loader" ng-show="loading">
  <div class="sk-spinner sk-spinner-wave" id="status">
      <div class="sk-rect1"></div>
      <div class="sk-rect2"></div>
      <div class="sk-rect3"></div>
      <div class="sk-rect4"></div>
      <div class="sk-rect5"></div>
  </div>
<!--	<i class="icon-spin3 animate-spin"></i>-->
</div>
